
<div class="form-group row card-header m-t-1">
    <h3>Authorize Payment Getway Setting </h3>
</div>

<div class="form-group row">
    <label for="Title" class="col-sm-3 form-control-label">Mode: <b class="text-danger">&nbsp;*</b></label><div class="col-sm-8">
        <input type="text" class="form-control" id="Text1" placeholder="Mode" ng-model="PaymentMethodModel.Mode" required maxlength="30">
    </div>
</div>
<div class="form-group row">
    <label for="Title" class="col-sm-3 form-control-label">Payment Url: <b class="text-danger">&nbsp;*</b></label><div class="col-sm-8">
        <input type="text" class="form-control" id="Title" placeholder="Payment Url" ng-model="PaymentMethodModel.PaymentUrl" required maxlength="30">
    </div>
</div>
<div class="form-group row">
    <label for="Description" class="col-sm-3 form-control-label">Merchant Login Id: </label>
    <div class="col-sm-8">
        <input type="text" class="form-control" id="Description" placeholder="Merchant Login Id" ng-model="PaymentMethodModel.MerchantLoginId" maxlength="30">
    </div>
</div>

<div class="form-group row">
    <label for="Description" class="col-sm-3 form-control-label">Merchant Transaction Key: </label>
    <div class="col-sm-8">
        <input type="text" class="form-control" id="Text2" placeholder="Merchant Transaction Key" ng-model="PaymentMethodModel.MerchantTransactionKey" maxlength="30">
    </div>
</div>


