<div class="col-sm-12">
    <label for="Title" class="col-sm-3 form-control-label">Mode: </label>
    <div class="col-sm-8">
        <label class="form-control-label" id="Text1" ng-model="AuthorizePaymentdetails.Mode">{{AuthorizePaymentdetails.Mode}}</label>
    </div>
</div>
<div class="col-sm-12">
    <label for="PaymentUrl" class="col-sm-3 form-control-label">Payment Url: </label><div class="col-sm-8">
        <label class="form-control-label" id="PaymentUrl" ng-model="AuthorizePaymentdetails.PaymentUrl">{{AuthorizePaymentdetails.PaymentUrl}}</label>
    </div>
</div>
<div class="col-sm-12">
    <label for="MerchantLoginId" class="col-sm-3 form-control-label">Merchant Login Id: </label>
    <div class="col-sm-8">
        <label class="form-control-label" id="MerchantLoginId" ng-model="AuthorizePaymentdetails.MerchantLoginId">{{AuthorizePaymentdetails.MerchantLoginId}}</label>
    </div>
</div>

<div class="col-sm-12">
    <label for="MerchantTransactionKey" class="col-sm-3 form-control-label">Merchant Transaction Key: </label>
    <div class="col-sm-8">
        <label class="form-control-label" id="MerchantTransactionKey" ng-model="AuthorizePaymentdetails.MerchantTransactionKey">{{AuthorizePaymentdetails.MerchantTransactionKey}}</label>
    </div>
</div>
