<div class="form-group row">
    <div class="col-sm-12">
        <label for="TransferPurpose">Transfer Purpose: <b class="text-danger">&nbsp;*</b></label>
        <div class="col-sm-12 p-a-0">
            <input type="text" class="form-control" id="TransferPurpose" placeholder="Transfer Purpose" ng-model="PaymentModel.TransferPurpose" required aria-required="true" aria-invalid="true">
        </div>
    </div>
    <div class="col-sm-12">
        <label for="TransactionDetail">Description: <b class="text-danger">&nbsp;*</b></label>
        <div class="col-sm-12 p-a-0">
            <input type="text" class="form-control" id="TransactionDetail" placeholder="Transaction Detail" ng-model="PaymentModel.TransactionDetail" required maxlength="50">
        </div>
    </div>

    <div class="col-sm-12">
        <label for="DeliveryType">Delivery Type: <b class="text-danger">&nbsp;*</b></label>
        <div class="col-sm-12 p-a-0">
            <input type="text" class="form-control" id="DeliveryType" placeholder="Delivery Type" ng-model="PaymentModel.DeliveryType" required aria-required="true" aria-invalid="true">
        </div>
    </div>

    <div class="col-sm-12 m-t-1">
        <div class="pull-right padding">
            <button type="submit" class="btn btn-primary"
                ng-disabled="!PaymentModel.TransferPurpose"
                 onclick="$('#PAYMENT a').trigger('click'); $('#PAYMENT').addClass('active');">Next</button>
        </div>
    </div>
</div>
