<!doctype html>
<html ng-app="app" lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1" />
    <meta name="msapplication-tap-highlight" content="no">

    <meta name="mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Milestone">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Milestone">
   
    <meta name="theme-color" content="#4C7FF0">
  
    <title>Phone Reloads</title>

    <link rel="stylesheet" href="" id="load_styles_before" />

    <!-- build:css({.tmp,app}) styles/app.min.css -->
    <link rel="stylesheet" ng-if="$state.current.title !='customerPortal' && $state.current.title !='sendMoney'" href="vendor/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" ng-if="$state.current.title !='customerPortal'&& $state.current.title !='sendMoney'" href="vendor/pace/themes/blue/pace-theme-minimal.css" />
    <link rel="stylesheet" ng-if="$state.current.title !='customerPortal'&& $state.current.title !='sendMoney'" href="vendor/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" ng-if="$state.current.title !='customerPortal'&& $state.current.title !='sendMoney'" href="vendor/animate.css/animate.css" />
    <link rel="stylesheet" ng-if="$state.current.title !='customerPortal'&& $state.current.title !='sendMoney'" href="styles/app.css" />
    <link rel="stylesheet" ng-if="$state.current.title !='customerPortal'&& $state.current.title !='sendMoney'" href="styles/app.skins.css" />
    <link href="styles/bootstrap-datepicker.min.css" ng-if="$state.current.title !='customerPortal' && $state.current.title !='sendMoney'" rel="stylesheet" />
    <link href="styles/custom-style.css" ng-if="$state.current.title !='customerPortal'&& $state.current.title !='sendMoney'" rel="stylesheet" />
    <link href="styles/bootstrap-datepicker.min.css" rel="stylesheet" />
    <!-- endbuild -->
    

    <!-- customerProtal page includes -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700" ng-if="$state.current.title == 'customerPortal' || $state.current.title =='sendMoney'" rel="stylesheet">
    <!--Font Awesome-->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" ng-if="$state.current.title == 'customerPortal' || $state.current.title =='sendMoney'" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <!-- Bootstrap CSS -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" ng-if="$state.current.title == 'customerPortal' || $state.current.title =='sendMoney'" rel="stylesheet">
    <link rel="stylesheet" ng-if="$state.current.title == 'customerPortal' || $state.current.title =='sendMoney'" href="assets/css/bootstrap.min.css">
    <!--custom css-->
    <link rel="stylesheet" ng-if="$state.current.title == 'customerPortal' || $state.current.title =='sendMoney'" href="assets/css/custom-style.css">
    
 
    <!-- /customerProtal page includes -->
    
</head>

<body ng-controller="AppCtrl" class="{{ main.app.theme }}">

    <div class="app {{ $state.current.classes }}" ng-class="{'offcanvas': main.app.offcanvas, 'expanding': main.app.expanding, 'fixed-header': main.app.fixedHeader, 'boxed': main.app.boxed, 'static': main.app.static, 'message-open': main.app.isMessageOpen, 'contact-open': main.app.isContactOpen}" ui-view>

        <!-- <div class="httpprocess" id="Processbar" ng-show="process">
        <img src="./assets/image/spinner.gif" />
    </div>-->


    </div>

    <!--  <script src="https://maps.googleapis.com/maps/api/js" async defer></script>
    <script type="text/javascript">
        window.paceOptions = {
            document: true,
            eventLag: true,
            restartOnPushState: true,
            restartOnRequestAfter: true,
            ajax: {
                trackMethods: ['POST', 'GET']
            }
        };
    </script>-->

    <!-- build:js({.tmp,app}) scripts/app.min.js -->
    <script src="vendor/jquery/dist/jquery.js"></script>
    <script src="vendor/pace/pace.js"></script>
    <script src="vendor/angular/angular.js"></script>
    <script src="vendor/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="vendor/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="vendor/angular-sanitize/angular-sanitize.js"></script>
    <script src="vendor/angular-touch/angular-touch.js"></script>
    <script src="vendor/angular-resource/angular-resource.js"></script>
    <script src="vendor/angular-animate/angular-animate.js"></script>
    <!--<script src="vendor/ui-jq/jq.js"></script>-->

    <script src="vendor/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>


    <script src="vendor/ngstorage/ngStorage.js"></script>
    <script src="vendor/angular-cookies/angular-cookies.js"></script>
    <script src="vendor/ocLazyLoad/dist/ocLazyLoad.js"></script>
    <script src="vendor/angular-translate/angular-translate.js"></script>
    <script src="vendor/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>
    <script src="vendor/angular-translate-storage-cookie/angular-translate-storage-cookie.js"></script>
    <script src="vendor/angular-translate-storage-local/angular-translate-storage-local.js"></script>
    <script src="vendor/fastclick/lib/fastclick.js"></script>
    <script src="vendor/tether/dist/js/tether.js"></script>
    <script src="vendor/bootstrap/dist/js/bootstrap.js"></script>
    <script src="vendor/datepicker/bootstrap-datepicker.min.js"></script>

    <!-- costomerPortal js files -->
    <script src="assets/js/bootstrap.bundle.min.js" ng-if="$state.current.title == 'customerPortal' || $state.current.title =='sendMoney'"></script>
    <script src="assets/js/jquery.payform.min.js" ng-if="$state.current.title == 'customerPortal' || $state.current.title =='sendMoney'"></script>

    <!-- /costomerPortal js files -->

    <script src="scripts/module.js"></script>
    <script src="scripts/constants.js"></script>
    <script src="scripts/controller.js"></script>
    <script src="scripts/routes.js"></script>

    <script src="scripts/language.js"></script>
    <script src="scripts/directives/navigation.js"></script>
    <script src="scripts/directives/offscreen.js"></script>
    <script src="scripts/directives/card-control-collapse.js"></script>
    <script src="scripts/directives/card-control-refresh.js"></script>
    <script src="scripts/directives/card-control-remove.js"></script>
    <script src="vendor/d3/d3.min.js"></script>

    <script src="vendor/ui-jq/jq.min.js"></script>
    <!-- endbuild -->

    <!-- controllers -->
    <script src="scripts/controllers/session.js"></script>
    <script src="scripts/controllers/appCtrls/CustomerLogin.js"></script>
    <script src="scripts/controllers/appCtrls/user.js"></script>
    <script src="scripts/controllers/appCtrls/fees.js"></script>
    <script src="scripts/controllers/appCtrls/transactionFeeSharing.js"></script>

</body>
</html>
