<header class="navbar navbar-expand-md flex-column flex-sm-row header-container-wrapper pt-0 pb-0 pl-md-0 pr-md-0">
    <div class="container flex-column flex-sm-row" ng-controller="manageSendingloopLoginController">
        <a class="navbar-brand" ui-sref='app.customerPortal'>
            <img src="images/logo.png" class="img-responsive" width="200px" />
        </a>
        <ul class="navbar-nav navbar-user-panel d-flex flex-row justify-content-sm-end order-md-2" ng-if="IsLogin">
            <li class="nav-item" ng-click="logoutGustCustomer()"><a class="nav-link"><i class="fa fa-sign-out" aria-hidden="true" ng-click="logoutGustCustomer()"></i>&nbsp;Log out</a></li>
            <li class="nav-item d-sm-block d-md-none"><a class="nav-link" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars" aria-hidden="true"></i></a></li>
        </ul>
        <div class="collapse navbar-collapse justify-content-start justify-content-md-end order-md-1" id="navbarResponsive">
            <ul class="navbar-nav ">
                <li class="nav-item" ng-if="!IsLogin"><a class="nav-link" ui-sref='app.sending_loop_login' >Log In</a></li>
                <li class="nav-item" ng-if="!IsLogin"><a class="nav-link" ui-sref='app.sending_loop_ragister' >Sign Up</a></li>
                

            </ul>
        </div>
    </div>
</header>
<div class="ox-hidden" ng-controller="manageIndexController">
    <!--<div class="container mt-12">
        <div class="row">
            <div class="col-sm-12 mb-4">
                <img src="images/logo.png" class="img-responsive" width="200px" style="margin-top: 20px;"/>
            </div>
        </div>
    </div>-->
    <div>
        <img src="images/home-banner.jpg" class="img-responsive" width="100%" style="padding-top:95px;"/>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 py-4" id="panel">
                <ul class="nav justify-content-center">
                    <li class="nav-item mx-4"><a href="#sendmoney-sec" target="_self" class="nav-link px-4 fs-24 text-light-gray">Send Money</a></li>
                    <li class="nav-item mx-4"><a href="#phonereload-sec" target="_self" class="nav-link px-4 fs-24 text-light-gray">Reload Phones</a></li>
                </ul>
                <hr>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row py-5" id="sendmoney-sec">
            <div class="col-sm-6">
                <img src="images/send-money.jpg" class="img-responsive" width="100%"/>
            </div>
            <div class="col-sm-6 align-self-middle">
                <h3>Send money in seconds</h3>
                <span class="heading-border-bottom"></span>
                <p>Bridge the distance between you and the people you love. Send money to 70 countries anytime, anywhere.</p>
                <p>We’ll get your transfer there faster. Each and every time.</p>
                <button class="btn btn-primary btn-sm px-3" ui-sref='app.SendMoneyAmount'>
                    <span class="fs-30">Send Money</span>
                    <br>
                    Where are you sending Money?</button>
            </div>
        </div>
    </div>
    <div><img src="images/div.jpg" class="img-responsive" width="100%"/></div>
    <div class="container">
        <div class="row py-5" id="phonereload-sec">
            <div class="col-sm-6">
                <h3>Reload phones instantly</h3>
                <span class="heading-border-bottom"></span>
                <p>Keep family and friends connected. Give airtime anytime, for any occasion. It's easy — you just need their phone number.</p>
                <p>We'll send the reload instantly and your loved one will get a text the moment it arrives.</p>
                <button class="btn btn-primary btn-sm px-3" ui-sref='app.customerPortal'>
                    <span class="fs-30">Reload Phones</span>
                    <br>
                    Where are you sending Reloads?</button>
            </div>
            <div class="col-sm-6">
                 <img src="images/phone-reloads.jpeg" class="img-responsive" width="100%"/>
            </div>
        </div>
    </div>

    <div><img src="images/div.jpg" class="img-responsive" width="100%"/></div>
    <div class="container my-4">
        <div class="row">
            <div class="col-sm-6 text-center">
                <span class="lock-icon"></span>
                <h4 class="mt-1">We’ve got your back</h4>
                <p>We are committed to securing your financial information and employ proven technology to protect and secure your personal information.</p>
            </div>
            <div class="col-sm-6 text-center">
                <span class="security-icon"></span>
                <h4 class="mt-1">Money-back guarantee</h4>

                <p>We stand behind the Sendingloop. If your money doesn't get there, we'll refund it in full. Call us anytime if you need help.</p>
            </div>
        </div>
    </div>


    <div class="row footercol">
        <div class="col-md-3 ftr-bdr">
            <div class="ftr-img">
                <img src="assets/image/footer-icon01.png" class="" />
            </div>
            <div>
                <h5>24/7 HELP</h5>
                <p>Call us 1-800-970-9618</p>
            </div>
        </div>
        <div class="col-md-3 ftr-bdr">
            <div class="ftr-img">
                <img src="assets/image/footer-icon02.png" class="" />
            </div>
            <div>
                <h5>Trusted Pay</h5>
                <p>100% Payment Protection &amp; Easy Return</p>
            </div>
        </div>
        <div class="col-md-3 ftr-bdr">
            <div class="ftr-img">
                <img src="assets/image/footer-icon03.png" class="" />
            </div>
            <div>
                <h5>Secured Payment</h5>
                <p>All Major Credit &amp; Debit Cards Accepted</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="ftr-img">
                <img src="assets/image/footer-icon04.png" class="" />
            </div>
            <div>
                <h5>REGHARGE on app</h5>
                <p>Just Download our App to get Best Offers</p>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="newsletter-bg"></div>
        <div class="newsletter">
            <img src="assets/image/signup-newsletter.png" width="72%" />
        </div>
    </div>
    <div class="container">
    <div class="row footercol last">
        <div class="col-md-3 ftr-txt">
            <div>
                <p>
                    <img src="assets/image/ftr-logo.png" width="45%" />
                </p>
                <p>Your Money | Your Best Option | Your Best Solution!</p>
                <p>
                    Address: FalconLoop Inc.
                <br>
                    506 Second Ave. Suite 1400<br>
                    Seattle WA, 98104<br>
                    United States of America<br>
                    1-800-970-9618
                </p>
            </div>
        </div>
        <div class="col-md-3 ftr-txt">
            <h5>ABOUT US</h5>
            <p>FalconLoop’s Vision is to virtually create a service that delivers greater benefits by being simple, secure, fast, compatible, and reliable. Our mission is to give customers the benefits they expect, where they expect and how they expect to be provided.</p>
        </div>
        <div class="col-md-3 ftr-txt">
            <h5>HELP &amp; SUPPORT</h5>
            <ul>
                <li><a target="_blank" ui-sref='app.Contact_us'>Contact</a></li>
                <li><a target="_blank" ui-sref='app.Supported_Currencies'>Supported Currencies</a></li>
                <li><a target="_blank" ui-sref='app.Swift_BIC_Codes'>Swift/BIC Codes</a></li>
                <li><a target="_blank" ui-sref='app.Track_Transfers'>Track Transfers</a></li>
                <li><a target="_blank" ui-sref='app.Rate_Alerts'>Rate Alerts</a></li>
            </ul>
        </div>
        <div class="col-md-3 ftr-txt">
            <h5>SECURITY &amp; PRIVACY</h5>
            <ul>
                <li><a target="_blank" ui-sref='app.US_state_lcensing'>U.S. State Licensing</a></li>
                <li><a target="_blank" ui-sref='app.International_Licensing'>International Licensing</a></li>
                <li><a target="_blank" ui-sref='app.Security_Center'>Security Center</a></li>
                <li><a target="_blank" ui-sref='app.privacy_policy'>Privacy Policy</a></li>
                <li><a target="_blank" ui-sref='app.User_agreement'>User Agreement</a></li>
            </ul>
        </div>
    </div>
</div>
</div>
<footer class="footer-container-wrapper pt-4 pb-2 ox-hidden">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <p>Copyright 2017 © Falconloop. All Rights Reserved.</p>
            </div>
        </div>
    </div>
</footer>