<nav class="footer-right" ng-if="$state.current.title !='customerPortal'">
  <ul class="nav">
    <li>
      <a href="javascript:;" translate="footer.FEEDBACK"></a>
    </li>
  </ul>
</nav>
<nav class="footer-left" ng-if="$state.current.title !='customerPortal'">
  <ul class="nav">
    <li>
      <a href="javascript:;">
        <span translate="footer.COPY"></span>
        &copy; 2017 {{ main.app.name }}
      </a>
    </li>
    <li class="hidden-md-down">
      <a href="javascript:;" translate="footer.PRIVACY"></a>
    </li>
    <li class="hidden-md-down">
      <a href="javascript:;" translate="footer.TERMS"></a>
    </li>
    <li class="hidden-md-down">
      <a href="javascript:;" translate="footer.HELP"></a>
    </li>
  </ul>
</nav>
