
<div class="container" ng-controller="addEditTransactionFeesController">
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header m-t-1">
                    <h3>Add New Transaction Fee Sharing  </h3>
                </div>
                
                <div class="card-block">
                    <form role="form" class="ng-pristine ng-valid" name="tblTransactionFeesSharing" ui-jq="validate">
                        <div>
                            <select name="Company" id="ddlCompany" ng-model="SelectedCompnay" class="form-control" ng-change="selectedCompany(SelectedCompnay)" required ng-init="SelectedCompnay='0'">
                                <option value="0" disabled>-- Select Company --</option>
                                <option ng-repeat="Company in Companies" value="{{Company.CompanyId}}">{{Company.CompanyName}}</option>
                            </select>
                            <span class="text-danger" ng-show="tblTransactionFeesSharing.$valid && SelectedCompnay == 0">Please select Company.</span>
                        </div>
                        <div class="radio  m-t-1">
                            <label><input type="radio" name="radioResult"  ng-value="{{TransactionFeeSharingDetails.UniversalFee}}" ng-model="TransactionFeeSharingDetails.UniversalFee" ng-init="$index==0?(TransactionFeeSharingDetails.UniversalFee=1):''" > Universal Transaction Fee Sharing</label>
                        </div>
                    <div ng-if="TransactionFeeSharingDetails.UniversalFee==1">
                            <div class="form-group">
                                <input type="number" class="form-control" id="yourShare" placeholder="Your Share (%): 100%" required min="0" max="100" onkeyup="fun_AllowOnlyAmountAndDot(this)" ng-model="TransactionFeeSharingDetails.YourShare">
                            </div>
                            <div class="form-group">
                                <input type="number" class="form-control" id="payInAgent" placeholder="Pay-In Agent (%): 0%" required min="0" max="100" onkeyup="fun_AllowOnlyAmountAndDot(this)" ng-model="TransactionFeeSharingDetails.PayInAgentShare">
                            </div>

                            <div class="form-group">
                                <input type="number" class="form-control" id="payOutAgent" placeholder="Pay-Out Agent (%): 0%" required min="0" max="100" onkeyup="fun_AllowOnlyAmountAndDot(this)" ng-model="TransactionFeeSharingDetails.PayOutAgentShare">
                            </div>
                            <button type="submit" class="btn btn-default">Cancel</button>
                            <button type="submit" class="btn btn-primary" ng-disabled="!tblTransactionFeesSharing.$valid || SelectedCompnay=='0'">Save</button>
                            <div class="code-label m-y-1">
                                <label for="">UNIVERSAL TRANS. SHARING FEE REF. CODE {{code}}</label>
                            </div>
                        </div>

                        <div class="radio">
                            <label><input type="radio" name="radioResult" value="Customize" ng-model="TransactionFeeSharingDetails.UniversalFee">Customize Transaction Fee Sharing  for individual Payment Delivery Method</label>
                        </div>
                        
                        <div  ng-if="TransactionFeeSharingDetails.UniversalFee=='Customize'">
                            

                            <div class="form-group">
                                <label for="sel1">Delivery Method</label>
                                
                                    <select name="methodType" id="DeliveryMethodType" ng-model="CustomizeTransactionFeeData.PaymentMethodId" class="form-control" required ng-init="CustomizeTransactionFeeData.PaymentMethodId='0'">
                                        <option value="0" disabled>--Delivery Method--</option>
                                        <option ng-repeat="Country in DeliveryMethod" value="{{Country.PaymentMethodId}}">{{Country.Title}}</option>
                                    </select>
                                    <span class="text-danger" ng-show="tblTransactionFeesSharing.$valid && CustomizeTransactionFeeData.PaymentMethodId=='0'">Please select Delivery Method.</span>
                                
                            </div>
                            <div class="form-group">
                                <label for="your-share">Your Share (%)</label>
                                <input type="number" id="your-share" class="form-control" required min="0" max="100" onkeyup="fun_AllowOnlyAmountAndDot(this)" ng-model="CustomizeTransactionFeeData.YourShare">
                            </div>


                            <div class="form-group">
                                <label for="sel1">Pay-In Agent</label>
                                <select name="Agent" id="ddlAgent" ng-model="CustomizeTransactionFeeData.PayInAgentId" class="form-control" required ng-init="CustomizeTransactionFeeData.PayInAgentId='0'">
                                    <option value="0" disabled>-- Select Aggent --</option>
                                    <option ng-repeat="Agent in ManageAgent" value="{{Agent.AgentId}}">{{Agent.AgentFirstName}}</option>
                                </select>
                                <span class="text-danger" ng-show="tblTransactionFeesSharing.$valid && CustomizeTransactionFeeData.PayInAgentId=='0'">Please select Pay-In Agent.</span>
                            </div>

                            <div class="form-group">
                                <label for="your-share">pay in agent(%)</label>
                                <input type="number" id="payAgentShare" required min="0" max="100" onkeyup="fun_AllowOnlyAmountAndDot(this)" class="form-control" ng-model="CustomizeTransactionFeeData.PayInAgentShare">
                            </div>


                            <div class="form-group">
                                <label for="sel1">Pay-Out Agent</label>
                                <select name="Agent" id="ddlAgent" ng-model="CustomizeTransactionFeeData.PayOutAgentId" class="form-control" required ng-init="CustomizeTransactionFeeData.PayOutAgentId='0'">
                                    <option value="0" disabled>-- Select Aggent --</option>
                                    <option ng-repeat="Agent in ManageAgent" value="{{Agent.AgentId}}">{{Agent.AgentFirstName}}</option>
                                </select>
                                <span class="text-danger" ng-show="tblTransactionFeesSharing.$valid && CustomizeTransactionFeeData.PayOutAgentId=='0'">Please select Pay-Out Agent.</span>
                            </div>
                            <div class="form-group">
                                <label for="your-share">pay out agent(%)</label>
                                <input type="number" id="payOutAgentshare" required min="0" max="100" onkeyup="fun_AllowOnlyAmountAndDot(this)" class="form-control" ng-model="CustomizeTransactionFeeData.PayOutAgentShare">
                            </div>

                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="checkbox"  class="form-check-input" value="" ng-model="CustomizeTransactionFeeData.IsPayOutAgent">
                                </label>
                            </div>

                            <button type="submit" class="btn btn-default">Cancel</button>
                            <button type="submit" class="btn btn-primary" ng-disabled="!tblTransactionFeesSharing.$valid || SelectedCompnay=='0'">Save</button>
                            <div class="code-label m-y-1">
                                <label for="">UNIVERSAL TRANS. SHARING FEE REF. CODE FLUTSF00001</label>
                            </div>
                        </div>
                       

                    </form>
                </div>
            </div>
            </div>
    </div>
</div>
<script type="text/javascript">
    function fun_AllowOnlyAmountAndDot(val) {
        debugger;
        var dots = 0;
        var txt = val.value;
        var id = val.id;
        var count = (txt.match(/\./g) || []).length;
        if (count > 1) {
            txt = txt.slice(0, -1);
            $("#"+id).val(txt);

            return false;
        }
        if (txt.indexOf('.') != -1) {
            var arr = txt.split('.');
            if (arr[1].length > 2) {
                txt = txt.slice(0, -1);
                $("#"+id).val(txt);
            }
            return true;
        }




    }
</script>