
<div class="container" ng-controller="addEditTransactionFeesController">
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header m-t-1">
                    <h3>{{header}} Transaction Fee Sharing  </h3>
                </div>
                
                <div class="card-block">
                    <form role="form" class="ng-pristine ng-valid" name="tblTransactionFeesSharing" ui-jq="validate">
                        <div>
                            <select name="Company" id="ddlCompany" ng-model="SelectedCompnay" class="form-control" ng-change="selectedCompany(SelectedCompnay)" required ng-init="SelectedCompnay='0'">
                                <option value="0" disabled>-- Select Company --</option>
                                <option ng-repeat="Company in Companies" value="{{Company.CompanyId}}">{{Company.CompanyName}}</option>
                            </select>
                            <span class="text-danger" ng-show="tblTransactionFeesSharing.$valid && SelectedCompnay == 0">Please select Company.</span>
                        </div>
                     
                        <div class="radio  m-t-1">
                            <label><input type="radio" name="radioResult"  value="Universal" ng-model="TransactionFeeSharingDetails.TransactionFeeType" ng-init="TransactionFeeSharingDetails.TransactionFeeType='Universal'" > Universal Transaction Fee Sharing</label>
                        </div>
                       
                    <div ng-if="TransactionFeeSharingDetails.TransactionFeeType=='Universal'">
                            <div class="form-group">
                                <input type="number" class="form-control" id="yourShare" placeholder="Your Share (%): 100%" required min="0" max="100" onkeyup="fun_AllowOnlyAmountAndDot(this)" ng-model="TransactionFeeSharingDetails.YourShare">
                            </div>
                            <div class="form-group">
                                <input type="number" class="form-control" id="payInAgent" placeholder="Pay-In Agent (%): 0%" required min="0" max="100" onkeyup="fun_AllowOnlyAmountAndDot(this)" ng-model="TransactionFeeSharingDetails.PayInAgentPer">
                            </div>

                            <div class="form-group">
                                <input type="number" class="form-control" id="payOutAgent" placeholder="Pay-Out Agent (%): 0%" required min="0" max="100" onkeyup="fun_AllowOnlyAmountAndDot(this)" ng-model="TransactionFeeSharingDetails.PayOutAgentPer">
                            </div>
                 
                            <button type="submit" class="btn btn-default" ng-click="cancel()">Cancel</button>
                            <button type="submit" class="btn btn-primary" ng-disabled="!tblTransactionFeesSharing.$valid || SelectedCompnay=='0'" ng-click="SaveUnivarsalFee()">{{TransactionFeeSharingDetails.TransactionFeeSharingId !=0 ?'Update':'Save' }}</button>
                            <div class="code-label m-y-1">
                                <label for="">UNIVERSAL TRANS. SHARING FEE REF. CODE {{code}}</label>
                            </div>
                        </div>

                        <div class="radio">
                            <label><input type="radio" name="radioResult" id="cust_radio" value="Specific" ng-model="TransactionFeeSharingDetails.TransactionFeeType">Customize Transaction Fee Sharing  for individual Payment Delivery Method</label>
                        </div>
                        
                        <div  ng-if="TransactionFeeSharingDetails.TransactionFeeType=='Specific'">
                            
                            
                            <div class="form-group">
                                <label for="sel1" class="form-control-label">Delivery Method</label>
                                <div>
                                    <select  class="form-control"  name="methodType" id="PaymentMethod" ng-model="CustomizeTransactionFeeData.PaymentMethod"  required>
                                        <option value="-1" disabled>--Delivery Method--</option>
                                        <option value="Bank Transfer">Bank Transfer</option>
                                        <option value="Cash PickUp">Cash PickUp</option>


                                    </select>
                                    <span class="text-danger" ng-show="tblTransactionFeesSharing.$valid && CustomizeTransactionFeeData.PaymentMethod=='-1' ">Please select Payment Method.</span>
                                </div>
                              
                                
                            </div>
                            <div class="form-group">
                                <label for="your-share">Your Share (%)</label>
                                <input type="number" id="your-share" class="form-control" required min="0" max="100" onkeyup="fun_AllowOnlyAmountAndDot(this)" ng-model="CustomizeTransactionFeeData.YourShare">
                            </div>


                            <div class="form-group" ng-if="CustomizeTransactionFeeData.PaymentMethod!='-1' && CustomizeTransactionFeeData.PaymentMethod!='Bank Transfer'">
                                <label for="sel1">Pay-In Agent</label>
                                <select name="Agent" id="ddlAgent" ng-model="CustomizeTransactionFeeData.PayInAgent" class="form-control" required >
                                    <option value="-1" disabled>-- Select Agent --</option>
                                    <option ng-repeat="Agent in ManageAgent" value="{{Agent.AgentId}}" ng-hide="Agent.AgentId==-1">{{Agent.AgentFirstName}}</option>
                                </select>
                                <span class="text-danger" ng-show="tblTransactionFeesSharing.$valid && CustomizeTransactionFeeData.PayInAgentId=='-1'">Please select Pay-In Agent.</span>
                            </div>

                            <div class="form-group" ng-if="CustomizeTransactionFeeData.PaymentMethod!='-1'  && CustomizeTransactionFeeData.PaymentMethod!='Bank Transfer'">
                                <label for="your-share">pay in agent(%)</label>
                                <input type="number" id="payAgentShare" required min="0" max="100" onkeyup="fun_AllowOnlyAmountAndDot(this)" class="form-control" ng-model="CustomizeTransactionFeeData.PayInAgentPer">
                            </div>


                            <div class="form-group" ng-if="CustomizeTransactionFeeData.PaymentMethod!='-1'">
                                <label for="sel1">Pay-Out Agent</label>
                                <select name="Agent" id="ddlAgent" ng-model="CustomizeTransactionFeeData.PayOutAgent" class="form-control" required >
                                    <option value="-1" disabled>-- Select Agent --</option>
                                    <option ng-repeat="Agent in ManageAgent" value="{{Agent.AgentId}}" ng-hide="Agent.AgentId==-1">{{Agent.AgentFirstName}}</option>
                                </select>
                                <span class="text-danger" ng-show="tblTransactionFeesSharing.$valid && CustomizeTransactionFeeData.PayOutAgentId=='-1'">Please select Pay-Out Agent.</span>
                            </div>
                            <div class="form-group" ng-if="CustomizeTransactionFeeData.PaymentMethod!='-1'">
                                <label for="your-share">pay out agent(%)</label>
                                <input type="number" id="payOutAgentshare" required min="0" max="100" onkeyup="fun_AllowOnlyAmountAndDot(this)" class="form-control" ng-model="CustomizeTransactionFeeData.PayOutAgentPer">
                            </div>

                            <!--<div class="form-check">
                                <label class="col-sm-3 form-control-label">
                                    Is Active :
                                </label>
                                <div class="col-sm-9">
                                    <input type="checkbox" class="form-check-input" value="" ng-model="CustomizeTransactionFeeData.IsSpecific">
                                </div>

                            </div>-->
                            <div class="form-check p-b-1 m-b-0">
                                <button type="button" class="btn btn-default btn-disabled" ng-class="{'cm-stackingorder':!CustomizeTransactionFeeData.IsSpecific}" id="disabledBtn" ng-click="setDisabled()">Disabled</button>
                                <button type="button" class="btn btn-default btn-enabled" ng-click="setEnabled()">Enabled</button>
                            </div>

                          <div class="cm-align-btn">
                              <button type="submit" class="btn btn-default" ng-click="cancel()">Cancel</button>
                              <button type="submit" class="btn btn-primary" ng-disabled="!tblTransactionFeesSharing.$valid || SelectedCompnay=='0'" ng-click="SaveSpecificfee()">{{CustomizeTransactionFeeData.TransactionFeeSharingId !=0 ?'Update':'Save' }}</button>
                          </div>
                           
                            
                        </div>
                       

                    </form>
                    <div class="modal fade " tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="deleteconfirm">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header text-danger">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title ">!Warning  </h4>
                                </div>

                                <div class="modal-body">
                                    <h6 class="modal-title">{{Error}} </h6>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Ok</button>
                                    <!--<button type="button" class="btn btn-primary" data-dismiss="modal">No</button>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
    </div>
</div>
<script type="text/javascript">
    function fun_AllowOnlyAmountAndDot(val) {
        debugger;
        var dots = 0;
        var txt = val.value;
        var id = val.id;
        var count = (txt.match(/\./g) || []).length;
        if (count > 1) {
            txt = txt.slice(0, -1);
            $("#"+id).val(txt);

            return false;
        }
        if (txt.indexOf('.') != -1) {
            var arr = txt.split('.');
            if (arr[1].length > 2) {
                txt = txt.slice(0, -1);
                $("#"+id).val(txt);
            }
            return true;
        }




    }
</script>