
<div class="padding" ng-controller="transactionFeeSharingController">
    <div class="card">
        <div class="card-header m-t-1">
            <div class="col-sm-4 pull-right">
                <button type="submit" class="btn btn-primary pull-right" ng-click="AddFeeSharing()"><i class="glyphicon glyphicon-plus"></i> Add Transaction Fees Sharing </button>
            </div>
        </div>

        <div class="card-block p-a-0">

            <table id="tblFees" class="table m-b-none" ui-jp="footable" data-filter="#filter" data-page-size="10">
                <thead>
                    <tr >
                        <th>Payment Method </th>
                        <th>Company Name</th>
                        <th>Created Date</th>
                        <th>Pay-In Agent Name</th>
                        <th>Pay-Out Agent Name</th>
                        <th>Your Share %</th>
                        <th>Pay-In Agent Share %</th>
                        <th>Pay-Out Agent Share %</th>
                         <th>Transaction Fee Type</th>
                        <th>Code</th>
                       <th  class="w-180">Action</th>
                       <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody ng-if="TransactionFeeDetails[0].TransactionFeeSharingId!=0">
                    <tr class="Active cm-td-spacing" ng-repeat="Fees in TransactionFeeDetails ">
                        <td><small>{{Fees.PaymentMethod}} </small></td>
                        <td><small>{{Fees.CompanyName}} </small></td>
                        <td><small>{{Fees.CreatedDate  }}</small></td>
                        <td><small>{{Fees.PayInAgentName }}</small></td>
                        <td><small>{{Fees.PayOutAgentName }}</small></td>
                        <td><small>{{Fees.YourShare | number:2}}</small></td>
                        <td><small>{{Fees.PayInAgentPer | number:2}}</small></td>
                        <td><small>{{Fees.PayOutAgentPer | number:2}}</small></td>
                        <td><small>{{Fees.TransactionFeeType }}</small></td>
                        <td><small>{{Fees.Code }}</small></td>
                        <td>

                            <button type="button" class="btn btn-default btn-disabled-td" ng-class="{'cm-stackingorder':!Fees.IsSpecific}" id="checkDisabled" ng-click="setDisabled(Fees.TransactionFeeSharingId,false)">Disabled</button>
                            <button type="button" id="isEnabled" class="btn btn-default btn-enabled-td" ng-click="setDisabled(Fees.TransactionFeeSharingId,true)">Enabled</button>


                        </td>
                        <!--<td><input type="checkbox" name="check" value='{{Fees.IsSpecific}}' ng-model="Fees.IsSpecific" disabled="true" /></td>-->
                        <td>
                            <button type="submit" class="btn btn-sm btn-primary"  ng-click="EditFee(Fees.TransactionFeeSharingId)">Edit</button>
                        </td>
                        <td>
                            <button type="submit" class="btn btn-sm btn-danger" data-toggle="modal"   ng-click="deleteTransactionFeeSharing(Fees.TransactionFeeSharingId)">Delete </button>
                        </td>
                    </tr>
                </tbody>
               
              
                <tfoot class="hide-if-no-paging">
                    <tr>
                        <td colspan="12" class="text-center">
                            <ul class="pagination"></ul>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>


        <!-- Large modal -->
        <!--  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#deleteconfirm">Large modal</button>-->
        <div class="modal fade " tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="deleteconfirm">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header text-danger">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title ">!Confirmation  </h4>
                    </div>

                    <div class="modal-body">
                        <h6 class="modal-title">Do you want to proceed to delete this 'Fees Details'? </h6>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" ng-click="deleteconfirm()" >Yes</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal">No</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.modal -->

    </div>
</div>

