<div class="padding" ng-controller="manageAgentController">
    <div class="card">
        <div class="card-header m-t-1">
            <div class="col-sm-4 pull-left">
                <button type="submit" class="btn btn-primary custom-btn pull-left" ng-click="BackToCompany()"><i class="fa fa-arrow-left" aria-hidden="true"></i></button>
            </div>
            <div class="col-sm-4 pull-right">
                <button type="submit" class="btn btn-primary pull-right" ng-click="addagent()"><i class="glyphicon glyphicon-plus"></i>Add Agent </button>
            </div>
        </div>

        <div class="box-body p-a-0">

            <table id="tblComapny" class="table table-condensed" ui-jp="footable" data-filter="#filter" data-page-size="10">
                <thead>
                    <tr>
                        <th>Agent Name </th>
                        <th>Agent Code </th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>City</th>
                        <th>Status</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="Active" ng-repeat="Agent in ManageAgent  |  orderBy: 'AgentName'">
                        <td><small>{{Agent.AgentName}} </small></td>
                        <td><small>{{Agent.AgentCode}} </small></td>
                        <td><small>{{Agent.Email }} </small></td>
                        <td><small>{{Agent.Phone }}</small></td>
                        <td><small>{{Agent.City }}</small></td>
                        <td><small>{{Agent.IsActive }}</small></td>
                       <!-- <td>
                            <button type="submit" class="btn btn-sm btn-primary" ng-click="EditAgent(Agent.AgentId)">Edit</button>
                        </td>-->
                        <td>
                            <button type="submit" class="btn btn-sm btn-danger" data-toggle="modal" ng-click="deleteAgent(Agent.AgentId)">Delete </button>
                        </td>
                    </tr>
                </tbody>
                <tfoot class="hide-if-no-paging">
                    <tr>
                        <td colspan="7" class="text-center">
                            <ul class="pagination"></ul>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>


        <!-- Large modal -->
        <!--  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#deleteconfirm">Large modal</button>-->
        <div class="modal fade " tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="deleteconfirm">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header text-danger">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title ">!Confirmation  </h4>
                    </div>

                    <div class="modal-body">
                        <h6 class="modal-title">Do you want to proceed to delete this 'Agent'? </h6>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" ng-click="deleteconfirm()">Yes</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal">No</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.modal -->

    </div>
</div>
