<header class="navbar navbar-expand-md flex-column flex-sm-row header-container-wrapper pt-0 pb-0 pl-md-0 pr-md-0">
    <div class="container flex-column flex-sm-row" ng-controller="manageCustomerLoginController">
        <a class="navbar-brand" ui-sref='app.customerPortal'>
            <img src="images/sending-loop-logo.png" alt="Recharge Mobile Phones">
        </a>
    </div>
</header>
<style>
    body {
        font-family: 'Montserrat', sans-serif;
        max-width: 1170px;
        width: 100%;
        margin: 0 auto;
        box-sizing: border-box;
        padding: 20px;
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    td {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(odd) {
        background-color: #f4f4f4;
    }
</style>
<div class="body-container-wrapper" style="margin-top: 100px;">
    <div class="text-center">
        <h1>Supported Currencies</h1>
    </div>
    <!--<h3>U.S. State Licensing</h3>-->
 
</div>
