<div class="padding" ng-controller="feesController">
    <div class="card">
        <div class="card-header m-t-1">
            <div class="col-sm-6">
                <label for="Country" class="col-sm-3 form-control-label">Fees Category : </label>
                <div class="col-sm-8">
                    <select name="FeesCategory" id="FeesCategory" class="form-control" ng-model="Feesfilter.FeesCategoryId" ng-change="FilterFees(Feesfilter.FeesCategoryId)">
                        <option value="-1">--All Fees Category --</option>
                        <option ng-repeat="Fees in FeesCategory" value="{{Fees.FeesCategoryId}}">{{Fees.FeesCategoryName}}</option>
                    </select>

                </div>
            </div>
            <div class="col-sm-4 pull-right">
                <button type="submit" class="btn btn-primary pull-right" ng-click="addfees()"><i class="glyphicon glyphicon-plus"></i>Add Fees </button>
            </div>
        </div>

        <div class="card-block p-a-0">

            <table id="tblFees" class="table m-b-none table-responsive ox-auto" ui-jp="footable" data-filter="#filter" data-page-size="10">
                <thead>
                    <tr>
                        <th>Fee Setup Ref. Code</th>
                        <th>Service Type</th>
                        <th>Payment Method </th>
                        <th>Source Country </th>
                        <th>Destination Country </th>
                        <th>Pay-In Agent</th>
                        <th>Pay-Out Agent</th>
                        <th>Service Fee Type</th>
                        <th>Service Fee</th>
                        <th>Starting Amount</th>
                        
                        <th>End Amount</th>
                        <th>Exchange Rate code</th>
                        <th>Charge Sending Amount</th>
                        <th>Service Date Created</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="Active" ng-repeat="Fees in ManageFees ">
                        <td><small>{{Fees.Code}} </small></td>
                        <td><small>{{Fees.FeeCategory}} </small></td>

                        <td><small>{{Fees.Payment}} </small></td>
                        <td><small>{{Fees.Sourcecountry}} </small></td>
                        <td><small>{{Fees.Destinationcountry}} </small></td>
                        <td><small>{{Fees.PayInAgentName}} </small></td>
                        <td><small>{{Fees.PayOutAgentName}} </small></td>
                        <td><small ng-if="Fees.FeesType==1">Flat</small><small ng-if="Fees.FeesType==2">Percentage</small></td>
                        <td><small>{{Fees.Fees | currency}} </small></td>
                        <td><small>{{Fees.StartingAmount | currency}} </small></td>
                        <td><small>{{Fees.EndAmount | currency}} </small></td>
                        <td><small>{{Fees.GobalExchangeRateCode}}</small></td>
                        <td>
                            <input type="checkbox" name="check" value='{{Fees.IsActive}}' ng-model="Fees.ChargeSendingAmount" disabled="true" /></td>
                        <td><small>{{Fees.CreatedDate }}</small></td>


                        <td>
                            <button type="submit" class="btn btn-sm btn-primary" ng-click="EditFee(Fees.PaymentFessId)">Edit</button>
                        </td>
                        <td>
                            <button type="submit" class="btn btn-sm btn-danger" data-toggle="modal" ng-click="deleteUser(Fees.PaymentFessId)">Delete </button>
                        </td>
                        <td>
                            <button type="submit" class="btn btn-sm btn-danger" data-toggle="modal" ng-click="getExchangeRateDetails(Fees.DestinationCountry, Fees.Fees,Fees.PaymentFessId,Fees.GobalExchangeRateCode)">Exchange Rate </button>
                        </td>
                    </tr>
                </tbody>
                <tfoot class="hide-if-no-paging">
                    <tr>
                        <td colspan="12" class="text-center">
                            <ul class="pagination"></ul>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>


        <!-- Large modal -->
        <!--  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#deleteconfirm">Large modal</button>-->
        <div class="modal fade " tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="deleteconfirm">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header text-danger">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title ">!Confirmation  </h4>
                    </div>

                    <div class="modal-body">
                        <h6 class="modal-title">Do you want to proceed to delete this 'Fees Details'? </h6>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" ng-click="deleteconfirm()">Yes</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal">No</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.modal -->


        <!--Update Fees modal-->
        <div class="modal fade " tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="updatefee">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header text-success">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title ">Update Exchange Rate  </h4>
                    </div>

                    <div class="modal-body">
                        <table id="tblFeeglobalRate" class="table m-b-none table-responsive" ui-jp="footable" data-filter="#filter" data-page-size="10">
                            <thead>
                                <tr>
                                    <th>Select</th>
                                    <th>Global Exchange REF. CODE</th>
                                    <th>Combination</th>
                                    <th>Fees</th>
                                    <th>Spot Rate</th>
                                    <th>Adjustment Type %</th>
                                    <th>Spot Price Sell</th>
                                    <th>SPOT PRICE SELL PROFIT MARGIN</th>
                                </tr>
                            </thead>


                            <tbody>
                                <tr class="Active cm-td-spacing" ng-repeat="Fees in globalExchangeRateDetails " ng-class="{'selected':$index == selectedRow}">
                                    <td>
                                    <input type="radio" id="chk_Rate" name="chkglobalrate" value="{{Fees.GlobalExchangeId}}" ng-modal="checkvalue.GlobalExchangeId" /></td>
                                    <td><small>{{Fees.Code}} </small></td>
                                    <td><small>{{Fees.Sourcecountry }}  to {{Fees.Destinationcountry}}</small></td>
                                    <td><small>{{Fees.AutoFees | currency}} </small></td>
                                    <td><small>{{Fees.SellSpotPrice}}</small></td>
                                    <td><small>{{Fees.SellingExchangeRate}}</small></td>
                                    <td><small>{{Fees.GlobalExchangeRate}}</small></td>
                                    <td><small>{{Fees.SpotMarginBaseCurrency}}&nbsp;{{Fees.Destinationcountry}} &nbsp; | &nbsp; {{Fees.SpotMarginUSDCurrency}}&nbsp;{{Fees.SpotPrice}}</small></td>
                                    <!-- <td>
                                            <button type="submit" class="btn btn-sm btn-danger" data-toggle="modal" ng-click="updateExchangeRate(Fees.GlobalExchangeId)">Update </button>
                                        </td>-->
                                </tr>
                                <tr ng-if="globalExchangeRateDetails.length==0"><td colspan="8" class="text-center text-danger" style="text-align:center;">No Record Found</td></tr>
                            </tbody>
                            <tfoot class="hide-if-no-paging">
                                <tr>
                                    <td colspan="5" class="text-center">
                                        <ul class="pagination"></ul>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <div class="modal-footer pull-center">
                        <button type="button" class="btn btn-primary" ng-click="updateExchangeRate()">Save</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
.selected {
    background-color:black;
    color:white;
    font-weight:bold;
}
</style>