
<div class="padding" ng-controller="feesController">
    <div class="card">
        <div class="card-header m-t-1">
            <div class="col-sm-4 pull-right">
                <button type="submit" class="btn btn-primary pull-right" ng-click="addfees()"><i class="glyphicon glyphicon-plus" ></i> Add Fees </button>
            </div>
        </div>

        <div class="card-block p-a-0">

            <table id="tblFees" class="table m-b-none" ui-jp="footable" data-filter="#filter" data-page-size="10">
                <thead>
                    <tr>
                        <th>Payment Method </th>
                        <th>Fees</th>
                        <th>Created Date</th>
                        <th>Charge Sending Amount</th>
                        <th>Fees Type</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="Active" ng-repeat="Fees in ManageFees ">
                        <td><small>{{Fees.PaymentMethod}} </small></td>
                        <td><small>{{Fees.Fees | currency}} </small></td>
                        <td><small>{{Fees.CreatedDate }}</small></td>
                        <td><small>{{Fees.ChargeSendingAmount }}</small></td>
                        <td><small ng-if="Fees.FeesType==1">Flat</small><small ng-if="Fees.FeesType==2">Percentage</small></td>
                        <td>
                            <button type="submit" class="btn btn-sm btn-primary" ng-click="EditFee(Fees.PaymentFessId)">Edit</button>
                        </td>
                        <td>
                            <button type="submit" class="btn btn-sm btn-danger" data-toggle="modal" ng-click="deleteUser(Fees.PaymentFessId)">Delete </button>
                        </td>
                    </tr>
                </tbody>
                <tfoot class="hide-if-no-paging">
                    <tr>
                        <td colspan="5" class="text-center">
                            <ul class="pagination"></ul>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>


        <!-- Large modal -->
        <!--  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#deleteconfirm">Large modal</button>-->
        <div class="modal fade " tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="deleteconfirm">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header text-danger">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title ">!Confirmation  </h4>
                    </div>

                    <div class="modal-body">
                        <h6 class="modal-title">Do you want to proceed to delete this 'Fees Details'? </h6>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" ng-click="deleteconfirm()">Yes</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal">No</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.modal -->

    </div>
</div>

