<div class="padding" ng-controller="addEditBeneficiaryController">
    <div class="httpprocess" id="Processbar" ng-show="process">
        <img src="./assets/image/spinner.gif" />
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card-block">
                <form role="form" class="ng-pristine ng-valid" name="tblBeneficiary" ui-jq="validate">
                    <div class="form-group row">
                        <div class="col-sm-6 float-left">
                           <!-- <label for="Name" class="col-sm-3 form-control-label">First Name: <b class="text-danger">&nbsp;*</b></label>--><div class="col-sm-8">
                                <input type="text" class="form-control" id="FirstName" placeholder="First Name" ng-model="BeneficiaryModel.FirstName" required maxlength="50">
                            </div>
                        </div>
                        <div class="col-sm-6 float-left">
                            <!--<label for="LastName" class="col-sm-3 form-control-label">Last Name: <b class="text-danger">&nbsp;*</b></label>--><div class="col-sm-8">
                                <input type="text" class="form-control" id="LastName" placeholder="Last Name" ng-model="BeneficiaryModel.LastName" required aria-required="true" aria-invalid="true">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-6">
                            <!--<label for="Email" class="col-sm-3 form-control-label">Email: <b class="text-danger">&nbsp;*</b></label>--><div class="col-sm-8">
                                <input type="Email" name="Email" class="form-control" id="Email" placeholder="Email" ng-model="BeneficiaryModel.Email" ng-pattern="/^[A-Za-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/" required aria-required="true">
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <!--<label for="Phone" class="col-sm-3 form-control-label">Phone: <b class="text-danger">&nbsp;*</b></label>--><div class="col-sm-8">
                                <input type="number" min="10" class="form-control" id="Username" placeholder="Phone" ng-model="BeneficiaryModel.Phone" required />
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-6">
                            <!--<label for="ZipCode" class="col-sm-3 form-control-label">Date Of Birth : <b class="text-danger">&nbsp;*</b></label>-->
                            <div class="col-sm-8">
                                <input type="text" class="form-control datetimepicker" id="DOB" placeholder="yyyy-mm-dd" ng-model="BeneficiaryModel.DOB " required>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <!--<label for="Country" class="col-sm-3 form-control-label">Beneficiary type : <b class="text-danger">&nbsp;*</b></label>-->
                            <div class="col-sm-8">
                                <select name="FamRole" id="Select1" ng-model="BeneficiaryModel.BeneficiaryTypeId" class="form-control" required>
                                    <option value="0">-- Select Beneficiary type --</option>
                                    <option ng-repeat="Beneficiary in BeneficiaryType" value="{{Beneficiary.BeneficiaryTypeId}}">{{Beneficiary.BeneficiaryDescription}}</option>
                                </select>
                            </div>
                        </div>
                    </div>


                    <div class="form-group row">
                        <div class="col-sm-6">
                            <!--<label for="Address1" class="col-sm-3 form-control-label">Address1 : <b class="text-danger">&nbsp;*</b></label>-->
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="Address1" placeholder="Address1" ng-model="BeneficiaryModel.Address1 " required maxlength="30">
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <!--<label for="Address2" class="col-sm-3 form-control-label">Address2 : </label>-->
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="Address2" placeholder="Address2" ng-model="BeneficiaryModel.Address2 " maxlength="30">
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-6">
                           <!-- <label for="City" class="col-sm-3 form-control-label">City : <b class="text-danger">&nbsp;*</b></label>-->
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="City" placeholder="City Name" ng-model="BeneficiaryModel.City " required maxlength="30">
                            </div>
                        </div>

                        <div class="col-sm-6">
                           <!-- <label for="State" class="col-sm-3 form-control-label">State : <b class="text-danger">&nbsp;*</b></label>-->
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="State" placeholder="State Name" ng-model="BeneficiaryModel.State " required maxlength="30">
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-6">
                           <!-- <label for="ZipCode" class="col-sm-3 form-control-label">ZipCode : <b class="text-danger">&nbsp;*</b></label>-->
                            <div class="col-sm-8">
                                <input type="number" class="form-control" id="ZipCode" placeholder="ZipCode" ng-model="BeneficiaryModel.ZipCode " required>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <!--<label for="Country" class="col-sm-3 form-control-label">Country : <b class="text-danger">&nbsp;*</b></label>-->
                            <div class="col-sm-8">
                                <select name="FamRole" id="ddlCountry" ng-model="BeneficiaryModel.CountryId" class="form-control" required>
                                    <option value="0">-- Select Country --</option>
                                    <option ng-repeat="Country in Countries" value="{{Country.CountryId}}">{{Country.CountryName}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-6">
                           <!-- <label for="ZipCode" class="col-sm-3 form-control-label">Account Number : <b class="text-danger">&nbsp;*</b></label>-->
                            <div class="col-sm-8">
                                <input type="number" class="form-control" id="AccountNumber" placeholder="Account Number" ng-model="BeneficiaryModel.AccountNumber">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <!--<label for="Country" class="col-sm-3 form-control-label">Routing Number : <b class="text-danger">&nbsp;*</b></label>-->
                            <div class="col-sm-8">
                                <input type="number" class="form-control" id="RoutingNumber" placeholder="Routing Number" ng-model="BeneficiaryModel.RoutingNumber">
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-6">
                            <!--<label for="IsActive" class="col-sm-3 form-control-label">Is Active:</label>-->
                            <div class="col-sm-8 checkbox checkbox-primary form-control-label">
                                <input id="IsActive" type="checkbox" ng-model="BeneficiaryModel.IsActive" ng-init="BeneficiaryModel.IsActive=false ">
                            </div>
                        </div>
                    </div>


                    <div class="form-group row m-t-md">
                        <div class="col-sm-7 pull-right">
                            <button type="submit" class="btn btn-primary " ng-click="tblBeneficiary.$valid && CreateBeneficiary()">
                                {{BeneficiaryModel.BeneficiaryId>0?'Update':'Create' }}
                            </button>
                            <!--<button type="submit" class="btn btn-primary" ng-click="cancel()">Cancel</button>-->
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('.datetimepicker').datepicker({
            format: 'yyyy-mm-dd'
        });
    })
</script>
