<!--end header-->
<div class="body-container-wrapper" ng-controller="manageSendMoneyController">
    <div class="httpprocess" id="Processbar" ng-show="process">
        <img src="./assets/image/spinner.gif" />
    </div>
    <div class="master-banner inner-page-banner d-flex align-items-end">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 desaturated-blue">
                    <ul class="row custom-banner-breadcrumb cm-white-space">
                        <!--<li class="col-md-4 {{localStorage.SelectedCountry.MobileNumber !=''?'active':''}}" ng-click="goBack()">Destination Number</li>-->
                        <li class="col-md-4 active">TRANSACTION INFORMATION</li>
                        <li class="col-md-4">BENEFICIARY DETAILS</li>
                        <li class="col-md-4">PAYMENT</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="body-container-wrapper container">

        <section class="choose-amount-wrapper amount-wrap pt-5 pb-5">
            <div class="container">
                <div class="row transaction-summary">
                    <div class="col-sm-8 offset-2">
                        <h2 class="section-title mb-15">However (How would you like the money received?)</h2>
                        <div class="row mt-4">
                            <div class="col-sm-6">
                                <label class="col-sm-12 form-control-label" for="rdBankDeposit">
                                    <input type="radio" name="rdBankDeposit" id="rdBankDeposit" value="BankDeposit" ng-model="PaymentModel.PaymentType" ng-change="checkStuff(PaymentModel.PaymentType)">
                                    <span class="bold">BANK DEPOSIT </span>&nbsp; <small>All Major Banks</small></label>
                                <div class="col-sm-12 mt-2" ng-if="PaymentModel.PaymentType=='BankDeposit'">
                                    <div class="col-sm-12">
                                        <label class="form-control-label">
                                            <!--<input type="radio" name="methods" ng-model="PaymentModel.BankId" ng-change="selecetdLocation(BankDeposit.BankName)" value="{{BankDeposit.BankId}}" required />
                                            {{BankDeposit.BankName}}-->
                                            <label id="bankdetalis" class="form-control-label">We supprting major banks:- Sate Bank of India, PNB, Kotack Mahindra Bank, Dena Bank.</label>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <label class="col-sm-12 form-control-label" for="rdCashPickup">
                                    <input type="radio" name="rdBankDeposit" id="rdCashPickup" value="CashPickup" ng-model="PaymentModel.PaymentType" ng-change="checkStuff(PaymentModel.PaymentType)">
                                    <span class="bold">CASH PICKUP </span>&nbsp; <small>Featured Partners</small></label>

                                <div class="col-sm-12 mt-2" ng-if="PaymentModel.PaymentType=='CashPickup'" ng-change="checkStuff(PaymentModel.CashPickUp)" ng-model="changeSomething">
                                    <div class="col-sm-12 pl-2">
                                        <label class="form-control-label">
                                            <!--  <input type="radio" name="methods" ng-model="PaymentModel.LocationId" ng-change="selecetdLocation(PickLocation.Location)" value="{{PickLocation.LocationId}}" required />
                                            {{PickLocation.Location}}-->
                                            <select class="form-control banner-input" ng-model="PaymentModel.AgentId" id="PayOutLocation" ng-change="selecetdLocation(PaymentModel.AgentId)" ng-init="PaymentModel.AgentId='0'">
                                                <option value="0">Select Payout location</option>
                                                <option ng-repeat="PickLocation in PickUpLocation" value="{{PickLocation.AgentId}}" ng-hide="PickLocation.AgentId==0 || PickLocation.AgentId==-1">{{PickLocation.AgentFirstName +'&nbsp;'+PickLocation.AgentLastName}}&nbsp;-{{PickLocation.AgentCode}}</option>

                                            </select>
                                        </label>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="alert alert-danger text-left position-static" id="PaymentMethod" ng-if="validWay">
                            <span>Please select a valid way to receive the money.</span>
                        </div>
                        <hr class="m-0">
                        <dl class="section-bottom data-row">
                            <dt class="data-label no-border">
                                <img src="images/Flag/us.png" alt="">
                            </dt>
                            <dd class="data-value text-right">U.S.A</dd>
                        </dl>
                        <dl class="section-bottom data-row">
                            <dd class="data-label">State</dd>
                            <dt class="data-value text-right"><span>{{PaymentModel.SelectedState}}</span></dt>
                        </dl>
                        <dl class="section-bottom data-row">
                            <dt class="data-label">You are sending</dt>
                            <dd class="data-value text-right"><span>{{PaymentModel.SendingAmount |  number: 2}}</span><span> {{PaymentModel.SendingCurrency}}</span></dd>
                        </dl>
                        <dl class="section-bottom  data-row bb-1px-ccc">
                            <dt class="data-label">Service fee</dt>
                            <dd class="data-value text-right">{{PaymentModel.Fee}}<span></span><span> USD</span></dd>
                        </dl>

                        <dl class="section-bottom data-row">
                            <dt class="data-label no-border">
                                <img src="images/Flag/{{PaymentModel.iso |lowercase}}.png" alt="">
                            </dt>
                            <dd class="data-value text-right">{{PaymentModel.CountryName}}</dd>
                        </dl>

                        <!--<dl class="section-bottom  data-row">
                            <dt class="data-label">State</dt>
                            <dd class="data-value text-right">{{PaymentModel.SelectedCountryState}}</dd>
                        </dl>-->
                        <!--<dl class="section-bottom  data-row">
                            <dt class="data-label">Transaction fee</dt>
                            <dd class="data-value text-right"><span>2.00</span><span> USD</span></dd>
                        </dl>-->
                        <!-- <dl class="dashed-line data-row bb-1px-ccc">
                            <dt class="data-label">Your total</dt>
                            <dd class="total-amt data-value"><span>{{(PaymentModel.SendingAmount-0) +2.0 |  number: 2 }}</span><span> USD</span></dd>
                        </dl>-->
                        <dl class="data-row">
                            <dt class="data-label">Recipient receives</dt>
                            <dd class="data-value text-right"><span>{{PaymentModel.ReceivingAmount |  number: 2}}</span><span> {{PaymentModel.ReceivingCurrency }}</span></dd>
                        </dl>
                        <dl class="data-row bb-1px-ccc">
                            <dt class="data-label">Exchange rate<span>*</span></dt>
                            <dd class="data-value text-right"><span>1 USD =</span><span>{{PaymentModel.ExchangeRate}}</span><span> {{PaymentModel.ReceivingCurrency}}</span></dd>
                        </dl>

                        <div class="mt-2">
                            <dl class="data-row">
                                <dt class="data-label">Your Total</dt>
                                <dd class="data-value text-right"><span>{{(PaymentModel.SendingAmount-0) + (PaymentModel.Fee-0) |  number: 2 }}</span><span> USD</span></dd>
                            </dl>
                            <dl class="data-row">
                                <dt class="data-label">Receiving Option:</dt>
                                <dd class="data-value text-right"><span id="SelectedBank_Location">{{PaymentModel.PaymentType}}</span></dd>
                            </dl>

                            <!--<div class="col-sm-6 form-check">
                                <input class="form-check-input" type="radio" name="rdBankDeposit" id="rdBankDeposit" value="BankDeposit" ng-model="PaymentModel.PaymentType" ng-change="checkStuff(PaymentModel.CashPickUp)" checked>
                                <label class="form-check-label" for="rdBankDeposit">Bank Deposit </label>
                                <small>All major banks</small>
                            </div>
                            <div class="col-sm-6 form-check pt-30">
                                <input class="form-check-input" type="radio" name="rdBankDeposit" id="rdCashPickup" value="CashPickup" ng-model="PaymentModel.PaymentType" ng-change="checkStuff(PaymentModel.CashPickUp)">
                                <label class="form-check-label" for="rdCashPickup">Cash Pickup</label>
                                <small>Many locations</small>
                            </div>-->
                        </div>

                        <div class="row mt-2">
                            <div class="col-sm-4 text-right">
                                <button class="btn btn-default" ng-click="SendBack()">Back</button>
                            </div>

                            <div class="col-sm-4 text-right">
                                <button class="btn btn-info btn-bg" ng-click="CashPickUp()">{{localStorage.GustCustomer.CustomerId == 0 ? 'Log In/Sign Up' :'Continue'}}</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>


        </section>
    </div>
</div>
