<div class="body-container-wrapper m-t-3" ng-controller="addEditBeneficiaryController">
    <div class="master-banner inner-page-banner d-flex align-items-end">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 desaturated-blue">
                    <ul class="row custom-banner-breadcrumb cm-white-space">
                        <li class="col-md-4" ui-sref='app.SendMoney'>TRANSACTION INFORMATION</li>
                        <li class="col-md-4 active">BENEFICIARY DETAILS</li>
                        <li class="col-md-4">PAYMENT</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="body-container-wrapper container " ng-cotroller="addEditBeneficiaryController">
        <div class="httpprocess" id="Processbar" ng-show="process">
            <img src="./assets/image/spinner.gif" />
        </div>
        <section class="choose-amount-wrapper amount-wrap pt-5 pb-5">
            <div class="container">
                <div class="row py-2">
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-6">
                                <!--  <label for="Beneficiary">Beneficiary : </label>-->
                                <div class="">
                                    <select name="Beneficiary" id="ddlBeneficiary" ng-init="PaymentModel.BeneficiaryId='0'" ng-model="PaymentModel.BeneficiaryId" class="form-control" ng-change="selectedBeneficiary(PaymentModel.BeneficiaryId)" required>
                                        <option value="0">-- Select Beneficiary --</option>
                                        <option ng-repeat="Beneficiary in Beneficiaries" value="{{Beneficiary.BeneficiaryId}}">{{Beneficiary.FirstName}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="">
                                    <button type="submit" class="btn btn-primary pull-right" ng-click="addNewBeneficiary()"><i class="glyphicon glyphicon-plus"></i>{{PaymentModel.BeneficiaryId=='0'? 'Add Beneficiary':'Update Beneficiary'}} </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-6">


                        <div class="row py-2">
                            <div class="col-sm-6">
                                <!--     <label for="Name">First Name: </label>-->
                                <div class="">
                                    <input type="text" class="form-control" id="FirstName" placeholder="First Name" ng-model="BeneficiaryModel.FirstName" disabled="disabled" maxlength="50">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <!--   <label for="LastName">Last Name:</label>-->
                                <div class="">
                                    <input type="text" class="form-control" id="LastName" placeholder="Last Name" ng-model="BeneficiaryModel.LastName" disabled="disabled">
                                </div>
                            </div>
                        </div>


                        <div class="row py-2">
                            <!--   <label for="Email">Email: </label>-->
                            <div class="col-sm-6">
                                <input type="Email" name="Email" class="form-control" id="Email" placeholder="Email" ng-model="BeneficiaryModel.Email" ng-pattern="/^[A-Za-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/" disabled="disabled">
                            </div>
                            <!--   <label for="Phone">Phone: </label>-->
                            <div class="col-sm-6">
                                <input type="number" min="10" class="form-control" id="Username" placeholder="Phone" ng-model="BeneficiaryModel.Phone" disabled="disabled" />
                            </div>
                        </div>

                        <div class="row py-2">
                            <!-- <label for="ZipCode">Date Of Birth : </label>-->
                            <div class="col-sm-6">
                                <input type="text" class="form-control datetimepicker" id="Text2" placeholder="yyyy-mm-dd" ng-model="BeneficiaryModel.DOB " disabled="disabled">
                            </div>
                            <div class="col-sm-6">
                                <select name="FamRole" id="Select3" ng-model="BeneficiaryModel.BeneficiaryTypeId" class="form-control" disabled="disabled">
                                    <option value="0">-- Select Beneficiary type --</option>
                                    <option ng-repeat="Beneficiary in BeneficiaryType" value="{{Beneficiary.BeneficiaryTypeId}}">{{Beneficiary.BeneficiaryDescription}}</option>
                                </select>
                            </div>
                        </div>


                        <div class="row py-2">
                            <!--  <label for="Address1">Address1 :</label>-->
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="Address1" placeholder="Address1" ng-model="BeneficiaryModel.Address1 " disabled="disabled" maxlength="30">
                            </div>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="Address2" placeholder="Address2" ng-model="BeneficiaryModel.Address2 " disabled="disabled" maxlength="30">
                            </div>
                        </div>
                        <div class="row py-2">
                            <!--      <label for="City">City : </label>-->
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="City" placeholder="City Name" ng-model="BeneficiaryModel.City " disabled="disabled" maxlength="30">
                            </div>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="State" placeholder="State Name" ng-model="BeneficiaryModel.State " disabled="disabled" maxlength="30">
                            </div>
                        </div>

                        <div class="row py-2">
                            <!-- <label for="ZipCode">ZipCode : </label>-->
                            <div class="col-sm-6">
                                <input type="number" class="form-control" id="ZipCode" placeholder="ZipCode" ng-model="BeneficiaryModel.ZipCode" disabled="disabled">
                            </div>
                            <div class="col-sm-6">
                                <select name="FamRole" id="ddlCountry" ng-model="BeneficiaryModel.CountryId" class="form-control" disabled="disabled">
                                    <option value="0">-- Select Country --</option>
                                    <option ng-repeat="Country in Countries" value="{{Country.CountryId}}">{{Country.CountryName}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="row py-2">
                            <!--   <label for="Email">Email: </label>-->
                            <div class="col-sm-6">
                                <input type="text" name="BanknName" class="form-control" id="BanknName" placeholder="Bank Name" ng-model="BeneficiaryModel.BankName" disabled="disabled">
                            </div>
                            <!--   <label for="Phone">Phone: </label>-->
                            <div class="col-sm-6">
                                <input type="text" name="AccountNumber" class="form-control" id="AccountNumber1" placeholder="Bank Account Number" ng-model="BeneficiaryModel.AccountNumber" disabled="disabled">
                            </div>
                        </div>










                        <div class="row py-2">
                            <!--   <label for="Email">Email: </label>-->
                            <div class="col-sm-6">
                                <input type="text" name="RoutingNumber" class="form-control" id="RoutingNumber" placeholder="Bank Routing Number" ng-model="BeneficiaryModel.RoutingNumber" disabled="disabled">
                            </div>
                            <!--   <label for="Phone">Phone: </label>-->
                            <div class="col-sm-6">
                                <input type="text" name="BICCode" class="form-control" id="BICCode" placeholder="Swift or BIC Code" ng-model="BeneficiaryModel.BICCode" disabled="disabled">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 mt-2">
                                <label class="" for="Country">Selected Money Receiving Method</label>
                            </div>
                            <div class="col-sm-12">
                                <input type="radio" name="PreferedMethod" id="BankDepositCheck" ng-click="ChangePrefered()" />
                                <label id="BankDeposit">Bank Deposit</label>
                            </div>
                            <div class="col-sm-12">
                                <input type="radio" name="PreferedMethod" id="CashPickUpCheck" ng-click="ChangePrefered()" />
                                <label id="CashPayOut">Cash Payout Center</label>
                            </div>
                        </div>




                    </div>


                    <div class="col-sm-6">


                        <div class="row c-black" ng-if="BenData.AmountDetails.PaymentType == 'BankDeposit'">
                            <!--<label class="col-sm-12 mt-2" for="BankDetails">
                                    Bank Account Information :
                                </label>-->


                            <div class="col-sm-12 p-0" ng-if="Beneficiary.AccountNumber!=''">
                                <div class="col-sm-12 mt-2">
                                    <div class="">
                                        <!-- <input type="text" class="form-control" id="AccountNumber" placeholder="BANK NAME" ng-model="BenData.BankLocation" disabled="disabled">-->
                                        <label id="AccountNumber" ng-model="BenData.BankLocation">Bank Name: {{BenData.BankLocation}}</label>
                                    </div>
                                </div>
                                <div class="col-sm-12 mt-2">
                                    <div class="">
                                        <label id="Number1" ng-model="Beneficiary.AccountNumber">Bank Account Number: {{Beneficiary.AccountNumber}}</label>
                                    </div>
                                </div>

                                <div class="col-sm-12 mt-2">
                                    <div class="">
                                        <label id="Number2" ng-model="Beneficiary.RoutingNumber">Bank Routing Number: {{Beneficiary.RoutingNumber}}</label>
                                    </div>
                                </div>
                                <div class="col-sm-12 mt-2">
                                    <div class="">
                                        <label id="bccode" ng-model="Beneficiary.BICCode">Swift or BIC Code: {{Beneficiary.BICCode}}</label>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="row c-black" ng-if="BenData.AmountDetails.PaymentType == 'CashPickup'">
                            <!-- <label class="col-sm-12 mt-2" for="BankDetails">
                                    Cash Payout Information :
                                </label>-->
                            <div class="col-sm-12">
                                <label id="Number3" placeholder="WALMART" ng-model="BenData.CashpickLocation">{{BenData.CashpickLocation}}</label>
                            </div>
                            <div class="col-sm-8">
                                <select name="FamRole" id="Locationpickup" ng-model="Beneficiary.AgentId" class="form-control" ng-change="ChangeLocation(Beneficiary.AgentId)">
                                    <option value="0">SELECT NEW CASH AGENT CENTER</option>
                                    <option ng-repeat="PickLocation in PickUpLocation" value="{{PickLocation.AgentId}}" ng-hide="PickLocation.AgentId==0 || PickLocation.AgentId==-1 ">{{PickLocation.AgentFirstName +'&nbsp;'+PickLocation.AgentLastName}}&nbsp;-{{PickLocation.AgentCode}}</option>
                                </select>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="alert alert-danger text-left position-static" id="PaymentMethod" ng-if="ValidAcountRoute">
                    <span>Please make sure all require fields should not empty.</span>
                </div>

            </div>
            <div class="row mt-4">
                <div class="col-sm-4 text-right">
                    <button class="btn btn-default" ng-click="SendBack()">Back</button>
                </div>
                <div class="col-sm-4 text-right">

                    <button type="submit" class="btn btn-info btn-bg" ng-disabled="!BeneficiaryModel.FirstName" ng-click="CashPickUp(PaymentModel.BeneficiaryId)">
                        Continue
                    </button>
                </div>
            </div>

        </section>

         <div class="modal fade " tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="addBeneficiaryconfirm">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header text-primary">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>

                    <div class="modal-body">
                        <!-- <div ng-include="'views/SendMoney/addEditBeneficiary.html'"></div>-->

                        <form role="form" class="ng-pristine ng-valid" name="tblBeneficiary" ui-jq="validate">
                            <div class="form-group row">
                                <div class="col-sm-6 float-left">
                                    <div class="col-sm-12">
                                        <div class="row">
                                            <input type="text" class="form-control col-sm-10" id="Text1" placeholder="First Name" ng-model="BeneficiaryModel.FirstName" required maxlength="50">
                                            <span class="text-danger col-sm-2"><strong>&nbsp;*</strong></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 float-left">
                                    <!-- <label for="LastName" class="col-sm-3 form-control-label">Last Name: </label>-->
                                    <div class="col-sm-12">
                                        <div class="row">
                                            <input type="text" class="form-control col-sm-10" id="Text3" placeholder="Last Name" ng-model="BeneficiaryModel.LastName" required aria-required="true" aria-invalid="true">
                                            <span class="text-danger col-sm-2"><strong>&nbsp;*</strong></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6">
                                    <!-- <label for="Email" class="col-sm-3 form-control-label">Email: </label>-->
                                    <div class="col-sm-12">
                                        <div class="row">
                                            <input type="Email" name="Email" class="form-control col-sm-10" id="Email1" placeholder="Email" ng-model="BeneficiaryModel.Email" ng-pattern="/^[A-Za-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/" required aria-required="true">
                                            <span class="text-danger col-sm-2"><strong>&nbsp;*</strong></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <!-- <label for="Phone" class="col-sm-3 form-control-label">Phone: </label>-->
                                    <div class="col-sm-12">
                                        <div class="row">
                                            <input type="number" min="10" class="form-control col-sm-10" id="Number4" placeholder="Phone" ng-model="BeneficiaryModel.Phone" required />
                                            <span class="text-danger col-sm-2"><strong>&nbsp;*</strong></span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-sm-6">

                                    <div class="col-sm-12">
                                        <div class="row">
                                            <input type="text" class="form-control datetimepicker col-sm-10" id="DOB" placeholder="yyyy-mm-dd" ng-model="BeneficiaryModel.DOB " required>
                                            <span class="text-danger col-sm-2"><strong>&nbsp;*</strong></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">

                                    <div class="col-sm-12">
                                        <div class="row">
                                            <select name="FamRole" id="Select1" ng-model="BeneficiaryModel.BeneficiaryTypeId" class="form-control col-sm-10" required>
                                                <option value="0">-- Select Beneficiary type --</option>
                                                <option ng-repeat="Beneficiary in BeneficiaryType" value="{{Beneficiary.BeneficiaryTypeId}}">{{Beneficiary.BeneficiaryDescription}}</option>
                                            </select>
                                            <span class="text-danger col-sm-2"><strong>&nbsp;*</strong></span>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="form-group row">
                                <div class="col-sm-6">

                                    <div class="col-sm-12">
                                        <div class="row">
                                            <input type="text" class="form-control col-sm-10" id="Text4" placeholder="Address1" ng-model="BeneficiaryModel.Address1 " required maxlength="30">
                                            <span class="text-danger col-sm-2"><strong>&nbsp;*</strong></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6">

                                    <div class="col-sm-12">
                                        <div class="row">
                                            <input type="text" class="form-control col-sm-10" id="Text5" placeholder="Address2" ng-model="BeneficiaryModel.Address2 " maxlength="30">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-sm-6">

                                    <div class="col-sm-12">
                                        <div class="row">
                                            <input type="text" class="form-control col-sm-10" id="Text6" placeholder="City Name" ng-model="BeneficiaryModel.City " required maxlength="30">
                                            <span class="text-danger col-sm-2"><strong>&nbsp;*</strong></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6">

                                    <div class="col-sm-12">
                                        <div class="row">
                                            <input type="text" class="form-control col-sm-10" id="Text7" placeholder="State Name" ng-model="BeneficiaryModel.State " required maxlength="30" />
                                            <span class="text-danger col-sm-2"><strong>&nbsp;*</strong></span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-sm-6">

                                    <div class="col-sm-12">
                                        <div class="row">
                                            <input type="number" class="form-control col-sm-10" id="Number5" placeholder="ZipCode" ng-model="BeneficiaryModel.ZipCode " required>
                                            <span class="text-danger col-sm-2"><strong>&nbsp;*</strong></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">

                                    <div class="col-sm-12">
                                        <div class="row">
                                            <select name="FamRole" id="Select2" ng-model="BeneficiaryModel.CountryId" class="form-control col-sm-10" required>
                                                <option value="0">-- Select Country --</option>
                                                <option ng-repeat="Country in Countries" value="{{Country.CountryId}}">{{Country.CountryName}}</option>
                                            </select>
                                            <span class="text-danger col-sm-2"><strong>&nbsp;*</strong></span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-sm-6">

                                    <div class="col-sm-12">
                                        <div class="row">
                                            <input type="text" class="form-control col-sm-10" id="bankname" placeholder="Bank Name" ng-model="BeneficiaryModel.BankName">
                                            <span class="text-danger col-sm-2"><strong>&nbsp;*</strong></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">

                                    <div class="col-sm-12">
                                        <div class="row">
                                            <input type="text" class="form-control col-sm-10" id="accnumber" placeholder="Bank Account Number" ng-model="BeneficiaryModel.AccountNumber">
                                            <span class="text-danger col-sm-2"><strong>&nbsp;*</strong></span>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="form-group row">
                                <div class="col-sm-6">

                                    <div class="col-sm-12">
                                        <div class="row">
                                            <input type="text" class="form-control col-sm-10" id="_routingNumber" placeholder="Bank Routing Number" ng-model="BeneficiaryModel.RoutingNumber">
                                            <span class="text-danger col-sm-2"><strong>&nbsp;*</strong></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">

                                    <div class="col-sm-12">
                                        <div class="row">
                                            <input type="text" class="form-control col-sm-10" id="_bICCode" placeholder="Swift or BIC Code" ng-model="BeneficiaryModel.BICCode">
                                            <span class="text-danger col-sm-2"><strong>&nbsp;*</strong></span>
                                        </div>
                                    </div>
                                </div>
                            </div>








                            <div class="form-group row">
                                <div class="col-sm-6">
                                    <div class="row">
                                        <label for="IsActive" class="col-sm-3 form-control-label">Is Active:</label>
                                        <div class="col-sm-8 checkbox checkbox-primary form-control-label">
                                            <input id="IsActive" type="checkbox" ng-model="BeneficiaryModel.IsActive" ng-init="BeneficiaryModel.IsActive=false ">
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="form-group row m-t-md">
                                <div class="col-sm-6 pull-right">
                                    <button type="button" class="btn btn-default float-right" data-dismiss="modal">Cancel</button>
                                </div>
                                <div class="col-sm-6 pull-right">
                                    <button type="submit" class="btn btn-info btn-bg ng-binding " ng-click="tblBeneficiary.$valid && CreateBeneficiary()">
                                        {{BeneficiaryModel.BeneficiaryId>0?'Update':'Create' }}
                                    </button>
                                    <!--<button type="submit" class="btn btn-primary" ng-click="cancel()">Cancel</button>-->
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


