<header class="navbar navbar-expand-md flex-column flex-sm-row header-container-wrapper pt-0 pb-0 pl-md-0 pr-md-0">
    <div class="container flex-column flex-sm-row" ng-controller="manageSendMoneyLoginController">
        <a class="navbar-brand" ui-sref='app.SendMoneyAmount'>
            <img src="images/sending-loop-logo.png" alt="Recharge Mobile Phones">
        </a>
        <ul class="navbar-nav navbar-user-panel d-flex flex-row justify-content-sm-end order-md-2" ng-if="IsLogin">
            <li class="nav-item" ng-click="logoutGustCustomer()"><a class="nav-link"><i class="fa fa-sign-out" aria-hidden="true"></i>&nbsp; Log out</a></li>
            <li class="nav-item d-sm-block d-md-none"><a class="nav-link" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars" aria-hidden="true"></i></a></li>
        </ul>
        <div class="collapse navbar-collapse justify-content-start justify-content-md-end order-md-1" id="navbarResponsive">
            <ul class="navbar-nav ">
                <li class="nav-item" ng-if="IsLogin"><a class="nav-link" ui-sref='app.SendMoneyAmount'>Home</a></li>
                <li class="nav-item" ng-if="IsLogin"><a class="nav-link" href="" ui-sref='app.SendMoneyTransaction'>Transactions</a></li>
            </ul>
        </div>
    </div>
</header>


<div class="body-container-wrapper m-t-3" ng-controller="addEditBeneficiaryController">
    <div class="master-banner inner-page-banner d-flex align-items-end">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 desaturated-blue">
                    <ul class="row custom-banner-breadcrumb cm-white-space">
                        <li class="col-md-4" ui-sref='app.SendMoney'>TRANSACTION INFORMATION</li>
                        <li class="col-md-4 active">BENEFICIARY DETAILS</li>
                        <li class="col-md-4">PAYMENT</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="body-container-wrapper container " ng-cotroller="addEditBeneficiaryController">
        <div class="httpprocess" id="Processbar" ng-show="process">
            <img src="./assets/image/spinner.gif" />
        </div>
        <section class="choose-amount-wrapper amount-wrap pt-5 pb-5">
            <div class="container"> 
                 <div class="row py-2">
                     <div class="col-sm-6">
                         <div class="row">
                              <div class="col-sm-6">
                                    <!--  <label for="Beneficiary">Beneficiary : </label>-->
                                    <div class="">
                                        <select name="Beneficiary" id="BeneficiaryId" ng-init="PaymentModel.BeneficiaryId='0'" ng-model="PaymentModel.BeneficiaryId" class="form-control" ng-change="selectedBeneficiary(PaymentModel.BeneficiaryId)" required>
                                            <option value="0">-- Select Beneficiary --</option>
                                            <option ng-repeat="Beneficiary in Beneficiaries" value="{{Beneficiary.BeneficiaryId}}">{{Beneficiary.FirstName}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="">
                                        <button type="submit" class="btn btn-primary pull-right" ng-click="addNewBeneficiary()"><i class="glyphicon glyphicon-plus"></i>{{PaymentModel.BeneficiaryId=='0'? 'Add Beneficiary':'Update Beneficiary'}} </button>
                                    </div>
                                </div>      
                         </div>                         
                     </div>                               
                            </div>
                <div class="form-group row">                    
                        <div class="col-sm-6">                           


                            <div class="row py-2">
                                <div class="col-sm-6">
                                    <!--     <label for="Name">First Name: </label>-->
                                    <div class="">
                                        <input type="text" class="form-control" id="FirstName" placeholder="First Name" ng-model="BeneficiaryModel.FirstName" disabled="disabled" maxlength="50">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <!--   <label for="LastName">Last Name:</label>-->
                                    <div class="">
                                        <input type="text" class="form-control" id="LastName" placeholder="Last Name" ng-model="BeneficiaryModel.LastName" disabled="disabled">
                                    </div>
                                </div>
                            </div>


                            <div class="row py-2">
                                <!--   <label for="Email">Email: </label>-->
                                <div class="col-sm-6">
                                    <input type="Email" name="Email" class="form-control" id="Email" placeholder="Email" ng-model="BeneficiaryModel.Email" ng-pattern="/^[A-Za-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/" disabled="disabled">
                                </div>
                                <!--   <label for="Phone">Phone: </label>-->
                                <div class="col-sm-6">
                                    <input type="number" min="10" class="form-control" id="Username" placeholder="Phone" ng-model="BeneficiaryModel.Phone" disabled="disabled" />
                                </div>
                            </div>

                            <div class="row py-2">
                                <!-- <label for="ZipCode">Date Of Birth : </label>-->
                                <div class="col-sm-6">
                                    <input type="text" class="form-control datetimepicker" id="Text2" placeholder="yyyy-mm-dd" ng-model="BeneficiaryModel.DOB " disabled="disabled">
                                </div>
                                <div class="col-sm-6">
                                    <select name="FamRole" id="Select3" ng-model="BeneficiaryModel.BeneficiaryTypeId" class="form-control" disabled="disabled">
                                        <option value="0">-- Select Beneficiary type --</option>
                                        <option ng-repeat="Beneficiary in BeneficiaryType" value="{{Beneficiary.BeneficiaryTypeId}}">{{Beneficiary.BeneficiaryDescription}}</option>
                                    </select>
                                </div>
                            </div>


                            <div class="row py-2">
                                <!--  <label for="Address1">Address1 :</label>-->
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="Address1" placeholder="Address1" ng-model="BeneficiaryModel.Address1 " disabled="disabled" maxlength="30">
                                </div>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="Address2" placeholder="Address2" ng-model="BeneficiaryModel.Address2 " disabled="disabled" maxlength="30">
                                </div>
                            </div>
                            <div class="row py-2">
                                <!--      <label for="City">City : </label>-->
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="City" placeholder="City Name" ng-model="BeneficiaryModel.City " disabled="disabled" maxlength="30">
                                </div>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="State" placeholder="State Name" ng-model="BeneficiaryModel.State " disabled="disabled" maxlength="30">
                                </div>
                            </div>

                            <div class="row py-2">
                                <!-- <label for="ZipCode">ZipCode : </label>-->
                                <div class="col-sm-6">
                                    <input type="number" class="form-control" id="ZipCode" placeholder="ZipCode" ng-model="BeneficiaryModel.ZipCode" disabled="disabled">
                                </div>
                                <div class="col-sm-6">
                                    <select name="FamRole" id="ddlCountry" ng-model="BeneficiaryModel.CountryId" class="form-control" disabled="disabled">
                                        <option value="0">-- Select Country --</option>
                                        <option ng-repeat="Country in Countries" value="{{Country.CountryId}}">{{Country.CountryName}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row py-2">
                                <!--   <label for="Email">Email: </label>-->
                                <div class="col-sm-6">
                                    <input type="text" name="BanknName" class="form-control" id="BanknName" placeholder="Bank Name" ng-model="BeneficiaryModel.BankName" disabled="disabled">
                                </div>
                                <!--   <label for="Phone">Phone: </label>-->
                                <div class="col-sm-6">
                                    <input type="text" name="AccountNumber" class="form-control" id="AccountNumber1" placeholder="Account Number" ng-model="BeneficiaryModel.AccountNumber" disabled="disabled">
                                </div>
                            </div>










                            <div class="row py-2">
                                <!--   <label for="Email">Email: </label>-->
                                <div class="col-sm-6">
                                    <input type="text" name="RoutingNumber" class="form-control" id="RoutingNumber" placeholder="Routing Number" ng-model="BeneficiaryModel.RoutingNumber" disabled="disabled">
                                </div>
                                <!--   <label for="Phone">Phone: </label>-->
                                <div class="col-sm-6">
                                    <input type="text" name="BICCode" class="form-control" id="BICCode" placeholder="BIC Code" ng-model="BeneficiaryModel.BICCode" disabled="disabled">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 mt-2">
                                    <label class="" for="Country">Selected Money Receiving Method</label>
                                </div>
                                <div class="col-sm-12">
                                    <input type="radio" name="PreferedMethod" id="BankDepositCheck" ng-click="ChangePrefered()" />
                                    <label id="BankDeposit">Bank Deposit</label>
                                </div>
                                <div class="col-sm-12">
                                    <input type="radio" name="PreferedMethod" id="CashPickUpCheck" ng-click="ChangePrefered()" />
                                    <label id="CashPayOut">Cash Payout Center</label>
                                </div>
                            </div>


                            

                        </div>


                        <div class="col-sm-6">

                          
                            <div class="row c-black" ng-if="BenData.AmountDetails.PaymentType == 'BankDeposit'">
                                <!--<label class="col-sm-12 mt-2" for="BankDetails">
                                    Bank Account Information :
                                </label>-->
                                

                                <div class="col-sm-12 p-0" ng-if="Beneficiary.AccountNumber!=''">
                                    <div class="col-sm-12 mt-2">
                                    <div class="">
                                        <!-- <input type="text" class="form-control" id="AccountNumber" placeholder="BANK NAME" ng-model="BenData.BankLocation" disabled="disabled">-->
                                        <label id="AccountNumber" ng-model="BenData.BankLocation">Bank Name: {{BenData.BankLocation}}</label>
                                    </div>
                                </div>
                                    <div class="col-sm-12 mt-2">
                                        <div class="">
                                            <label id="Number1" ng-model="Beneficiary.AccountNumber">Bank Account Number: {{Beneficiary.AccountNumber}}</label>
                                        </div>
                                    </div>

                                    <div class="col-sm-12 mt-2">
                                        <div class="">
                                            <label id="Number2" ng-model="Beneficiary.RoutingNumber">Bank Routing Number: {{Beneficiary.RoutingNumber}}</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 mt-2">
                                        <div class="">
                                            <label id="bccode" ng-model="Beneficiary.BICCode">Bank Swift or BIC Code: {{Beneficiary.BICCode}}</label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                           
                            <div class="row c-black" ng-if="BenData.AmountDetails.PaymentType == 'CashPickup'">
                               <!-- <label class="col-sm-12 mt-2" for="BankDetails">
                                    Cash Payout Information :
                                </label>-->
                                <div class="col-sm-12">
                                    <label id="Number3" placeholder="WALMART" ng-model="BenData.CashpickLocation">{{BenData.CashpickLocation}}</label>
                                </div>
                                <div class="col-sm-8">
                                    <select name="FamRole" id="Locationpickup" ng-model="Beneficiary.Location" ng-init="Beneficiary.Location=='0'" class="form-control" ng-change="ChangeLocation(Beneficiary.Location)">
                                        <option value="0">SELECT NEW CASH AGENT CENTER</option>
                                        <option ng-repeat="PickLocation in PickUpLocation" value="{{PickLocation.LocationId}}">{{PickLocation.Location}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="alert alert-danger text-left position-static" id="PaymentMethod" ng-if="ValidAcountRoute">
                        <span>Please make sure all require fields should not empty.</span>
                    </div>

                </div>
                <div class="row mt-4">
                    <div class="col-sm-4 text-right">
                        <button class="btn btn-default" ng-click="SendBack()">Back</button>
                    </div>
                    <div class="col-sm-4 text-right">
                        <button type="submit" class="btn btn-info btn-bg" ng-disabled="!BeneficiaryModel.FirstName" ng-click="CashPickUp(PaymentModel.BeneficiaryId)">
                            Continue
                        </button>
                    </div>
                </div>
            </div>
        </section>
        <section class="payment-section pt-5 pb-5">
            <div class="container">
                <div class="row section-01">
                    <div class="col-md d-flex mb-4 mb-md-0">
                        <div class="">
                            <div class="reason-image mb-4">
                                <img src="assets/image/gift.jpg" alt="easy and fast">
                            </div>
                            <h4>Give the gift of talk and connect</h4>
                            <p>Surprise your Family and Friends with airtime anytime, for any occasion. Giving is easy. All you need is their phone number.</p>
                        </div>
                    </div>
                    <div class="col-md d-flex mb-4 mb-md-0">
                        <div class="">
                            <div class="reason-image mb-4">
                                <img src="assets/image/send.jpg" alt="Low cost">
                            </div>
                            <h4>Get on-the-go convenience</h4>
                            <p>Reload at home or on-the-go. We’ll send it instantly and your Family or Friends will get a text message the moment it arrives.</p>
                        </div>
                    </div>
                    <div class="col-md d-flex">
                        <div class="">
                            <div class="reason-image mb-4">
                                <img src="assets/image/sync.jpg" alt="120+ countries supported">
                            </div>
                            <h4>Do more than just reload</h4>
                            <p>Whether you want to recharge a prepaid phone, send money or pay a bill, you can do it all with SendingLoop.</p>
                        </div>
                    </div>
                </div>
                <div class="row section-02">
                    <div class="phoneReload"></div>
                    <div class="col-md d-flex mb-12 mb-md-0">
                        <div class="flowimg">
                            <img src="assets/image/flow.jpg" alt="easy and fast" width="85%">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="moneyReload"></div>
                    <div class="col-md topnotch d-flex mb-6 mb-md-0">
                        <div class="">
                            <div class="mb-6">
                                <img src="assets/image/money-bck.png" width="12%" alt="easy and fast">
                            </div>
                            <h4>Money-back guarantee</h4>
                            <p>We stand behind the reliability of our service. If your reload doesn't get there, we'll refund it in full. Call us anytime if you need help.</p>
                        </div>
                    </div>
                    <div class="col-md topnotch d-flex mb-6 mb-md-0">
                        <div class="">
                            <div class="mb-6">
                                <img src="assets/image/security.png" width="9%" alt="Low cost">
                            </div>
                            <h4>Top-notch security</h4>
                            <p>We employ top-tier technology to keep your information safe at all times.</p>
                        </div>
                    </div>
                </div>
                <div class="row footercol">
                    <div class="col-md-3 ftr-bdr">
                        <div class="ftr-img">
                            <img src="assets/image/footer-icon01.png" class="" />
                        </div>
                        <div>
                            <h5>24/7 HELP</h5>
                            <p>Call us 1-800-970-9618</p>
                        </div>
                    </div>
                    <div class="col-md-3 ftr-bdr">
                        <div class="ftr-img">
                            <img src="assets/image/footer-icon02.png" class="" />
                        </div>
                        <div>
                            <h5>Trusted Pay</h5>
                            <p>100% Payment Protection &amp; Easy Return</p>
                        </div>
                    </div>
                    <div class="col-md-3 ftr-bdr">
                        <div class="ftr-img">
                            <img src="assets/image/footer-icon03.png" class="" />
                        </div>
                        <div>
                            <h5>Secured Payment</h5>
                            <p>All Major Credit &amp; Debit Cards Accepted</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="ftr-img">
                            <img src="assets/image/footer-icon04.png" class="" />
                        </div>
                        <div>
                            <h5>REGHARGE on app</h5>
                            <p>Just Download our App to get Best Offers</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="newsletter-bg"></div>
                    <div class="newsletter">
                        <img src="assets/image/signup-newsletter.png" width="85%" />
                    </div>
                </div>
                <div class="row footercol last">
                    <div class="col-md-3 ftr-txt">
                        <div>
                            <p>
                                <img src="assets/image/ftr-logo.png" width="45%" />
                            </p>
                            <p>Your Money | Your Best Option | Your Best Solution!</p>
                            <p>
                                Address: FalconLoop Inc.
                                <br>
                                506 Second Ave. Suite 1400<br>
                                Seattle WA, 98104<br>
                                United States of America<br>
                                1-800-970-9618
                            </p>
                        </div>
                    </div>
                    <div class="col-md-3 ftr-txt">
                        <h5>ABOUT US</h5>
                        <p>FalconLoop’s Vision is to virtually create a service that delivers greater benefits by being simple, secure, fast, compatible, and reliable. Our mission is to give customers the benefits they expect, where they expect and how they expect to be provided.</p>
                    </div>
                    <div class="col-md-3 ftr-txt">
                        <h5>HELP &amp; SUPPORT</h5>
                        <ul>
                            <li><a target="_blank" ui-sref='app.Contact_us'>Contact</a></li>
                            <li><a target="_blank" ui-sref='app.Supported_Currencies'>Supported Currencies</a></li>
                            <li><a target="_blank" ui-sref='app.Swift_BIC_Codes'>Swift/BIC Codes</a></li>
                            <li><a target="_blank" ui-sref='app.Track_Transfers'>Track Transfers</a></li>
                            <li><a target="_blank" ui-sref='app.Rate_Alerts'>Rate Alerts</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 ftr-txt">
                        <h5>SECURITY &amp; PRIVACY</h5>
                        <ul>
                            <li><a target="_blank" ui-sref='app.US_state_lcensing'>U.S. State Licensing</a></li>
                            <li><a target="_blank" ui-sref='app.International_Licensing'>International Licensing</a></li>
                            <li><a target="_blank" ui-sref='app.Security_Center'>Security Center</a></li>
                            <li><a target="_blank" ui-sref='app.privacy_policy'>Privacy Policy</a></li>
                            <li><a target="_blank" ui-sref='app.User_agreement'>User Agreement</a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </section>
        <div class="modal fade " tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="addBeneficiaryconfirm">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header text-primary">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>

                    <div class="modal-body">
                        <!-- <div ng-include="'views/SendMoney/addEditBeneficiary.html'"></div>-->

                        <form role="form" class="ng-pristine ng-valid" name="tblBeneficiary" ui-jq="validate">
                            <div class="form-group row">
                                <div class="col-sm-6 float-left">
                                    <!--<label for="Name" class="col-sm-3 form-control-label">First Name: </label>-->
                                      <div class="col-sm-8">
                                          
                                          <input type="text" class="form-control" id="Text1" placeholder="First Name" ng-model="BeneficiaryModel.FirstName" required maxlength="50">
                                          <span class="text-danger"><strong>&nbsp;*</strong></span>
                                    </div>
                                </div>
                                <div class="col-sm-6 float-left">
                                   <!-- <label for="LastName" class="col-sm-3 form-control-label">Last Name: </label>-->
                                       <div class="col-sm-8"> <input type="text" class="form-control" id="Text3" placeholder="Last Name" ng-model="BeneficiaryModel.LastName" required aria-required="true" aria-invalid="true"><b class="text-danger">&nbsp;*</b>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6">
                                   <!-- <label for="Email" class="col-sm-3 form-control-label">Email: </label>-->
                                        <div class="col-sm-8"><input type="Email" name="Email" class="form-control" id="Email1" placeholder="Email" ng-model="BeneficiaryModel.Email" ng-pattern="/^[A-Za-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/" required aria-required="true"><b class="text-danger">&nbsp;*</b>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                   <!-- <label for="Phone" class="col-sm-3 form-control-label">Phone: </label>-->
                                     <div class="col-sm-8">   <input type="number" min="10" class="form-control" id="Number4" placeholder="Phone" ng-model="BeneficiaryModel.Phone" required /><b class="text-danger">&nbsp;*</b>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-sm-6">
                                  <!--  <label for="ZipCode" class="col-sm-3 form-control-label">Date Of Birth : </label>-->
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control datetimepicker" id="DOB" placeholder="yyyy-mm-dd" ng-model="BeneficiaryModel.DOB " required><b class="text-danger">&nbsp;*</b>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                   <!-- <label for="Country" class="col-sm-3 form-control-label">Beneficiary type :</label>-->
                                    <div class="col-sm-8">
                                        <select name="FamRole" id="Select1" ng-model="BeneficiaryModel.BeneficiaryTypeId" class="form-control" required> <b class="text-danger">&nbsp;*</b>
                                            <option value="0">-- Select Beneficiary type --</option>
                                            <option ng-repeat="Beneficiary in BeneficiaryType" value="{{Beneficiary.BeneficiaryTypeId}}">{{Beneficiary.BeneficiaryDescription}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>


                            <div class="form-group row">
                                <div class="col-sm-6">
                                    <!--<label for="Address1" class="col-sm-3 form-control-label">Address1 : </label>-->
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="Text4" placeholder="Address1" ng-model="BeneficiaryModel.Address1 " required maxlength="30"><b class="text-danger">&nbsp;*</b>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                   <!-- <label for="Address2" class="col-sm-3 form-control-label">Address2 : </label>-->
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="Text5" placeholder="Address2" ng-model="BeneficiaryModel.Address2 " maxlength="30">
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-sm-6">
                                  <!--  <label for="City" class="col-sm-3 form-control-label">City : </label>-->
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="Text6" placeholder="City Name" ng-model="BeneficiaryModel.City " required maxlength="30"><b class="text-danger">&nbsp;*</b>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                 <!--   <label for="State" class="col-sm-3 form-control-label">State : </label>-->
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="Text7" placeholder="State Name" ng-model="BeneficiaryModel.State " required maxlength="30"> <b class="text-danger">&nbsp;*</b>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-sm-6">
                                   <!-- <label for="ZipCode" class="col-sm-3 form-control-label">ZipCode : <b class="text-danger">&nbsp;*</b></label>-->
                                    <div class="col-sm-8">
                                        <input type="number" class="form-control" id="Number5" placeholder="ZipCode" ng-model="BeneficiaryModel.ZipCode " required><b class="text-danger">&nbsp;*</b>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                  <!--  <label for="Country" class="col-sm-3 form-control-label">Country : <b class="text-danger">&nbsp;*</b></label>-->
                                    <div class="col-sm-8">
                                        <select name="FamRole" id="Select2" ng-model="BeneficiaryModel.CountryId" class="form-control" required>
                                            <option value="0">-- Select Country --</option>
                                            <option ng-repeat="Country in Countries" value="{{Country.CountryId}}">{{Country.CountryName}}</option>
                                        </select>
                                    </div>   <b class="text-danger">&nbsp;*</b>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-sm-6">
                                   <!-- <label for="ZipCode" class="col-sm-3 form-control-label">Bank Name : <b class="text-danger">&nbsp;*</b></label>-->
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="bankname" placeholder="Bank Name" ng-model="BeneficiaryModel.BankName"><b class="text-danger">&nbsp;*</b>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <!--<label for="Country" class="col-sm-3 form-control-label">Account Number  : <b class="text-danger">&nbsp;*</b></label>-->
                                   <div class="col-sm-8">  <input type="text" class="form-control" id="accnumber" placeholder="Account Number" ng-model="BeneficiaryModel.AccountNumber"><b class="text-danger">&nbsp;*</b>
                                </div></div>
                            </div>


                            <div class="form-group row">
                                <div class="col-sm-6">
                                  <!--  <label for="RoutingNumber" class="col-sm-3 form-control-label">Routing Number : <b class="text-danger">&nbsp;*</b></label>-->
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="_routingNumber" placeholder="Routing Number" ng-model="BeneficiaryModel.RoutingNumber"><b class="text-danger">&nbsp;*</b>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                          <!--          <label for="BICCode" class="col-sm-3 form-control-label">BIC Code : <b class="text-danger">&nbsp;*</b></label>-->
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="_bICCode" placeholder="BIC Code" ng-model="BeneficiaryModel.BICCode"><b class="text-danger">&nbsp;*</b>
                                    </div>
                                </div>
                            </div>







                            <div class="form-group row">
                                <div class="col-sm-6">
                                    <label for="IsActive" class="col-sm-3 form-control-label">Is Active:</label>
                                    <div class="col-sm-8 checkbox checkbox-primary form-control-label">
                                        <input id="IsActive" type="checkbox" ng-model="BeneficiaryModel.IsActive" ng-init="BeneficiaryModel.IsActive=false ">
                                    </div>
                                </div>
                            </div>


                            <div class="form-group row m-t-md">
                                <div class="col-sm-6 pull-right">
                                    <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                                </div>
                                <div class="col-sm-6 pull-right">
                                    <button type="submit" class="btn btn-primary " ng-click="tblBeneficiary.$valid && CreateBeneficiary()">
                                        {{BeneficiaryModel.BeneficiaryId>0?'Update':'Create' }}
                                    </button>
                                    <!--<button type="submit" class="btn btn-primary" ng-click="cancel()">Cancel</button>-->
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="footer-container-wrapper pt-4 pb-2">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <p>Copyright 2017 © Falconloop. All Rights Reserved.</p>
            </div>
        </div>
    </div>
</footer>


