
<div class="body-container-wrapper m-t-3" ng-controller="addCashPickUpController">
    <div class="master-banner inner-page-banner d-flex align-items-end">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 desaturated-blue">
                    <ul class="row custom-banner-breadcrumb cm-white-space">
                        <li class="col-md-4" ui-sref='app.SendMoney'>TRANSACTION INFORMATION</li>
                        <li class="col-md-4 active">PAYOUT LOCATION </li>
                        <li class="col-md-4">PAYMENT</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container py-5">
        <div class="row">
            <div class="col-sm-8 offset-2 ">
                <h2>Select your payment location</h2>
                <hr class="m-0">
                <dl class="section-bottom data-row">
                    <dt class="data-label no-border">
                        <img src="images/Flag/us.png" alt="">
                    </dt>
                    <dd class="data-value text-right">U.S.A</dd>
                </dl>
                <dl class="section-bottom data-row">
                    <dd class="data-label">State</dd>
                    <dt class="data-value text-right"><span>{{PaymentModel.SelectedState}}</span></dt>
                </dl>
                <dl class="section-bottom data-row bb-1px-ccc">
                    <dt class="data-label">You are sending</dt>
                    <dd class="data-value text-right"><span>{{PaymentModel.SendingAmount |  number: 2}}</span><span> {{PaymentModel.SendingCurrency}}</span></dd>
                </dl>

                <dl class="section-bottom data-row">
                    <dt class="data-label no-border">
                        <img src="images/Flag/{{PaymentModel.iso |lowercase}}.png" alt="">
                    </dt>
                    <dd class="data-value text-right">{{PaymentModel.CountryName}}</dd>
                </dl>

                <dl class="section-bottom  data-row">
                    <dt class="data-label">State</dt>
                    <dd class="data-value text-right">{{PaymentModel.SelectedCountryState}}</dd>
                </dl>
                <!--<dl class="section-bottom  data-row">
                            <dt class="data-label">Transaction fee</dt>
                            <dd class="data-value text-right"><span>2.00</span><span> USD</span></dd>
                        </dl>-->
                <!-- <dl class="dashed-line data-row bb-1px-ccc">
                            <dt class="data-label">Your total</dt>
                            <dd class="total-amt data-value"><span>{{(PaymentModel.SendingAmount-0) +2.0 |  number: 2 }}</span><span> USD</span></dd>
                        </dl>-->
                <dl class="data-row">
                    <dt class="data-label">Recipient receives</dt>
                    <dd class="data-value text-right"><span>{{PaymentModel.RecipientAmmount |  number: 2}}</span><span> {{PaymentModel.ReceivingCurrencytId }}</span></dd>
                </dl>
                <dl class="data-row">
                    <dt class="data-label">Exchange rate<span>*</span></dt>
                    <dd class="data-value text-right"><span>1 USD =</span><span>{{PaymentModel.ExchangeRate}}</span><span> {{PaymentModel.ReceivingCurrencytId}}</span></dd>
                </dl>
                <hr class="m-0">
               <h3>Locations:</h3>
                <div class="row mt-4">
                    <div class="col-sm-4" ng-repeat="PickLocation in PickUpLocation">
                        <label class="form-control-label">
                            <input type="radio" name="methods" ng-model="PaymentModel.LocationId" value="{{PickLocation.LocationId}}" required />
                            {{PickLocation.Location}}
                        </label>
                    </div>
                </div>
                <div class="alert alert-danger text-left position-static" id="PaymentMethod" ng-if="validlocation">
                    <span>Please select a valid payout location.</span>
                </div>

                <div class="row pt-30">
                    <div class="col-sm-4 text-right">
                        <button class="btn btn-default" ng-click="SendBack()">Back</button>
                    </div>
                    <div class="col-sm-4 text-right">
                        <button class="btn btn-info" ng-click="goToPaymentMethod()">{{localStorage.FirstName ? 'Continue' : 'LogIn'}}</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
