
<div class="body-container-wrapper m-t-3" ng-controller="addCashPickUpController">
    <div class="master-banner inner-page-banner d-flex align-items-end">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 desaturated-blue">
                    <ul class="row custom-banner-breadcrumb cm-white-space">
                        <li class="col-md-3 {{localStorage.PaymentModel.SendingAmount !=''?'active':''}}" ng-click="goBack()">TRANSACTION INFORMATION</li>
                        <li class="col-md-3">CASH PICKUP DETAILS</li>
                        <li class="col-md-3">BENEFICIARY DETAILS</li>
                        <li class="col-md-3">Payment</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container py-5">
        <div class="row">
            <div class="col-sm-6">
                <h1 class="section-title mb-15">How would you like the money received?</h1>
                <form class="ml-4">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="rdBankDeposit" id="rdBankDeposit" value="Bank Deposit" ng-model="PaymentModel.BankDeposit"  ng-change="checkStuff(PaymentModel.CashPickUp)" checked>
                        <label class="form-check-label" for="rdBankDeposit"> Bank Deposit </label>
                        <small>All major banks</small>
                    </div>
                    <div class="form-check pt-30">
                        <input class="form-check-input" type="radio" name="rdBankDeposit" id="rdCashPickup" value="Cash Pickup"  ng-model="PaymentModel.CashPickUp" ng-change="checkStuff(PaymentModel.CashPickUp)" >
                        <label class="form-check-label" for="rdCashPickup">Cash Pickup</label>
                        <small>Many locations</small>
                    </div>
                    
                    <div class="pt-30">
                        <button class="btn btn-default" ng-click="SendBack()">Back</button>
                        <button class="btn btn-info" ng-click="goToPaymentMethod()">{{localStorage.FirstName ? 'Continue' : 'LogIn'}}</button>
                    </div>

                </form>
            </div>
                 <div class="col-sm-6">
                    <h2>Transaction Summary</h2>
                    <hr class="m-0">

                    <dl class="section-bottom data-row">
                        <dt class="data-label no-border"><img src="images/Flag/{{PaymentModel.iso |lowercase}}.png" alt=""> </dt>
                        <dd class="data-value">{{PaymentModel.CountryName}}</dd>
                    </dl>
                    <dl class="section-bottom dashed-line data-row bb-1px-ccc">
                        <dt class="data-label">You are sending</dt>
                        <dd class="data-value"><span>{{PaymentModel.Amount}}</span><span> {{PaymentModel.SendingCurrencyId}}</span></dd>
                    </dl>
                    <dl class="section-bottom  data-row">
                        <dt class="data-label">Transaction fee</dt>
                        <dd class="data-value"><span>2.0</span><span> USD</span></dd>
                    </dl>
                    <dl class="dashed-line data-row bb-1px-ccc">
                        <dt class="data-label">Your total</dt>
                        <dd class="total-amt data-value"><span>{{(PaymentModel.Amount-0) +2.0 }}</span><span>USD</span></dd>
                    </dl>
                    <dl class="data-row bb-1px-ccc">
                        <dt class="data-label">Recipient receives</dt>
                        <dd class="data-value"><span>{{PaymentModel.RecipientAmmount}}</span><span> {{PaymentModel.ReceivingCurrencytId}}</span></dd>
                    </dl>
                    <dl class="data-row bb-1px-ccc">
                        <dt class="data-label">Exchange rate<span>*</span></dt>
                        <dd class="data-value"><span>1 USD =</span><span> {{PaymentModel.ExchangeRate}}</span><span> {{PaymentModel.ReceivingCurrencytId}}</span></dd>
                    </dl>
                  
                </div>
            
        </div>
    </div>
</div>
