<header class="navbar navbar-expand-md flex-column flex-sm-row header-container-wrapper pt-0 pb-0 pl-md-0 pr-md-0">
    <div class="container flex-column flex-sm-row" ng-controller="manageSendMoneyLoginController">
        <a class="navbar-brand" ui-sref='app.sending_loop'>
            <img src="images/sending-loop-logo.png" alt="Recharge Mobile Phones">
        </a>

        <ul class="navbar-nav navbar-user-panel d-flex flex-row justify-content-sm-end order-md-2" ng-if="IsLogin">
            <li class="nav-item" ng-click="logoutGustCustomer()"><a class="nav-link"><i class="fa fa-sign-out" aria-hidden="true"></i>&nbsp; Log out</a></li>

            <li class="nav-item d-sm-block d-md-none"><a class="nav-link" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars" aria-hidden="true"></i></a></li>
        </ul>
        <div class="collapse navbar-collapse justify-content-start justify-content-md-end order-md-1" id="navbarResponsive">
            <ul class="navbar-nav ">
                <li class="nav-item" ng-if="IsLogin"><a class="nav-link" ui-sref='app.sending_loop'>Home</a></li>
                <li class="nav-item" ng-if="IsLogin"><a class="nav-link" href="" ui-sref='app.SendMoneyTransaction'>Transactions</a></li>
            </ul>
        </div>
    </div>
</header>
<!--end header-->
<div class="body-container-wrapper m-t-3" ng-controller="makeSendMoneyPaymentController">
    <div class="master-banner inner-page-banner d-flex align-items-end">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 desaturated-blue">
                    <ul class="row custom-banner-breadcrumb cm-white-space">
                        <!--<li class="col-md-4 {{localStorage.SelectedCountry.MobileNumber !=''?'active':''}}" ng-click="goBack()">Destination Number</li>-->
                        <li class="col-md-4" ui-sref='app.SendMoney'>TRANSACTION INFORMATION</li>
                        <li class="col-md-4" ng-click="MoveBack()">BENEFICIARY DETAILS</li>
                        <li class="col-md-4 active">Payment</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="body-container-wrapper container">
        <div id="view"></div>
        <section class="choose-amount-wrapper amount-wrap pt-5 pb-5">
            <form role="form" class="ng-pristine ng-valid" id="payment" name="" ui-jq="validate">
                <h1 class="text-center">Choose your payment method</h1>
                <div class="form-group row  mt-4">

                    <div class="row">
                        <div class="col-sm-5 p-0">
                            <dl class="section-bottom data-row">
                                <dd class="data-label">Recipient:<br />
                                    <small>{{AddressData.BeneficiaryModel.FirstName}}
                                        <br />
                                        {{AddressData.BeneficiaryModel.Address1}}<br />
                                        {{AddressData.BeneficiaryModel.Address2}} {{AddressData.BeneficiaryModel.City}}
                                        ,{{AddressData.BeneficiaryModel.State}},{{AddressData.BeneficiaryModel.ZipCode}}<br />
                                        <span>Tel:&nbsp; {{AddressData.BeneficiaryModel.Phone}}</span><br />
                                        <span>Email: &nbsp;{{AddressData.BeneficiaryModel.Email}}</span>
                                    </small>
                                </dd>
                            </dl>
                            <div class="col-sm-12 pay-ui">


                                <br />
                                <br />
                                <br />

                                <dl class="section-bottom data-row">
                                    <dd class="data-label">Pay with your</dd>
                                </dl>

                                <div class="col-sm-12">
                                    <label class="col-sm-12 form-control-label" for="rdCashPickup">
                                        <input type="radio" name="rdBankDeposit" id="rdCashPickup" value="CashPickup">
                                        <span class="bold">Bank Account x-5871 </span>&nbsp;
                                <br />
                                        <small class="pl-3">Transaction Fee: 4.99 USD</small>
                                    </label>

                                </div>
                                <div class="col-sm-12">
                                    <label class="col-sm-12 mt-4 form-control-label" for="rdCashPickup">
                                        <input type="radio" name="rdBankDeposit" id="Radio1" value="CashPickup">
                                        <span class="bold">DDCbofa </span>&nbsp;
                                <br />
                                        <small class="pl-3">Transaction Fee: 4.99 USD</small></label>

                                </div>
                                <div class="col-sm-12">
                                    <label class="col-sm-12 mt-4 form-control-label" for="rdCashPickup">
                                        <input type="radio" name="rdBankDeposit" id="Radio2" value="CashPickup">
                                        <span class="bold">BofaFalcon </span>&nbsp;
                                <br />
                                        <small class="pl-3">Transaction Fee: 4.99 USD</small></label>
                                </div>
                                <hr class="m-0">
                                <h4 class="mt-4">Add new payment method</h4>
                                <div class="col-sm-12 p-0 m-b-1">
                                    <label for="Status" class="col-sm-10 form-control-label">Lowest Fee: 4.99 USD </label>
                                    <div class="col-sm-11 p-0">
                                        <div class="col-sm-8" ng-repeat="PaymentMethod in PaymentMethods">
                                            <label class="form-control-label">
                                                <input type="radio" name="methods" ng-model="ModelData.PaymentMethodId" value="{{PaymentMethod.PaymentMethodId}}"  required ng-init="$index==0?(ModelData.PaymentMethodId=PaymentMethod.PaymentMethodId):''" />
                                                {{PaymentMethod.Title}}
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="alertmsg alert-danger text-left position-static" id="NoPaymentMethod" ng-if="PaymentMethods.length==0">
                                    <span>You are not able to make Payment, please contact with administrator.</span>
                                </div>

                                <div >
                                    <hr class="m-0">
                                    <!-- ng-show="ModelData.PaymentMethodId>0"
                                        <div class="row">
                                <dl class="section-bottom data-row">
                                     <dt class="data-label no-border">
                                        <img src="./assets/image/payment_gateways.gif" alt="">
                                    </dt>
                                   
                                </dl>
                            </div>-->
                                    <div class="form-group row mt-3">
                                        <div class="col-sm-12" id="card-number-field">
                                            <label for="CardNumber" class="col-sm-10 form-control-label">Card Number: <b class="text-danger">&nbsp;*</b></label><div class="col-sm-10 form-group" id="Div1">
                                                <input type="number" class="form-control cm-input" id="CardNumber" placeholder="Card Number" ng-model="ModelData.CardNumber" onkeypress="if(this.value.length==16) return false;"required>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 m-t-1">
                                            <label for="ExpireDate" class="col-sm-10 form-control-label">Expire Date: <b class="text-danger">&nbsp;*</b></label><div class="col-sm-5">
                                                <input type="number" class="form-control cm-input float-left" id="Expiremonth" placeholder="mm" ng-model="ExpireModel.ExpireMonth" onkeypress="if(this.value.length==2) return false;" required>
                                            </div>
                                            <div class="col-sm-5 float-left">
                                                <input type="number" class="form-control cm-input float-left" id="Year" placeholder="yy" ng-model="ExpireModel.ExpireYear" onkeypress="if(this.value.length==2) return false;" ng-change="CheckYear(ExpireModel.ExpireYear)" required>
                                            </div>
                                        </div>


                                        <div class="col-sm-12 m-t-1">
                                            <label for="CVV" class="col-sm-3 form-control-label">CVV: <b class="text-danger">&nbsp;*</b></label>
                                            <div id="cvv-Field" class="col-sm-10">
                                                <input type="number" class="form-control cm-input" id="cvv" placeholder="CVV" ng-model="ModelData.cvv" onkeypress="if(this.value.length == 4) return false;" required>
                                            </div>
                                        </div>

                                        <div ng-if="alert" id="alertDiv" class="alert alert-danger text-left position-static">
                                            <span id="PaymentAlertText"></span>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-sm-7">
                            <div class="col-sm-12 p-0">
                                <dl class="section-bottom data-row">
                                    <dt class="data-label">Selected Money Receiving Option:
                                    <br />
                                        <small ng-if="PaymentModel.PaymentType=='BankDeposit'">Bank Deposit  &nbsp;-</small>
                                        <small ng-if="PaymentModel.PaymentType=='CashPickup'">Cash Pickup &nbsp;-</small>
                                    </dt>
                                                                        <!--<dd class="data-value text-right">
                                        <button type="submit" class="btn btn-default cro-btn" ui-sref="app.SendMoney">Change receiving option</button>
                                    </dd>-->
                                </dl>
                            </div>                            
                            <div class="row">
                                <div class="col-sm-6">
                                    <label class="col-sm-12 form-control-label">
                                        <input type="radio" name="PaymentMethod" id="rdBankDeposit"  ng-click="ChangePrefered()"/>
                                       <!-- <span class="bold" ng-if="">{{AddressData.BankLocation}}</span>-->
                                      <!--<img src="./assets/image/bank-icon.png" /> -->  <span class="bold bank-icon">{{AddressData.BeneficiaryModel.BankName}}</span></label>
                                    <label class="pl-30px">{{AddressData.BeneficiaryModel.AccountNumber}}</label>
                                </div>
                                <!---->
                                <div class="col-sm-6">
                                    <label class="col-sm-12 form-control-label" for="rdCashPickup">
                                        <input type="radio" name="PaymentMethod" id="redioCashPickup"  ng-click="ChangePrefered()"/>
                                        <span class="bold CaskPickup-icon">{{AddressData.CashpickLocation}}</span></label>
                                </div>
                            </div>

                            <hr class="m-0">
                            <dl class="section-bottom data-row">
                                <dt class="data-label no-border">
                                    <img src="images/Flag/us.png" alt="">
                                </dt>
                                <dd class="data-value text-right">U.S.A</dd>
                            </dl>
                            <dl class="section-bottom data-row">
                                <dd class="data-label">State</dd>
                                <dt class="data-value text-right"><span>{{PaymentModel.SelectedState}}</span></dt>
                            </dl>
                            <dl class="section-bottom data-row">
                                <dt class="data-label">You are sending</dt>
                                <dd class="data-value text-right"><span>{{PaymentModel.Amount |  number: 2}}</span><span> {{PaymentModel.SendingCurrency}}</span></dd>
                            </dl>
                            <dl class="section-bottom  data-row bb-1px-ccc">
                                <dt class="data-label">Transaction fee</dt>
                                <dd class="data-value text-right"><span>4.99</span><span> USD</span></dd>
                            </dl>
                            <dl class="section-bottom data-row">
                                <dt class="data-label no-border">
                                    <img src="images/Flag/{{PaymentModel.iso |lowercase}}.png" alt="">
                                </dt>
                                <dd class="data-value text-right">{{PaymentModel.CountryName}}</dd>
                            </dl>

                            <!--<dl class="section-bottom  data-row">
                                <dt class="data-label">State</dt>
                                <dd class="data-value text-right">{{PaymentModel.SelectedCountryState}}</dd>
                            </dl>-->
                            <dl class="data-row">
                                <dt class="data-label">Recipient receives</dt>
                                <dd class="data-value text-right"><span>{{PaymentModel.RecipientAmmount |  number: 2}}</span><span> {{PaymentModel.CurrencyCode }}</span></dd>
                            </dl>
                            <dl class="data-row bb-1px-ccc">
                                <dt class="data-label">Exchange rate<span>*</span></dt>
                                <dd class="data-value text-right"><span>1 USD =</span><span>{{PaymentModel.ExchangeRate}}</span><span> {{PaymentModel.CurrencyCode}}</span></dd>
                            </dl>
                            <dl class="section-bottom data-row">
                                <dt class="data-label">Your Total</dt>
                                <dd class="data-value text-right"><span>{{(PaymentModel.Amount-0) +4.99 |  number: 2 }}</span><span> USD</span></dd>
                            </dl>
                            <div class="row">
                                <!--<dl class="data-row roption-btn text-white">
                            <dd class="data-value text-white">Receiving Option</dd>
                            <dd class="data-value text-right text-white"><span>{{PaymentModel.PaymentType}}</span></dd>
                        </dl>-->
                                <div class="col-sm-12">
                                    <!-- <button type="submit" class="btn btn-default cro-btn" ui-sref="app.SendMoney">Change receiving option</button>-->
                                </div>
                            </div>
                            <div class="pl-25">
                                <!--  <button type="submit" class="btn btn-default cancel-btn" ng-click="cancel()">Cancel</button>-->
                                <button type="submit" class="btn btn-default cancel-btn text-black" ui-sref="app.addEditBeneficiary">Back</button>
                                <button type="submit" class="btn btn-info submit-btn"
                                    ng-disabled="!isCardValid || !ExpireModel.ExpireMonth || !ExpireModel.ExpireYear||!ModelData.cvv"
                                    ng-click="PayNow();">
                                    Pay Now
                                </button>
                            </div>
                        </div>
                    </div>






                </div>
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <!-- <button type="submit" class="btn btn-default cancel-btn" ng-click="cancel()">Cancel</button>
                          <button type="submit" class="btn btn-default cancel-btn" ng-click="cancel()">Back</button>
                        <button type="submit" class="btn btn-info submit-btn"
                            ng-disabled="!isCardValid || !ExpireModel.ExpireMonth || !ExpireModel.ExpireYear||!ModelData.cvv"
                            ng-click="PayNow();">
                            Pay Now
                        </button>-->

                    </div>
                </div>
            </form>
            <div class="modal " tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="Payconfirm">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header text-success">
                            <h4 class="modal-title ">Confirmation ! </h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="modal-body">
                            <h6 class="modal-title">Please click yes to proceed </h6>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-success" ng-click="Create()">Yes</button>
                            <button type="button" class="btn btn-primary" data-dismiss="modal">No</button>
                        </div>
                    </div>
                </div>
            </div>

        </section>
        <!--end master banner-->
        <section class="payment-section pt-5 pb-5">
            <div class="container">
                <div class="row section-01">
                    <div class="col-md d-flex mb-4 mb-md-0">
                        <div class="">
                            <div class="reason-image mb-4">
                                <img src="assets/image/gift.jpg" alt="easy and fast">
                            </div>
                            <h4>Give the gift of talk and connect</h4>
                            <p>Surprise your Family and Friends with airtime anytime, for any occasion. Giving is easy. All you need is their phone number.</p>
                        </div>
                    </div>
                    <div class="col-md d-flex mb-4 mb-md-0">
                        <div class="">
                            <div class="reason-image mb-4">
                                <img src="assets/image/send.jpg" alt="Low cost">
                            </div>
                            <h4>Get on-the-go convenience</h4>
                            <p>Reload at home or on-the-go. We’ll send it instantly and your Family or Friends will get a text message the moment it arrives.</p>
                        </div>
                    </div>
                    <div class="col-md d-flex">
                        <div class="">
                            <div class="reason-image mb-4">
                                <img src="assets/image/sync.jpg" alt="120+ countries supported">
                            </div>
                            <h4>Do more than just reload</h4>
                            <p>Whether you want to recharge a prepaid phone, send money or pay a bill, you can do it all with SendingLoop.</p>
                        </div>
                    </div>
                </div>
                <div class="row section-02">
                    <div class="phoneReload"></div>
                    <div class="col-md d-flex mb-12 mb-md-0">
                        <div class="flowimg">
                            <img src="assets/image/flow.jpg" alt="easy and fast" width="85%">
                        </div>
                    </div>
                </div>

                 <div class="container my-4">
                    <div class="row">
                        <div class="col-sm-6 text-center">
                            <span class="lock-icon"></span>
                            <h4 class="mt-1">We’ve got your back</h4>
                            <p>We are committed to securing your financial information and employ proven technology to protect and secure your personal information.</p>
                        </div>
                        <div class="col-sm-6 text-center">
                            <span class="security-icon"></span>
                            <h4 class="mt-1">Money-back guarantee</h4>

                            <p>We stand behind the Sendingloop. If your money doesn't get there, we'll refund it in full. Call us anytime if you need help.</p>
                        </div>
                    </div>
                </div>
                <!--<div class="row">
                    <div class="moneyReload"></div>
                    <div class="col-md topnotch d-flex mb-6 mb-md-0">
                        <div class="">
                            <div class="mb-6">
                                <img src="assets/image/money-bck.png" width="12%" alt="easy and fast">
                            </div>
                            <h4>Money-back guarantee</h4>
                            <p>We stand behind the reliability of our service. If your reload doesn't get there, we'll refund it in full. Call us anytime if you need help.</p>
                        </div>
                    </div>
                    <div class="col-md topnotch d-flex mb-6 mb-md-0">
                        <div class="">
                            <div class="mb-6">
                                <img src="assets/image/security.png" width="9%" alt="Low cost">
                            </div>
                            <h4>Top-notch security</h4>
                            <p>We employ top-tier technology to keep your information safe at all times.</p>
                        </div>
                    </div>
                </div>-->
                <div class="row footercol">
                    <div class="col-md-3 ftr-bdr">
                        <div class="ftr-img">
                            <img src="assets/image/footer-icon01.png" class="" />
                        </div>
                        <div>
                            <h5>24/7 HELP</h5>
                            <p>Call us 1-800-970-9618</p>
                        </div>
                    </div>
                    <div class="col-md-3 ftr-bdr">
                        <div class="ftr-img">
                            <img src="assets/image/footer-icon02.png" class="" />
                        </div>
                        <div>
                            <h5>Trusted Pay</h5>
                            <p>100% Payment Protection &amp; Easy Return</p>
                        </div>
                    </div>
                    <div class="col-md-3 ftr-bdr">
                        <div class="ftr-img">
                            <img src="assets/image/footer-icon03.png" class="" />
                        </div>
                        <div>
                            <h5>Secured Payment</h5>
                            <p>All Major Credit &amp; Debit Cards Accepted</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="ftr-img">
                            <img src="assets/image/footer-icon04.png" class="" />
                        </div>
                        <div>
                            <h5>REGHARGE on app</h5>
                            <p>Just Download our App to get Best Offers</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="newsletter-bg"></div>
                    <div class="newsletter">
                        <img src="assets/image/signup-newsletter.png" width="85%" />
                    </div>
                </div>
                <div class="row footercol last">
                    <div class="col-md-3 ftr-txt">
                        <div>
                            <p>
                                <img src="assets/image/ftr-logo.png" width="45%" />
                            </p>
                            <p>Your Money | Your Best Option | Your Best Solution!</p>
                            <p>
                                Address: FalconLoop Inc.
                                <br>
                                506 Second Ave. Suite 1400<br>
                                Seattle WA, 98104<br>
                                United States of America<br>
                                1-800-970-9618
                            </p>
                        </div>
                    </div>
                    <div class="col-md-3 ftr-txt">
                        <h5>ABOUT US</h5>
                        <p>FalconLoop’s Vision is to virtually create a service that delivers greater benefits by being simple, secure, fast, compatible, and reliable. Our mission is to give customers the benefits they expect, where they expect and how they expect to be provided.</p>
                    </div>
                    <div class="col-md-3 ftr-txt" ng-controller="manageSendMoneyLoginController">
                        <h5>HELP &amp; SUPPORT</h5>
                        <ul>
                            <li><a target="_blank" ui-sref='app.Contact_us'>Contact</a></li>
                            <li><a target="_blank" ui-sref='app.Supported_Currencies'>Supported Currencies</a></li>
                            <li><a target="_blank" ui-sref='app.Swift_BIC_Codes'>Swift/BIC Codes</a></li>
                            <li><span ng-if="IsLogin"><a target="_blank" ui-sref='app.SendMoneyTransaction'>Track Transfers</a></span>
                                <span ng-if="!IsLogin"><a target="_blank" ui-sref='app.SendMoneylogin'>Track Transfers</a></span></li>
                            <li><a target="_blank" ui-sref='app.Rate_Alerts'>Rate Alerts</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 ftr-txt">
                        <h5>SECURITY &amp; PRIVACY</h5>
                        <ul>
                            <li><a target="_blank" ui-sref='app.US_state_lcensing'>U.S. State Licensing</a></li>
                            <li><a target="_blank" ui-sref='app.International_Licensing'>International Licensing</a></li>
                            <li><a target="_blank" ui-sref='app.Security_Center'>Security Center</a></li>
                            <li><a target="_blank" ui-sref='app.privacy_policy'>Privacy Policy</a></li>
                            <li><a target="_blank" ui-sref='app.User_agreement'>User Agreement</a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </section>

    </div>
</div>
<footer class="footer-container-wrapper pt-4 pb-2">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <p>Copyright 2017 © Falconloop. All Rights Reserved.</p>
            </div>
        </div>
    </div>
</footer>


