<!--end header-->
<div class="body-container-wrapper" ng-controller="manageSendMoneyController">
    <div class="httpprocess" id="Processbar" ng-show="process">
        <img src="./assets/image/spinner.gif" />
    </div>
    <div class="master-banner d-flex" >
        <div class="container position-relative d-flex justify-content-center align-items-center mt-6rem">
            <div class="banner-form w-100 text-center">
                <h5 class="display-4">Send Money
                    <br>
                    to your friends and family</h5>
                <form class="banner-form-wrapper d-flex flex-column">
                    <div class="form-group">
                        <label class="additional-info text-white" id="SelectedStatelabel">Sending Money from the U.S.A.</label>
                    </div>
                    <div class="form-group">
                        <select class="form-control banner-input" id="StateSelected" ng-model="SelectedState">
                            <option value="0">Select State</option>
                            <option ng-repeat="(key,value) in States" value="{{key}}">{{key}}</option>
                        </select>
                    </div>
                    <div class="alert alert-danger text-left position-static mt-3" id="PaymentMethod" ng-if="stateSelect">
                        <span>Please select U.S.A State.</span>
                    </div>
                    <div class="form-group">
                        <label class="additional-info text-white" id="SelectedCountryLabel">Destination Country</label>
                    </div>
                    <div class="form-group form-group-country">
                        <span class="flag-icon" style="background-image: url(./images/Flag/{{FlagModel.iso|lowercase}}.png);">
                            <i class="fa fa-globe" ng-if="FlagModel.Result!='Success'" aria-hidden="true"></i>
                        </span>
                        <select class="form-control banner-input" id="CountrySelected" ng-model="CountryDetails.phonecode" ng-change="getcountrydata(CountryDetails.phonecode)" ng-init="CountryDetails.phonecode='0'">
                            <option value="0">Select Country</option>
                            <option ng-repeat="Country in Countries" value="{{Country.phonecode}}">{{Country.CountryName}}</option>
                        </select>
                    </div>

                    <div ng-if="CountryDetails.phonecode=='52'">

                        <!--  <div class="form-group form-group-country fl-w-100">
                            <span class="flag-icon">
                                <i class="fa fa-globe" aria-hidden="true"></i>
                            </span>
                            <select class="form-control banner-input" id="SelectCountyState" ng-model="FlagModel.SelectedCountryState" ng-init="FlagModel.SelectedCountryState='0'">
                                <option value="0">Select Receiver State/Province</option>
                                <option value="DIF">Ciudad de México</option>
                                <option value="AGS">Aguascalientes</option>
                                <option value="BCN">Baja California</option>
                                <option value="BCS">Baja California Sur</option>
                                <option value="CAM">Campeche</option>
                                <option value="CHP">Chiapas</option>
                                <option value="CHI">Chihuahua</option>
                                <option value="COA">Coahuila</option>
                                <option value="COL">Colima</option>
                                <option value="DUR">Durango</option>
                                <option value="GTO">Guanajuato</option>
                                <option value="GRO">Guerrero</option>
                                <option value="HGO">Hidalgo</option>
                                <option value="JAL">Jalisco</option>
                                <option value="MEX">Estado de México</option>
                                <option value="MIC">Michoac&aacute;n</option>
                                <option value="MOR">Morelos</option>
                                <option value="NAY">Nayarit</option>
                                <option value="NLE">Nuevo Le&oacute;n</option>
                                <option value="OAX">Oaxaca</option>
                                <option value="PUE">Puebla</option>
                                <option value="QRO">Quer&eacute;taro</option>
                                <option value="ROO">Quintana Roo</option>
                                <option value="SLP">San Luis Potos&iacute;</option>
                                <option value="SIN">Sinaloa</option>
                                <option value="SON">Sonora</option>
                                <option value="TAB">Tabasco</option>
                                <option value="TAM">Tamaulipas</option>
                                <option value="TLX">Tlaxcala</option>
                                <option value="VER">Veracruz</option>
                                <option value="YUC">Yucat&aacute;n</option>
                                <option value="ZAC">Zacatecas</option>
                            </select>
                        </div>-->

                        <!-- onkeypress='return event.charCode >= 48 && event.charCode <= 57 && event.charCode > 31 && event.charCode != 46'-->
                        <div class="form-group text-left " ng-if="FlagModel.Result =='Success'">
                            <label class="" for="exampleInputAmount">You're sending</label>
                            <div class="input-group">
                                <input type="text" autocomplete="off" autocorrect="off" autocapitalize="off" onkeypress="return AllowDecimal(event)" class="form-control cm-bg-white" id="exampleSendingAmount" maxlength="10" ng-model="FlagModel.Amount" ng-change="EnteredNumber(FlagModel.Amount)">
                                <div class="input-group-addon">
                                    <select class="cm-select-USD">
                                        <option value="0" selected="selected" label="USD">USD</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="form-group text-left" ng-if="FlagModel.Result =='Success'">
                            <label class="" for="exampleInputAmount">RECIPIENT GETS</label>
                            <div class="input-group">
                                <input type="text" class="form-control cm-bg-white" id="exampleInputAmount" ng-pattern="/^[0-9]*$/" maxlength="12" placeholder="0.00" ng-model="FlagModel.RecipientAmmount">
                                <div class="input-group-addon">
                                    <select class="cm-select-USD">
                                        <option value="0" selected="selected" label="{{FlagModel.CurrencyCode}}">{{FlagModel.CurrencyCode}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6 info-cell" ng-if="FlagModel.IsData">
                                <label>Exchange rate:</label>
                                <span class="additional-info">1 USD = {{FlagModel.ExchangeRate?FlagModel.ExchangeRate:0.0000}}&nbsp; {{FlagModel.CurrencyCode}}</span>
                            </div>
                            <div class="info-cell col-sm-6 text-right" ng-if="FlagModel.IsData">

                                <label>Fee:</label>
                                <span class="additional-info">{{FlagModel.Fee}} USD</span>
                            </div>
                        </div>
                    </div>

                    <div ng-if="CountryDetails.phonecode !='52' && CountryDetails.phonecode>0" class="alert alert-danger text-left position-static">
                        <span>Sorry, We are unable to proceed with this country.!</span>
                    </div>

                    <button class="button-send" ng-click="sendMoneyClick()" ng-disabled="!isValidData">
                        Send money
                    </button>
                    <div ng-if="!IsLogin" ng-controller="manageSendMoneyLoginController" style="margin-bottom: 1rem;">
                        <a ng-if="!IsLogin" class="text-white" ui-sref='app.SendMoneylogin'>Log In</a> &nbsp; &nbsp;
                        <a ng-if="!IsLogin" class="text-white" ui-sref='app.SendMoneyUserRegister'>Sign Up</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--end master banner-->


</div>



<script>
    function AllowDecimal(evt) {

        var charCode = (evt.which) ? evt.which : event.keyCode
        if (charCode > 31 && (charCode < 48 || charCode > 57) && charCode != 46)
            return false;
        else {
            var len = document.getElementById("exampleSendingAmount").value.length;
            var index = document.getElementById("exampleSendingAmount").value.indexOf('.');

            if (index > 0 && charCode == 46) {
                return false;
            }
            if (index > 0) {
                var CharAfterdot = (len + 1) - index;
                if (CharAfterdot > 3) {
                    return false;
                }
            }

        }
        return true;
    }
</script>
