<header class="navbar navbar-expand-md flex-column flex-sm-row header-container-wrapper pt-0 pb-0 pl-md-0 pr-md-0">
    <div class="container flex-column flex-sm-row" ng-controller="manageSendMoneyLoginController">
        <a class="navbar-brand" ui-sref='app.sending_loop'>
            <img src="images/sending-loop-logo.png" alt="Recharge Mobile Phones">
        </a>

        <ul class="navbar-nav navbar-user-panel d-flex flex-row justify-content-sm-end order-md-2" ng-if="IsLogin">
            <li class="nav-item" ng-click="logoutGustCustomer()"><a class="nav-link"><i class="fa fa-sign-out" aria-hidden="true"></i>&nbsp; Log out</a></li>

            <li class="nav-item d-sm-block d-md-none"><a class="nav-link" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars" aria-hidden="true"></i></a></li>
        </ul>
        <div class="collapse navbar-collapse justify-content-start justify-content-md-end order-md-1" id="navbarResponsive">
            <ul class="navbar-nav ">
                <li class="nav-item" ng-if="IsLogin"><a class="nav-link" ui-sref='app.sending_loop'>Home</a></li>
                <li class="nav-item" ng-if="IsLogin"><a class="nav-link" href="" ui-sref='app.SendMoneyTransaction'>Transactions</a></li>
            </ul>
        </div>
    </div>
</header>
<div class="container-fluid  " ng-controller="sendMoneythankyouController ">
    <div class="login-form-groupper">
        <div class="row">
            <div class="col-lg-10 col-md-12 col-sm-12 col-md-offset-2 m-t-3 cm-m-t  ">
                <div class="card">
                    <div class="card-header text-xs-center no-bg b-a-0">
                        <i class="fa fa-check text-success fa-5x m-b-1 cm-alignment" aria-hidden="true"></i>
                        <h1 class="text-center">Congratulations, your payment has been successfully processed!</h1>
                        <h3 class="text-center">Tracking Information: {{ThankyouDetails.PaymentGatewayTransactionId}}</h3>
                    </div>
                    <div class="card-block text-xs-center">
                        <div class="row additional-info ng-binding">
                            <div class="col-sm-6">
                                <dl class="section-bottom data-row">
                                    <dd class="data-label">Sender:<br />
                                        <small class="">{{ThankyouDetails.GustCustomer.FirstName}}
                                        <br />
                                            {{ThankyouDetails.GustCustomer.Address1}}<br />
                                            {{ThankyouDetails.GustCustomer.Address2}} &nbsp; {{ThankyouDetails.GustCustomer.City}}
                                        ,&nbsp;{{ThankyouDetails.GustCustomer.State}},&nbsp;{{ThankyouDetails.GustCustomer.ZipCode}}<br />
                                            <span>Tel:&nbsp; {{ThankyouDetails.GustCustomer.Phone}}</span><br />
                                            <span>Email: &nbsp;{{ThankyouDetails.GustCustomer.Email}}</span>
                                        </small>
                                    </dd>
                                </dl>
                                <dl>
                                    <dd class="data-label pl-3">*Selected Deposit Method: 
                                   
                                    <span class="font-weight-bold">{{ThankyouDetails.AmountDetails.PaymentType}}</span></dd>
                                </dl>

                                <dl>
                                    <dd class="data-label pl-4">Paid with credit card</dd>
                                </dl>


                            </div>
                            <div class="col-sm-6">
                                <dl class="section-bottom data-row">
                                    <dd class="data-label">Recipient:<br />
                                        <small class="">{{ThankyouDetails.BeneficiaryModel.FirstName}}
                                        <br />
                                            {{ThankyouDetails.BeneficiaryModel.Address1}}<br />
                                            {{ThankyouDetails.BeneficiaryModel.Address2}} &nbsp;{{ThankyouDetails.BeneficiaryModel.City}}
                                        ,&nbsp;{{ThankyouDetails.BeneficiaryModel.State}},&nbsp;{{ThankyouDetails.BeneficiaryModel.ZipCode}}<br />
                                            <span>Tel:&nbsp; {{ThankyouDetails.BeneficiaryModel.Phone}}</span><br />
                                            <span>Email: &nbsp;{{ThankyouDetails.BeneficiaryModel.Email}}</span>
                                        </small>
                                    </dd>
                                </dl>
                                <dl class="section-bottom data-row">
                                    <dd class="data-label">
                                        <small class="">{{ThankyouDetails.AmountDetails.PaymentType}} -<span ng-if="ThankyouDetails.AmountDetails.PaymentType=='BankDeposit'"> {{ThankyouDetails.BankLocation}}</span><span ng-if="ThankyouDetails.AmountDetails.PaymentType=='CashPickup'">{{ThankyouDetails.CashpickLocation}}</span>
                                            <br />
                                            <span>Transferred :&nbsp;</span>{{ThankyouDetails.AmountDetails.Amount}} &nbsp; USD<br />
                                            <span>Total received :&nbsp;</span>{{ThankyouDetails.AmountDetails.RecipientAmmount}} &nbsp;{{ThankyouDetails.AmountDetails.CurrencyCode}}<br />
                                            <span>Service fee :&nbsp;</span>4.99 &nbsp; USD<br />
                                            <span>Total transaction :&nbsp;</span>{{(ThankyouDetails.AmountDetails.Amount-0)+ 4.99|  number: 2 }}&nbsp; USD
                                        </small>
                                    </dd>

                                </dl>
                            </div>
                        </div>


                    </div>
                    <div class="col-sm-6 m-t-1">
                        <div class="pull-right padding">
                            <button type="submit" class="btn btn-lg btn-success btn-bg" ng-click="viewTransactions()">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="payment-section pt-5 pb-5">
        <div class="container">
            <div class="row section-01">
                <div class="col-md d-flex mb-4 mb-md-0">
                    <div class="">
                        <div class="reason-image mb-4">
                            <img src="assets/image/gift.jpg" alt="easy and fast">
                        </div>
                        <h4>Give the gift of talk and connect</h4>
                        <p>Surprise your Family and Friends with airtime anytime, for any occasion. Giving is easy. All you need is their phone number.</p>
                    </div>
                </div>
                <div class="col-md d-flex mb-4 mb-md-0">
                    <div class="">
                        <div class="reason-image mb-4">
                            <img src="assets/image/send.jpg" alt="Low cost">
                        </div>
                        <h4>Get on-the-go convenience</h4>
                        <p>Reload at home or on-the-go. We’ll send it instantly and your Family or Friends will get a text message the moment it arrives.</p>
                    </div>
                </div>
                <div class="col-md d-flex">
                    <div class="">
                        <div class="reason-image mb-4">
                            <img src="assets/image/sync.jpg" alt="120+ countries supported">
                        </div>
                        <h4>Do more than just reload</h4>
                        <p>Whether you want to recharge a prepaid phone, send money or pay a bill, you can do it all with SendingLoop.</p>
                    </div>
                </div>
            </div>
            <div class="row section-02">
                <div class="phoneReload"></div>
                <div class="col-md d-flex mb-12 mb-md-0">
                    <div class="flowimg">
                        <img src="assets/image/flow.jpg" alt="easy and fast" width="85%">
                    </div>
                </div>
            </div>

            <div class="container my-4">
                    <div class="row">
                        <div class="col-sm-6 text-center">
                            <span class="lock-icon"></span>
                            <h4 class="mt-1">We’ve got your back</h4>
                            <p>We are committed to securing your financial information and employ proven technology to protect and secure your personal information.</p>
                        </div>
                        <div class="col-sm-6 text-center">
                            <span class="security-icon"></span>
                            <h4 class="mt-1">Money-back guarantee</h4>

                            <p>We stand behind the Sendingloop. If your money doesn't get there, we'll refund it in full. Call us anytime if you need help.</p>
                        </div>
                    </div>
                </div>
            <!--<div class="row">
                <div class="moneyReload"></div>
                <div class="col-md topnotch d-flex mb-6 mb-md-0">
                    <div class="">
                        <div class="mb-6">
                            <img src="assets/image/money-bck.png" width="12%" alt="easy and fast">
                        </div>
                        <h4>Money-back guarantee</h4>
                        <p>We stand behind the reliability of our service. If your reload doesn't get there, we'll refund it in full. Call us anytime if you need help.</p>
                    </div>
                </div>
                <div class="col-md topnotch d-flex mb-6 mb-md-0">
                    <div class="">
                        <div class="mb-6">
                            <img src="assets/image/security.png" width="9%" alt="Low cost">
                        </div>
                        <h4>Top-notch security</h4>
                        <p>We employ top-tier technology to keep your information safe at all times.</p>
                    </div>
                </div>
            </div>-->
            <div class="row footercol">
                <div class="col-md-3 ftr-bdr">
                    <div class="ftr-img">
                        <img src="assets/image/footer-icon01.png" class="" />
                    </div>
                    <div>
                        <h5>24/7 HELP</h5>
                        <p>Call us 1-800-970-9618</p>
                    </div>
                </div>
                <div class="col-md-3 ftr-bdr">
                    <div class="ftr-img">
                        <img src="assets/image/footer-icon02.png" class="" />
                    </div>
                    <div>
                        <h5>Trusted Pay</h5>
                        <p>100% Payment Protection &amp; Easy Return</p>
                    </div>
                </div>
                <div class="col-md-3 ftr-bdr">
                    <div class="ftr-img">
                        <img src="assets/image/footer-icon03.png" class="" />
                    </div>
                    <div>
                        <h5>Secured Payment</h5>
                        <p>All Major Credit &amp; Debit Cards Accepted</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="ftr-img">
                        <img src="assets/image/footer-icon04.png" class="" />
                    </div>
                    <div>
                        <h5>REGHARGE on app</h5>
                        <p>Just Download our App to get Best Offers</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="newsletter-bg"></div>
                <div class="newsletter">
                    <img src="assets/image/signup-newsletter.png" width="85%" />
                </div>
            </div>
            <div class="row footercol last">
                <div class="col-md-3 ftr-txt">
                    <div>
                        <p>
                            <img src="assets/image/ftr-logo.png" width="45%" />
                        </p>
                        <p>Your Money | Your Best Option | Your Best Solution!</p>
                        <p>
                            Address: FalconLoop Inc.
                            <br>
                            506 Second Ave. Suite 1400<br>
                            Seattle WA, 98104<br>
                            United States of America<br>
                            1-800-970-9618
                        </p>
                    </div>
                </div>
                <div class="col-md-3 ftr-txt">
                    <h5>ABOUT US</h5>
                    <p>FalconLoop’s Vision is to virtually create a service that delivers greater benefits by being simple, secure, fast, compatible, and reliable. Our mission is to give customers the benefits they expect, where they expect and how they expect to be provided.</p>
                </div>
                <div class="col-md-3 ftr-txt" ng-controller="manageSendMoneyLoginController">
                    <h5>HELP &amp; SUPPORT</h5>
                    <ul>
                        <li><a target="_blank" ui-sref='app.Contact_us'>Contact</a></li>
                        <li><a target="_blank" ui-sref='app.Supported_Currencies'>Supported Currencies</a></li>
                        <li><a target="_blank" ui-sref='app.Swift_BIC_Codes'>Swift/BIC Codes</a></li>
                        <li><span ng-if="IsLogin"><a target="_blank" ui-sref='app.SendMoneyTransaction'>Track Transfers</a></span>
                            <span ng-if="!IsLogin"><a target="_blank" ui-sref='app.SendMoneylogin'>Track Transfers</a></span></li>
                        <li><a target="_blank" ui-sref='app.Rate_Alerts'>Rate Alerts</a></li>
                    </ul>
                </div>
                <div class="col-md-3 ftr-txt">
                    <h5>SECURITY &amp; PRIVACY</h5>
                    <ul>
                        <li><a target="_blank" ui-sref='app.US_state_lcensing'>U.S. State Licensing</a></li>
                        <li><a target="_blank" ui-sref='app.International_Licensing'>International Licensing</a></li>
                        <li><a target="_blank" ui-sref='app.Security_Center'>Security Center</a></li>
                        <li><a target="_blank" ui-sref='app.privacy_policy'>Privacy Policy</a></li>
                        <li><a target="_blank" ui-sref='app.User_agreement'>User Agreement</a></li>
                    </ul>
                </div>

            </div>
        </div>
    </section>
</div>
<footer class="footer-container-wrapper pt-4 pb-2">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <p>Copyright 2017 © Falconloop. All Rights Reserved.</p>
            </div>
        </div>
    </div>
</footer>
