
<div class="container-fluid  " ng-controller="sendMoneythankyouController ">
    <div class="login-form-groupper">
        <div class="row">
            <div class="col-lg-10 col-md-12 col-sm-12 col-md-offset-2 m-t-3 cm-m-t  ">
                <div class="card">
                    <div class="card-header text-xs-center no-bg b-a-0">
                        <i class="fa fa-check text-success fa-5x m-b-1 cm-alignment" aria-hidden="true"></i>
                        <h1 class="text-center">Congratulations, your payment has been successfully processed!</h1>
                        <h3 class="text-center">Tracking Information: {{ThankyouDetails.PaymentGatewayTransactionId}}</h3>
                    </div>
                    <div class="card-block text-xs-center">
                        <div class="row additional-info ng-binding">
                            <div class="col-sm-6">
                                <dl class="section-bottom data-row">
                                    <dd class="data-label">Sender:<br />
                                        <small class="">{{ThankyouDetails.GustCustomer.FirstName}}
                                        <br />
                                            {{ThankyouDetails.GustCustomer.Address1}}<br />
                                            {{ThankyouDetails.GustCustomer.Address2}} &nbsp; {{ThankyouDetails.GustCustomer.City}}
                                        ,&nbsp;{{ThankyouDetails.GustCustomer.State}},&nbsp;{{ThankyouDetails.GustCustomer.ZipCode}}<br />
                                            <span>Tel:&nbsp; {{ThankyouDetails.GustCustomer.Phone}}</span><br />
                                            <span>Email: &nbsp;{{ThankyouDetails.GustCustomer.Email}}</span>
                                        </small>
                                    </dd>
                                </dl>
                                <dl>
                                    <dd class="data-label pl-3">*Selected Deposit Method: 
                                   
                                    <span class="font-weight-bold">{{ThankyouDetails.AmountDetails.PaymentType}}</span></dd>
                                </dl>

                                <dl>
                                    <dd class="data-label pl-4">Paid with credit card</dd>
                                </dl>


                            </div>
                            <div class="col-sm-6">
                                <dl class="section-bottom data-row">
                                    <dd class="data-label">Recipient:<br />
                                        <small class="">{{ThankyouDetails.BeneficiaryModel.FirstName}}
                                        <br />
                                            {{ThankyouDetails.BeneficiaryModel.Address1}}<br />
                                            {{ThankyouDetails.BeneficiaryModel.Address2}} &nbsp;{{ThankyouDetails.BeneficiaryModel.City}}
                                        ,&nbsp;{{ThankyouDetails.BeneficiaryModel.State}},&nbsp;{{ThankyouDetails.BeneficiaryModel.ZipCode}}<br />
                                            <span>Tel:&nbsp; {{ThankyouDetails.BeneficiaryModel.Phone}}</span><br />
                                            <span>Email: &nbsp;{{ThankyouDetails.BeneficiaryModel.Email}}</span>
                                        </small>
                                    </dd>
                                </dl>
                                <dl class="section-bottom data-row">
                                    <dd class="data-label">
                                        <small class="">{{ThankyouDetails.AmountDetails.PaymentType}} -<span ng-if="ThankyouDetails.AmountDetails.PaymentType=='BankDeposit'"> {{ThankyouDetails.BankLocation}}</span><span ng-if="ThankyouDetails.AmountDetails.PaymentType=='CashPickup'">{{ThankyouDetails.CashpickLocation}}</span>
                                            <br />
                                            <span>Transferred :&nbsp;</span>{{ThankyouDetails.AmountDetails.Amount}} &nbsp; USD<br />
                                            <span>Total received :&nbsp;</span>{{ThankyouDetails.AmountDetails.RecipientAmmount}} &nbsp;{{ThankyouDetails.AmountDetails.CurrencyCode}}<br />
                                            <span>Service fee :&nbsp;</span>{{ThankyouDetails.AmountDetails.Fee}} &nbsp; USD<br />
                                            <span>Total transaction :&nbsp;</span>{{(ThankyouDetails.AmountDetails.Amount-0) + (ThankyouDetails.AmountDetails.Fee-0) |  number: 2 }}&nbsp; USD
                                        </small>
                                    </dd>

                                </dl>
                            </div>
                        </div>


                    </div>
                    <div class="col-sm-6 m-t-1">
                        <div class="pull-right padding">
                            <button type="submit" class="btn btn-lg btn-success btn-bg" ng-click="viewTransactions()">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
</div>
