<!--end header-->
<div class="body-container-wrapper m-t-3" ng-controller="makeSendMoneyPaymentController">
    <div class="master-banner inner-page-banner d-flex align-items-end">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 desaturated-blue">
                    <ul class="row custom-banner-breadcrumb cm-white-space">
                        <!--<li class="col-md-4 {{localStorage.SelectedCountry.MobileNumber !=''?'active':''}}" ng-click="goBack()">Destination Number</li>-->
                        <li class="col-md-3 {{localStorage.PaymentModel.SendingAmount !=''?'active':''}}" ui-sref='app.SendMoney'>TRANSACTION INFORMATION</li>
                        <li class="col-md-3 {{localStorage.SelectedCountry !=''?'active':''}} " ui-sref='app.addEditBeneficiary'>BENEFICIARY DETAILS</li>
                        <li class="col-md-3 {{localStorage.PaymentModel.TransferPurpose !=''?'active':''}}" ui-sref='app.CashPickUp'>CASH PICKUP DETAILS</li>
                        <li class="col-md-3">Payment</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="body-container-wrapper container">
        <div id="view"></div>
        <section class="choose-amount-wrapper amount-wrap pt-5 pb-5">
            <form role="form" class="ng-pristine ng-valid" id="payment" name="" ui-jq="validate">
                <div class="form-group row">

                    <div class="col-sm-6">
                        <h5 class="font-weight-bold p-l-2">Choose your payment method</h5>
                        <div class="col-sm-12 m-b-1">
                            <label for="Status" class="col-sm-4 form-control-label">Payment Method: </label>
                            <div class="col-sm-8 p-0">
                                <div class="col-sm-4" ng-repeat="PaymentMethod in PaymentMethods">
                                    <label class="form-control-label">
                                        <input type="radio" name="methods" ng-model="PaymentModel.PaymentMethodId" value="{{PaymentMethod.PaymentMethodId}}" ng-change="selectedMethod(PaymentModel.PaymentMethodId)" required />
                                        {{PaymentMethod.Title}}
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="alertmsg alert-danger text-left position-static" id="NoPaymentMethod" ng-if="PaymentMethods.length==0">
                            <span>You are not able to make Payment, please contact with administrator.</span>
                        </div>


                    </div>

                    <div class="col-sm-6 ">
                        <h2>Transaction Summary</h2>
                        <hr class="m-0">
                        <dl class="section-bottom data-row">
                            <dt class="data-label no-border">
                                <img src="images/Flag/us.png" alt="">
                            </dt>
                            <dd class="data-value text-right">U.S.A</dd>
                        </dl>
                        <dl class="section-bottom data-row">
                            <dd class="data-label">State</dd>
                            <dt class="data-value text-right"><span>{{PaymentModel.SelectedState}}</span></dt>
                        </dl>
                        <dl class="section-bottom data-row bb-1px-ccc">
                            <dt class="data-label">You are sending</dt>
                            <dd class="data-value text-right"><span>{{PaymentModel.SendingAmount |  number: 2}}</span><span> {{PaymentModel.SendingCurrency}}</span></dd>
                        </dl>

                        <dl class="section-bottom data-row">
                            <dt class="data-label no-border">
                                <img src="images/Flag/{{PaymentModel.iso |lowercase}}.png" alt="">
                            </dt>
                            <dd class="data-value text-right">{{PaymentModel.CountryName}}</dd>
                        </dl>

                        <dl class="section-bottom  data-row">
                            <dt class="data-label">State</dt>
                            <dd class="data-value text-right">{{PaymentModel.SelectedCountryState}}</dd>
                        </dl>
                        <dl class="data-row">
                            <dt class="data-label">Recipient receives</dt>
                            <dd class="data-value text-right"><span>{{PaymentModel.ReceivingAmount |  number: 2}}</span><span> {{PaymentModel.ReceivingCurrency }}</span></dd>
                        </dl>
                        <dl class="data-row bb-1px-ccc">
                            <dt class="data-label">Exchange rate<span>*</span></dt>
                            <dd class="data-value text-right"><span>1 USD =</span><span>{{PaymentModel.ExchangeRate}}</span><span> {{PaymentModel.ReceivingCurrency}}</span></dd>
                        </dl>
                    </div>
                </div>
            </form>
        </section>
        <!--end master banner-->

    </div>
</div>



