<header class="navbar navbar-expand-md flex-column flex-sm-row header-container-wrapper pt-0 pb-0 pl-md-0 pr-md-0">
    <div class="container flex-column flex-sm-row" >
        <a class="navbar-brand" ui-sref='app.SendMoney'>
            <img src="images/sending-loop-logo.png" alt="Recharge Mobile Phones"></a>
        <ul class="navbar-nav navbar-user-panel d-flex flex-row justify-content-sm-end order-md-2">
                       <!-- <li ng-if="localStorage.GustCustomer !=''" class="nav-item"><a class="nav-link"><i class="fa fa-sign-out" aria-hidden="true" ng-click="logoutGustCustomer()"></i>&nbsp;Log out</a></li>-->
            <li class="nav-item d-sm-block d-md-none"><a class="nav-link" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars" aria-hidden="true"></i></a></li>
        </ul>
        <div class="collapse navbar-collapse justify-content-start justify-content-md-end order-md-1" id="navbarResponsive">
            <ul class="navbar-nav ">
                <li class="nav-item"><a class="nav-link" href="" ui-sref='app.SendMoneylogin'>Signin</a></li>
                <li class="nav-item"><a class="nav-link" href="" ui-sref='app.SendMoneyUserRegister'>Signup</a></li>
               <!-- <li ng-if="localStorage.GustCustomer !=''" class="nav-item"><a class="nav-link" ui-sref='app.transactionDetails'>Transactions</a></li>-->
            </ul>
        </div>
    </div>
</header>
<!--end header-->
<div class="body-container-wrapper" data-ng-controller="manageSendMoneyLoginController">
    <div class="log-sign-wrapper pt-5 pb-5">
        <div class="container pt-5 pb-5">
            <div class="row d-flex justify-content-center align-items-center flex-column pl-3 pl-sm-0 pr-3 pr-sm-0">
                <div class="col-lg-6 col-md-10 p-0">
                    <ul class="nav log-sign-tab">
                        <li><a href="" ui-sref="app.SendMoneylogin"><i class="fa fa-user" aria-hidden="true"></i>Login</a></li>
                        <li class="active"><a href="" ui-sref="app.SendMoneyUserRegister"><i class="fa fa-sign-in" aria-hidden="true"></i>Sign up</a></li>
                    </ul>
                </div>
                <div class="col-lg-6 col-md-10 desaturated-blue p-5">
                    <form class="log-sing-form" ui-jq="validate" name="tblCustomerregister">
                        <div class="form-group">
                            <label for="Username">First name</label>
                            <input type="text" class="form-control cm-input " ng-model="CustomerRegister.FirstName" name="first-name" placeholder="First name">
                        </div>
                        <div class="form-group">
                            <label for="Username">Last name</label>
                            <input type="text" class="form-control cm-input " ng-model="CustomerRegister.LastName" name="last-name" placeholder="Last name">
                        </div>
                        <div class="form-group">
                            <label for="email">Email address</label>
                            <input type="text" class="form-control cm-input " ng-model="CustomerRegister.Email" name="email" placeholder="Email address">
                        </div>
                        <div class="form-group">
                            <label for="phone">Phone <b class="text-danger">&nbsp;*</b></label>
                            <input type="tel" placeholder="Phone" ng-model="CustomerRegister.Phone" name="phone" class="form-control cm-input" autocomplete="false">
                        </div>
                        <div class="form-group">
                            <label for="sel1">Country:</label>
                            <select name="CustomerRegister" id="Select1" ng-model="CustomerRegister.CountryId" class="form-control cm-input" required>
                                <option value="0">-- Select Country --</option>
                                <option ng-repeat="Country in Countries" value="{{Country.CountryId}}">{{Country.CountryName}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="firstname">Password <b class="text-danger">&nbsp;*</b></label>
                            <input type="password" placeholder="Password" name="password" ng-model="CustomerRegister.Password" class="form-control cm-input">
                        </div>
                        <div class="form-group">
                            <button type="submit" value="" class="btn btn-success custom-form-btn" ng-click="tblCustomerregister.$valid && register()">Register</button>
                        </div>
                        <div class="form-group text-center"><a href="" ui-sref="app.SendMoneylogin">Already a user? Click here to login</a> </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade " tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="loginTimeOut">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header text-success">
                    <h4 class="modal-title ">!Time Out </h4>
                </div>

                <div class="modal-body">
                    <h6 class="mb-4">Time Out for Register Do you want exceed your time for  next 5 mintue or go back?</h6>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" ng-click="exceedTime()">Exceed Time</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="goBack()">Go Back</button>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="footer-container-wrapper pt-4 pb-2">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <p>Copyright 2017 © Falconloop. All Rights Reserved.</p>
            </div>
        </div>
    </div>
</footer>