<header class="navbar navbar-expand-md flex-column flex-sm-row header-container-wrapper pt-0 pb-0 pl-md-0 pr-md-0">
    <div class="container flex-column flex-sm-row" ng-controller="manageCustomerLoginController">
        <a class="navbar-brand" ui-sref='app.customerPortal'>
            <img src="images/logo.png" alt="Charger phone">
            <span>SENDINGLOOP</span>
        </a>
        <ul class="navbar-nav navbar-user-panel d-flex flex-row justify-content-sm-end order-md-2" ng-if="IsLogin">
            <li class="nav-item" ng-click="logoutGustCustomer()"><a class="nav-link"><i class="fa fa-sign-out" aria-hidden="true"></i>&nbsp; Log out</a></li>

            <li class="nav-item d-sm-block d-md-none"><a class="nav-link" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars" aria-hidden="true"></i></a></li>
        </ul>
        <div class="collapse navbar-collapse justify-content-start justify-content-md-end order-md-1" id="navbarResponsive">
            <ul class="navbar-nav ">
                <li class="nav-item"><a class="nav-link" ui-sref='app.customerPortal'>Home</a></li>
                <li class="nav-item" ng-if="IsLogin"><a class="nav-link" ui-sref='app.transactionDetails'>Transactions</a></li>
                <!--<li class="nav-item"><a class="nav-link">Countries</a></li>
            <li class="nav-item"><a class="nav-link">Mobile Apps</a></li>-->
            </ul>
        </div>
    </div>
</header>
<!--end header-->
<div class="body-container-wrapper" ng-controller="manageGustCustomerController">
    <div id="view"></div>
    <div class="master-banner d-flex">
        <div class="container position-relative d-flex justify-content-center align-items-center">
            <div class="banner-form w-100 text-center">
                <h1 class="display-4">
                    FALCONLOOP</br>
                    Recharge Phone to all your<br>
                    friends and family</h1>
                <form class="banner-form-wrapper d-flex flex-column">

                    <div class="form-group">
                        <select class="form-control banner-input" ng-model="CountryDetails.phonecode" ng-change="getcountrydata(CountryDetails.phonecode)" ng-init="CountryDetails.phonecode='0'">
                            <option value="0">Select Country</option>
                            <option ng-repeat="Country in Countries" value="{{Country.phonecode}}">{{Country.CountryName}}</option>
                        </select>
                    </div>


                    <div class="form-group w-100 pull-left">
                        <div class="input-number-wrap position-relative pull-left">
                           <!-- <span class="flag-icon" style="background-image: url(./images/Flag/{{FlagModel.countryCode}}.png);"><i class="fa fa-globe" aria-hidden="true" ng-if="FlagModel.Result !='Success'"></i>
                                <span class="flag"></span>
                            </span>-->

                            <span class="flag-code" ng-if="FlagModel.Result =='Success'">+{{FlagModel.internationalCodes}}</span>
                            <input type="text" class="form-control" pattern="[0-9]*" maxlength="15" placeholder="Mobile Number" ng-change="EnteredNumber(PaybillModel.MobileNumber)" id="MobileNumber" ng-model="PaybillModel.MobileNumber" required>
                        </div>
                        <button type="submit" id="shfirstbutton" ng-click="submitForm()" class="btn cm-btn pull-right"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
                        <!--<button type="submit" id="shfirstbutton" ui-sref='app.chooseAmount' class="btn cm-btn pull-right"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>-->
                    </div>

                    <div class="d-flex align-items-center wrap custom-new-flag" ng-if="FlagModel.Result =='Success'">
                        <div class="col-sm-3 mb-3 mb-sm-0 text-sm-left"><span class="flag-wrapper">
                            <img src="images/Flag/{{FlagModel.countryCode}}.png" alt=""></span> </div>
                        <div class="col-sm-9 pl-sm-0">
                            <span class="country-text-wrap">{{FlagModel.carrierName}}</span>
                        </div>
                    </div>

                    <!-- <div class="row" ng-if="FlagModel != ''">
                     <div class="col-sm-6 mb-3 mb-sm-0">
                        <div class="input-number-wrap cm-form-new-label">
                            <label>{{FlagModel.carrierName}}</label>
                            </div>
                            </div>
                     <div class="col-sm-3 pl-sm-0 mb-3 mb-sm-0">
                         <div class="input-number-wrap cm-form-new-label">
                                <label>{{FlagModel.category}}</label>
                            </div>
                            </div>
                     <div class="col-sm-3 pl-sm-0">
                         <div class="input-number-wrap cm-form-new-label">
                                <label>{{FlagModel.countryCode}}</label>
                            </div>  
                            </div>               
                  </div>-->
                </form>
            </div>
        </div>
    </div>
    <!--end master banner-->
    <section class="payment-section pt-5 pb-5">
        <div class="container">
            <div class="row">
                <div class="col-md d-flex mb-4 mb-md-0">
                    <div class="reason-item w-100">
                        <div class="reason-image mb-4">
                            <img src="assets/image/happy.png" alt="easy and fast"></div>
                        <h4>Easy & Fast</h4>
                    </div>
                </div>
                <div class="col-md d-flex mb-4 mb-md-0">
                    <div class="reason-item w-100">
                        <div class="reason-image mb-4">
                            <img src="assets/image/piggy-bank.png" alt="Low cost"></div>
                        <h4>Low cost</h4>
                    </div>
                </div>
                <div class="col-md d-flex">
                    <div class="reason-item w-100">
                        <div class="reason-image mb-4">
                            <img src="assets/image/placeholder.png" alt="120+ countries supported"></div>
                        <h4>120+ countries supported</h4>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>
<footer class="footer-container-wrapper pt-4 pb-2">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <p>Copyright 2017 © Money Transfer. All Rights Reserved.</p>
            </div>
        </div>
    </div>
</footer>
