<div class="body-container-wrapper" ng-controller="manageGustCustomerController">
    <div id="view"></div>
    <div class="master-banner d-flex">
        <div class="container position-relative d-flex justify-content-center align-items-center">
            <div class="banner-form w-100 text-center">
                <h5 class="display-4">Recharge Mobile Phones credits<br>
                    to your friends and family</h5>
                <form class="banner-form-wrapper d-flex flex-column">

                    <div class="form-group">
                        <select class="form-control banner-input" id="CountrySelected" ng-model="CountryDetails.phonecode" ng-change="getcountrydata(CountryDetails.phonecode)" ng-init="CountryDetails.phonecode='0'">
                            <option value="0">Select Country</option>
                            <option ng-repeat="Country in Countries" value="{{Country.phonecode}}">{{Country.CountryName}}</option>
                        </select>
                    </div>


                    <div class="form-group w-100 pull-left">
                        <div class="input-number-wrap position-relative pull-left">
                            <span class="flag-code" ng-if="FlagModel.Result =='Success'">+{{FlagModel.internationalCodes}}</span>
                            <input type="text" class="form-control" pattern="[0-9]*" maxlength="15" placeholder="Mobile Number" ng-change="EnteredNumber(PaybillModel.MobileNumber)" id="MobileNumber" ng-model="PaybillModel.MobileNumber" required>
                        </div>
                        <button type="submit" id="shfirstbutton" ng-click="submitForm()" class="btn cm-btn pull-right">GO</button>
                    </div>

                    <div class="d-flex align-items-center wrap custom-new-flag" data-ng-if="FlagModel.Result =='Success'">
                        <div class="col-sm-3 mb-3 mb-sm-0 text-sm-left">
                            <span class="flag-wrapper">
                                <img src="images/Flag/{{FlagModel.countryCode}}.png" alt=""></span>
                        </div>
                        <div class="col-sm-9 pl-sm-0">
                            <span class="country-text-wrap">{{FlagModel.carrierName}}</span>
                        </div>
                    </div>
                    <div ng-if="validnumber" class="alert alert-danger text-left position-static">
                        <span id="AlertText"></span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

