<!--   <div class="container mt-3">
       <button class="btn btn-info btn-md">Sign Up</button>
       <button class="btn btn-info btn-md">Log In</button>
   </div>-->
<div class="" ng-controller="manageIndexController">
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-sm-8 text-center mb-4 align-self-center">
                <div class="logo-bg"></div>
                <h5>The easiest way to send money and reload phones around the world.</h5>
                <button class="btn btn-primary px-5 m-4 btn-md">Explore</button>
                <p><span class="text-success">New!</span> Send up to $10,000 USD in one transaction. *</p>
            </div>
        </div>
    </div>
    <div class="svg1"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 py-4" id="panel">
                <ul class="nav justify-content-center">
                    <li class="nav-item mx-4"><a class="nav-link px-4 fs-24 text-light-gray">Send Money</a></li>
                    <li class="nav-item mx-4"><a class="nav-link px-4 fs-24 text-light-gray">Reload Phones</a></li>
                </ul>
                <hr>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row py-5" id="sendmoney">
            <div class="col-sm-8">
                <h3>Send money in seconds</h3>
                <span class="heading-border-bottom"></span>
                <p>Bridge the distance between you and the people you love. Send money to 70 countries anytime, anywhere.</p>
                <p>We'll get your transfer there pronto. Each and every time.</p>
            </div>
            <div class="col-sm-4 align-self-middle">
                <button class="btn btn-info px-3" ui-sref='app.SendMoneyAmount'>
                    <span class="fs-30">Send Money</span>
                    <br>
                    Where are you sending Money?</button>
            </div>
        </div>
    </div>
    <div class="svg2"></div>
    <div class="container">
        <div class="row py-5" id="reloadphones">
            <div class="col-sm-8">
                <h3>Reload phones instantly</h3>
                <span class="heading-border-bottom"></span>
                <p>Keep family and friends connected. Give airtime anytime, for any occasion. It's easy — you just need their phone number.</p>
                <p>We'll send the reload instantly and your loved one will get a text the moment it arrives.</p>
            </div>
            <div class="col-sm-4">
                <button class="btn btn-info px-3" ui-sref='app.customerPortal'>
                    <span class="fs-30">Reload Phones</span>
                    <br>
                    Where are you sending Reloads?</button>
            </div>
        </div>
    </div>

    <div class="svg3"></div>
    <div class="container my-4">
        <div class="row">
            <div class="col-sm-6 text-center">
                <span class="lock-icon"></span>
                <h4 class="mt-1">We’ve got your back</h4>
                <p>We are committed to securing your financial information and employ proven technology to protect and secure your personal information.</p>
            </div>
            <div class="col-sm-6 text-center">
                <span class="security-icon"></span>
                <h4 class="mt-1">Money-back guarantee</h4>

                <p>We stand behind the <a href="hello@zontecsolutions.com">hello@zontecsolutions.com</a>. If your money doesn't get there, we'll refund it in full. Call us anytime if you need help.</p>
            </div>
        </div>
    </div>


    <div class="row footercol">
        <div class="col-md-3 ftr-bdr">
            <div class="ftr-img">
                <img src="assets/image/footer-icon01.png" class="" />
            </div>
            <div>
                <h5>24/7 HELP</h5>
                <p>Call us 1-800-970-9618</p>
            </div>
        </div>
        <div class="col-md-3 ftr-bdr">
            <div class="ftr-img">
                <img src="assets/image/footer-icon02.png" class="" />
            </div>
            <div>
                <h5>Trusted Pay</h5>
                <p>100% Payment Protection &amp; Easy Return</p>
            </div>
        </div>
        <div class="col-md-3 ftr-bdr">
            <div class="ftr-img">
                <img src="assets/image/footer-icon03.png" class="" />
            </div>
            <div>
                <h5>Secured Payment</h5>
                <p>All Major Credit &amp; Debit Cards Accepted</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="ftr-img">
                <img src="assets/image/footer-icon04.png" class="" />
            </div>
            <div>
                <h5>REGHARGE on app</h5>
                <p>Just Download our App to get Best Offers</p>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="newsletter-bg"></div>
        <div class="newsletter">
            <img src="assets/image/signup-newsletter.png" width="72%" />
        </div>
    </div>
    <div class="row footercol last">
        <div class="col-md-3 ftr-txt">
            <div>
                <p>
                    <img src="assets/image/ftr-logo.png" width="45%" />
                </p>
                <p>Your Money | Your Best Option | Your Best Solution!</p>
                <p>
                    Address: FalconLoop Inc.
                <br>
                    506 Second Ave. Suite 1400<br>
                    Seattle WA, 98104<br>
                    United States of America<br>
                    1-800-970-9618
                </p>
            </div>
        </div>
        <div class="col-md-3 ftr-txt">
            <h5>ABOUT US</h5>
            <p>FalconLoop’s Vision is to virtually create a service that delivers greater benefits by being simple, secure, fast, compatible, and reliable. Our mission is to give customers the benefits they expect, where they expect and how they expect to be provided.</p>
        </div>
        <div class="col-md-3 ftr-txt">
            <h5>HELP &amp; SUPPORT</h5>
            <ul>
                <li><a target="_blank" ui-sref='app.Contact_us'>Contact</a></li>
                <li><a target="_blank" ui-sref='app.Supported_Currencies'>Supported Currencies</a></li>
                <li><a target="_blank" ui-sref='app.Swift_BIC_Codes'>Swift/BIC Codes</a></li>
                <li><a target="_blank" ui-sref='app.Track_Transfers'>Track Transfers</a></li>
                <li><a target="_blank" ui-sref='app.Rate_Alerts'>Rate Alerts</a></li>
            </ul>
        </div>
        <div class="col-md-3 ftr-txt">
            <h5>SECURITY &amp; PRIVACY</h5>
            <ul>
                <li><a target="_blank" ui-sref='app.US_state_lcensing'>U.S. State Licensing</a></li>
                <li><a target="_blank" ui-sref='app.International_Licensing'>International Licensing</a></li>
                <li><a target="_blank" ui-sref='app.Security_Center'>Security Center</a></li>
                <li><a target="_blank" ui-sref='app.privacy_policy'>Privacy Policy</a></li>
                <li><a target="_blank" ui-sref='app.User_agreement'>User Agreement</a></li>
            </ul>
        </div>
    </div>

</div>
<footer class="footer-container-wrapper pt-4 pb-2">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <p>Copyright 2017 © Falconloop. All Rights Reserved.</p>
            </div>
        </div>
    </div>
</footer>