<div class="body-container-wrapper  m-t-3" ng-controller="addEditkycController">
    <div class="master-banner inner-page-banner d-flex align-items-end">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 desaturated-blue page-title">
                    <h3 class="color-white m-0">Profile Details</h3>
                </div>
            </div>
        </div>
    </div>
    <!--end master banner-->

    <div class="container">
        <section class="transaction-details-wrapper pt-5 pb-5">
            <div class="container">
                <form role="form" ui-jq="validate" name="tblCustomerKyc">
                    <div class="row">
                        <div class="col-sm-2">
                            <select name="Title" id="Title" ng-model="ProfileModal.Title" class="form-control" ng-init="ProfileModal.Title='Mr'" required>
                                <option value="Mr">Mr.</option>
                                <option value="Mrs">Mrs.</option>
                            </select>
                        </div>
                        <div class="col-sm-4 form-group">
                            <input type="text" class="form-control" id="FirstName" placeholder="First Name" ng-model="ProfileModal.FirstName" maxlength="30" required>
                        </div>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="LastName" placeholder="Last Name" ng-model="ProfileModal.LastName" maxlength="30" required>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="ActivationCode" placeholder="Activation code" ng-model="ProfileModal.ActivationCode" disabled="disabled" required>
                        </div>
                        <div class="col-sm-6">
                            <input type="text" class="form-control datetimepicker" id="DOB" placeholder="Date of birth" ng-model="ProfileModal.DOB" maxlength="30" required>
                        </div>
                    </div>


                    <div class="form-group row">
                        <div class="col-sm-6">
                            <select name="Gender" id="CustomerGenger" ng-model="ProfileModal.Gender" class="form-control" ng-init="ProfileModal.Gender=''" required>
                                <option value=" " disabled="disabled">-- Select Gender --</option>
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                            </select>
                        </div>
                        <div class="col-sm-6">
                            <input type="Email" name="Email" class="form-control" id="Email" placeholder="Email" ng-model="ProfileModal.Email" ng-pattern="/^[A-Za-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/" required>
                            <span class="text-danger" ng-show="tblUser.Email.$error.pattern">Please Enter a valid Email address.</span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-6">
                            <input type="number" min="10" class="form-control" id="Phone" placeholder="Phone" ng-model="ProfileModal.Phone" required>
                        </div>
                        <div class="col-sm-6">
                            <input type="Password" class="form-control" id="Password" name="Password" placeholder="Password" ng-model="ProfileModal.Password">
                        </div>
                    </div>

                    <legend>Customer Address:</legend>
                    <div class="form-group row">
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="BuildingNumber" placeholder="Building Name" ng-model="ProfileModal.BuildingNumber" maxlength="30" required>
                        </div>

                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="Street" placeholder="Street" ng-model="ProfileModal.Street" maxlength="30" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="Address1" placeholder="Address1" ng-model="ProfileModal.Address1" maxlength="30" required>
                        </div>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="Address2" placeholder="Address2" ng-model="ProfileModal.Address2" maxlength="30" required>
                        </div>

                    </div>

                    <div class="form-group row">
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="Town" placeholder="Town" ng-model="ProfileModal.Town" maxlength="30" required>
                        </div>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="City" placeholder="City" ng-model="ProfileModal.City" maxlength="30" required>
                        </div>

                    </div>

                    <div class="form-group row">
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="State" placeholder="State" ng-model="ProfileModal.State" maxlength="30" required>
                        </div>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="ZipCode" placeholder="Postal Code" ng-model="ProfileModal.ZipCode" maxlength="30" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-6">
                            <select name="Country" id="CountryId" ng-model="ProfileModal.CountryId" class="form-control" ng-init="ProfileModal.CountryId='0'" required>
                                <option value="0">-- Select Country --</option>
                                <option ng-repeat="Country in Countries" value="{{Country.CountryId}}">{{Country.CountryName}}</option>
                            </select>
                        </div>

                    </div>

                    <legend>Documents Details:</legend>
                    <div class="form-group row">
                        <div class="col-sm-6">
                            <!--<input type="text" class="form-control" id="ProfileImage" placeholder="Profile Image" ng-model="ProfileModal.ProfileImage">-->
                            <label class="custom-file" style="width: 100%">
                                <input class="custom-file-input" type="file" ng-model="ProfileModal.ProfileImage" nv-file-select="" uploader="upload.uploader">
                                <span class="custom-file-control"></span>
                            </label>


                        </div>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="AccountNumber" placeholder="Account Number" ng-model="ProfileModal.AccountNumber" disabled="disabled" required>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="FileName" placeholder="File Name" ng-model="ProfileModal.FileName" required>
                        </div>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="FileType" placeholder="File Type" ng-model="ProfileModal.FileType" required>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-6">
                            <select name="Gender" id="Side" ng-model="ProfileModal.Side" class="form-control" ng-init="ProfileModal.Side='Front'" required>
                                <option value="Front">Front Side</option>
                                <option value="Back">Back Side</option>
                            </select>
                        </div>

                        <div class="col-sm-6" id="viewAlert"></div>

                    </div>


                    <div class="form-group row m-t-md">
                        <div class="col-sm-6">
                            <button type="submit" class="btn btn-primary pull-right" ng-click="tblCustomerKyc.$valid && Create()">Save</button>
                        </div>
                        <div class="col-sm-6">
                            <button type="submit" class="btn btn-primary" ng-click="cancel()">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>
            <script type="text/javascript">
                $(document).on("mouseover", '.datetimepicker', function () {
                    $(this).datepicker({
                        format: 'mm/dd/yyyy',
                    });
                })
            </script>
        </section>
    </div>
</div>

