<header class="navbar navbar-expand-md flex-column flex-sm-row header-container-wrapper pt-0 pb-0 pl-md-0 pr-md-0">
    <div class="container flex-column flex-sm-row" ng-controller="manageCustomerLoginController">
        <a class="navbar-brand" ui-sref='app.customerPortal'>
            <img src="images/sending-loop-logo.png" alt="Recharge Mobile Phones">
        </a>
    </div>
</header>
<style>
    body {
        font-family: 'Montserrat', sans-serif;
        max-width: 1170px;
        width: 100%;
        margin: 0 auto;
        box-sizing: border-box;
        padding: 20px;
    }

    .cm-ul {
        list-style: none;
        padding-left: 0;
    }

        .cm-ul > li > ul > li {
            padding: 10px;
            list-style: initial;
        }
</style>


<!--<h1>Privacy Policy</h1>-->
<div class="body-container-wrapper" style="margin-top: 100px;">
    <div class="text-center">
        <h1>Private Policy Addtional recommendations</h1>
    </div>


       <p>1. Why we collect information</p>

    <ul class="cm-ul">
        <li>We collect information for the following purposes:</li>
        <li>
            <ul>
                <li>To process your Transactions;</li>
                <li>To verify your identity;</li>
                <li>To collect payment for your use of the Service;</li>
                <li>To allow our partners to fulfill their promotional obligations to you;</li>
                <li>To troubleshoot problems with the Service;</li>
                <li>To comply with applicable laws, regulations, and rules, such as those relating to "know-your-customer" and anti-money laundering requirements;</li>
                <li>To detect and prevent fraud and other illegal uses of the Service; and</li>
                <li>To send you marketing notices, service updates, and promotional offers.</li>
            </ul>
        </li>
    </ul>

    <p>We will retain your account information, including but not limited to your payment source information and Personal Information about you, your Recipient, or your Beneficiary, as needed to provide you Service, as required by applicable law, to resolve disputes and to enforce our agreements. FalconLoop abides by strict security standards, but if you wish to cancel your account and stop using FalconLoop's Service, contact us at https://www.FalconLoop.com/contact-FalconLoop-customer-service. We will continue to retain your account information after your account is cancelled as required under applicable law, regulations, and rules.</p>


    <p>Add on User Agreement under section Disclaimer of warranties; under first paragraph.</p>

    <h2>a. Cancellation and Refunds.</h2>

    <p>You can cancel your Transaction for a full refund within 30 minutes of authorizing your Transaction, unless the funds or mobile reload have already been paid out to the Recipient or Service Company. After 30 minutes, we generally do not provide refunds unless we did not process your Transaction according to your instructions or we are unable to pay out the Transaction. To request a refund, please contact Customer Service (See Help and Support Section, click on Contact, read Errors and Problems or Click on the Refunds option).</p>

    <p>We will make every effort not to debit your Payment Instrument after we have received your request for cancellation. However, in some cases, we may have initiated an irreversible request for funds from your financial institution prior to receiving your request for cancellation. In such cases, your Payment Instrument may be debited even if you have cancelled your Transaction but we will refund your money usually within four (4) business days after we have received the funds from your financial institution.</p>

    <p>Refunds will be credited to the same Payment Instrument used to pay for the Transaction. Refunds are only made in U.S. Dollars. Refund amounts will not be adjusted to account for changes in the value of the U.S. Dollar or foreign currency from the time your Transaction was submitted.</p>
    
    <p>Notwithstanding the foregoing, residents of certain jurisdictions should read the following:</p>
      
    <h2>i. California.</h2>

    <p>The following applies only to Transactions that are submitted by Senders in California.</p>

    <b>RIGHT TO REFUND: You, the customer, are entitled to a refund of the money to be transmitted as the result of this agreement if FalconLoop does not forward the funds received from you within 10 days of the date of its receipt, or does not give instructions committing an equivalent amount of funds to the person designated by you within 10 days of the date of the receipt of the funds from you unless otherwise instructed by you.</b>

    <b>If you want a refund, you must mail or deliver your written request to FalconLoop Customer Service, at 506 Second Ave. Suite 1400, Seattle WA, 98104 USA. If you do not receive your refund, you may be entitled to your money back plus a penalty of up to $1,000 and attorney's fees pursuant to Section 2102 of the California Financial Code.</b>


    <h3>ii. New Hampshire.</h3>
    <p> The following applies only to Transactions that are submitted by Senders in New Hampshire: Senders are entitled to a refund of the Transaction Amount and Transaction Fee if their Transaction is not paid out according to the information they provide about their Recipient, unless the Transaction is in violation of applicable law or this User Agreement. In the case of any such refund, the Transaction will also be cancelled.</p>
   

    <h3>iii. Washington.</h3>

    <ul class="cm-ul">
        <li>The following applies only to Transactions that are submitted by Senders in the State of Washington: You, the customer, are entitled to a refund of all moneys received for transmittal within ten days of receipt of a written request for refund unless any of the following occurs: </li>
        <li>
            <ul>
                <li>The monies have been transmitted and delivered to the recipient prior to receipt of the written request for a refund; </li>
                <li>Instructions have been given committing an equivalent amount of money to the person designated by the customer prior to receipt of a written request for a refund;</li>
                <li>FalconLoop or its authorized delegate has reason to believe that a crime has occurred, is occurring, or may potentially occur as a result of transmitting the money as requested by the customer or refunding the money as requested by the customer; or</li>
                <li>FalconLoop is otherwise barred by law from making a refund.</li>
            </ul>
        </li>
    </ul>



    <h2>Contacting Us</h2>

    <p>If there are any questions regarding this privacy policy you may contact us using the information below.</p>

    <p>
        905 West Russell Road Unit 240
        <br>
        Las Vegas, NV 89148
        <br>
        United States of America
        <br>
        <a href="Privacy@FalconLoop.com">Privacy@FalconLoop.com</a>
        <br>
        +1-800-970-9618 
        <br>
        FALCONLOOP, Your Money |Your Best Option | Your Best Solution!
    </p>


    <section class="payment-section pt-5 pb-5">
        <div class="container">
            <div class="row section-01">
                <div class="col-md d-flex mb-4 mb-md-0">
                    <div class="">
                        <div class="reason-image mb-4">
                            <img src="assets/image/gift.jpg" alt="easy and fast">
                        </div>
                        <h4>Give the gift of talk and connect</h4>
                        <p>Surprise your Family and Friends with airtime anytime, for any occasion. Giving is easy. All you need is their phone number.</p>
                    </div>
                </div>
                <div class="col-md d-flex mb-4 mb-md-0">
                    <div class="">
                        <div class="reason-image mb-4">
                            <img src="assets/image/send.jpg" alt="Low cost">
                        </div>
                        <h4>Get on-the-go convenience</h4>
                        <p>Reload at home or on-the-go. We’ll send it instantly and your Family or Friends will get a text message the moment it arrives.</p>
                    </div>
                </div>
                <div class="col-md d-flex">
                    <div class="">
                        <div class="reason-image mb-4">
                            <img src="assets/image/sync.jpg" alt="120+ countries supported">
                        </div>
                        <h4>Do more than just reload</h4>
                        <p>Whether you want to recharge a prepaid phone, send money or pay a bill, you can do it all with SendingLoop.</p>
                    </div>
                </div>
            </div>
            <div class="row section-02">
                <div class="phoneReload"></div>
                <div class="col-md d-flex mb-12 mb-md-0">
                    <div class="flowimg">
                        <img src="assets/image/flow.jpg" alt="easy and fast" width="85%">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="moneyReload"></div>
                <div class="col-md topnotch d-flex mb-6 mb-md-0">
                    <div class="">
                        <div class="mb-6">
                            <img src="assets/image/money-bck.png" width="12%" alt="easy and fast">
                        </div>
                        <h4>Money-back guarantee</h4>
                        <p>We stand behind the reliability of our service. If your reload doesn't get there, we'll refund it in full. Call us anytime if you need help.</p>
                    </div>
                </div>
                <div class="col-md topnotch d-flex mb-6 mb-md-0">
                    <div class="">
                        <div class="mb-6">
                            <img src="assets/image/security.png" width="9%" alt="Low cost">
                        </div>
                        <h4>Top-notch security</h4>
                        <p>We employ top-tier technology to keep your information safe at all times.</p>
                    </div>
                </div>
            </div>
            <div class="row footercol">
                <div class="col-md-3 ftr-bdr">
                    <div class="ftr-img">
                        <img src="assets/image/footer-icon01.png" class="" />
                    </div>
                    <div>
                        <h5>24/7 HELP</h5>
                        <p>Call us 1-800-970-9618</p>
                    </div>
                </div>
                <div class="col-md-3 ftr-bdr">
                    <div class="ftr-img">
                        <img src="assets/image/footer-icon02.png" class="" />
                    </div>
                    <div>
                        <h5>Trusted Pay</h5>
                        <p>100% Payment Protection &amp; Easy Return</p>
                    </div>
                </div>
                <div class="col-md-3 ftr-bdr">
                    <div class="ftr-img">
                        <img src="assets/image/footer-icon03.png" class="" />
                    </div>
                    <div>
                        <h5>Secured Payment</h5>
                        <p>All Major Credit &amp; Debit Cards Accepted</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="ftr-img">
                        <img src="assets/image/footer-icon04.png" class="" />
                    </div>
                    <div>
                        <h5>REGHARGE on app</h5>
                        <p>Just Download our App to get Best Offers</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="newsletter-bg"></div>
                <div class="newsletter">
                    <img src="assets/image/signup-newsletter.png" width="85%" />
                </div>
            </div>
            <div class="row footercol last">
                <div class="col-md-3 ftr-txt">
                    <div>
                        <p>
                            <img src="assets/image/ftr-logo.png" width="45%" />
                        </p>
                        <p>Your Money | Your Best Option | Your Best Solution!</p>
                        <p>
                            Address: FalconLoop Inc. 
                <br>
                            905 West Russell Road Unit 240<br>
                            Las Vegas, NV 89148<br>
                            United States of America<br>
                            1-800-970-9618
                        </p>
                    </div>
                </div>
                <div class="col-md-3 ftr-txt">
                    <h5>ABOUT US</h5>
                    <p>FalconLoop’s Vision is to virtually create a service that delivers greater benefits by being simple, secure, fast, compatible, and reliable. Our mission is to give customers the benefits they expect, where they expect and how they expect to be provided.</p>
                </div>
                <div class="col-md-3 ftr-txt">
                    <h5>HELP &amp; SUPPORT</h5>
                    <ul>
                        <li><a target="_blank" ui-sref='app.Contact_us'>Contact</a></li>
                        <li><a target="_blank" ui-sref='app.Supported_Currencies'>Supported Currencies</a></li>
                        <!--        <li><a target="_blank" ui-sref='app.Swift_BIC_Codes'>Swift/BIC Codes</a></li>-->
                        <li><a target="_blank" ui-sref='app.Track_Transfers'>Track Transfers</a></li>
                        <!-- <li><a target="_blank" ui-sref='app.Rate_Alerts'>Rate Alerts</a></li>-->
                    </ul>
                </div>
                <div class="col-md-3 ftr-txt">
                    <h5>SECURITY &amp; PRIVACY</h5>
                    <ul>
                        <!--                        <li><a target="_blank" ui-sref='app.US_state_lcensing'>U.S. State Licensing</a></li>
                        <li><a target="_blank" ui-sref='app.International_Licensing'>International Licensing</a></li>-->
                        <li><a target="_blank" ui-sref='app.Security_Center'>Security Center</a></li>
                        <li><a target="_blank" ui-sref='app.privacy_policy'>Privacy Policy</a></li>
                        <li><a target="_blank" ui-sref='app.User_agreement'>User Agreement</a></li>
                    </ul>
                </div>

            </div>
        </div>
    </section>
</div>
