<!-- content panel -->

<link rel="stylesheet" href="assets/css/custom-style.css">
<div class="main-panel">
    <!-- top header -->

    <div data-ng-if="$state.current.name!='cportal.Login' && $state.current.name!='cportal.userRegister'" ng-include="'views/common/header.html'"></div>

    <!-- main area -->
    <div class="main-content">
        <div class="content-view" ui-view></div>
        <!-- bottom footer -->
        <div data-ng-if="$state.current.name!='cportal.Login' && $state.current.name!='cportal.userRegister'" class="content-footer" ng-include="'views/common/footer.html'"></div>
        <!-- /bottom footer -->
    </div>
    <!-- /main area -->
</div>
<!-- /content panel -->
