<div class="" data-ng-controller="LoginCtrl">
    <div class="session-content">
        <div class="card card-block form-layout">
            <form role="form" action="/" ui-jq="validate" name="tblCustomerlogin">
                <div class="text-xs-center m-b-3">
                    <img src="images/logo-icon.png" alt="" class="m-b-1" />
                    <h5>Welcome back Customer!
          </h5>
                    <p class="text-muted">
                        Sign in with your app id to continue.
         
                    </p>
                </div>
                <fieldset class="form-group">
                    <label for="username">
                        Enter your username
         
                    </label>
                    <input type="text" class="form-control form-control-lg" ng-model="CustomerModel.Email" id="username" placeholder="username" required />
                </fieldset>
                <fieldset class="form-group">
                    <label for="password">
                        Enter your password
         
                    </label>
                    <input type="password" class="form-control form-control-lg" id="password" ng-model="CustomerModel.Password" placeholder="********" required />
                </fieldset>
                <label class="custom-control custom-checkbox m-b-1">
                    <input type="checkbox" class="custom-control-input">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">Stay logged in</span>
                </label>
                <button type="submit" class="btn btn-primary btn-block btn-lg" ng-click="tblCustomerlogin.$valid && customerlogin()">Login</button>
                <div class="divider">
                    <span>OR
          </span>
                </div>
                <div class="text-xs-center">
                    <p>
                        Login with your social account
         
                    </p>
                    <button class="btn btn-icon-icon btn-facebook btn-lg m-b-1 m-r-1">
                        <i class="fa fa-facebook"></i>
                    </button>
                    <button class="btn btn-icon-icon btn-github btn-lg m-b-1 m-r-1">
                        <i class="fa fa-github"></i>
                    </button>
                    <button class="btn btn-icon-icon btn-google btn-lg m-b-1 m-r-1">
                        <i class="fa fa-google-plus"></i>
                    </button>
                    <button class="btn btn-icon-icon btn-linkedin btn-lg m-b-1 m-r-1">
                        <i class="fa fa-linkedin"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <footer class="text-xs-center m-t-1">
        <p>
            <a ui-sref="user.forgot">Forgot password?
      </a>
            &nbsp;&nbsp;·&nbsp;&nbsp;
    
            <!-- <a ui-sref="user.signup">
        Create an account
      </a>-->
        </p>
    </footer>
</div>
