<div class="" data-ng-controller="CustomerProfileController">
    <div class="row">
        <div class="col-md-10">
            <div class="card">
                <div class="card-header m-t-1">
                    <h3>Customer Details </h3>
                </div>
                <div class="box-divider m-a-0"></div>
                <div class="card card-block">
                    <form role="form" ui-jq="validate" name="tblCustomerregister">
                        <legend>Personal info:</legend>
                        <div class="col-sm-12 p-a-0">
                            <div class="col-sm-9 p-a-0">
                                <div class="form-group row">
                                    <div class="col-sm-10">
                                        <label for="Name" class="col-sm-2 form-control-label">First Name: <b class="text-danger">&nbsp;*</b></label>
                                        <div class="col-sm-2 p-l-2">
                                            <select name="Gender" id="Select3" ng-model="CustomerModel.Title" class="form-control" required ng-init="CustomerModel.Title='1'">
                                                <option value="1">Mr.</option>
                                                <option value="2">Mrs.</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-7">
                                            <input type="text" class="form-control" id="Text2" placeholder="First Name" ng-model="CustomerModel.FirstName" required maxlength="30">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-10">
                                        <label for="Name" class="col-sm-2 form-control-label">Last Name: </label>
                                        <div class="col-sm-9 p-l-2">
                                            <input type="text" class="form-control" id="LastName" placeholder="Last Name" ng-model="CustomerModel.LastName" maxlength="30">
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-sm-10">
                                        <label for="LastName" class="col-sm-2 form-control-label">Gender: </label>
                                        <div class="col-sm-9 p-l-2">
                                            <select name="Gender" id="Select1" ng-model="CustomerModel.Gender" class="form-control" required ng-init="CustomerModel.Gender='0'">
                                                <option value="0" disabled="disabled">-- Select Gender --</option>
                                                <option value="1">Male</option>
                                                <option value="2">Female</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group row">

                                    <div class="col-sm-10">
                                        <label for="Email" class="col-sm-2 form-control-label">Email: <b class="text-danger">&nbsp;*</b></label><div class="col-sm-9 p-l-2">
                                            <input type="Email" name="Email" class="form-control" id="Email" placeholder="Email" ng-model="CustomerModel.Email" ng-pattern="/^[A-Za-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/" required>
                                            <span class="text-danger" ng-show="tblUser.Email.$error.pattern">Please Enter a valid Email address.</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group row">

                                    <div class="col-sm-10">
                                        <label for="Username" class="col-sm-2 form-control-label">Phone: <b class="text-danger">&nbsp;*</b></label><div class="col-sm-9 p-l-2">
                                            <input type="number" min="10" class="form-control" id="Username" placeholder="Phone" ng-model="CustomerModel.Phone" required>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-sm-10">
                                        <label for="DOB" class="col-sm-2 form-control-label">DOB: <b class="text-danger">&nbsp;*</b></label><div class="col-sm-9 p-l-2">
                                            <input type="text" class="form-control datetimepicker" id="DOB" placeholder="Date Of Birth" ng-model="CustomerModel.DOB" required>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-sm-10">
                                        <label for="Password" class="col-sm-2 form-control-label">Password: </label>
                                        <div class="col-sm-9 p-l-2">
                                            <input type="Password" class="form-control" id="Password2" name="Password" placeholder="Password" ng-model="CustomerModel.Password">
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-sm-10">
                                        <label for="IsActive" class="col-sm-2 form-control-label">Is Active:</label>
                                        <div class="col-sm-9 p-l-2 checkbox checkbox-primary form-control-label">
                                            <input id="Checkbox1" type="checkbox" ng-model="CustomerRegister.IsActive" ng-init="CustomerModel.IsActive=false ">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="user-image">
                                    <img data-ng-src="images/avatar.jpg" class="avatar img-circle" alt="user" title="user" src="images/avatar.jpg">
                                </div>
                            </div>
                        </div>

                        <legend>Customer Address:</legend>

                        <div class="form-group row">
                            <hr />
                            <div class="form-group row">
                                <div class="col-sm-6">
                                    <label for="FirstName" class="col-sm-3 form-control-label">Building Number:</label><div class="col-sm-8">
                                        <input type="text" class="form-control" id="Email1" placeholder="Flat Number" ng-model="CustomerModel.BuildingNumber" required maxlength="30">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <label for="LastName" class="col-sm-3 form-control-label">Street: </label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="Text5" placeholder="Building Name" ng-model="CustomerModel.Street" required maxlength="30">
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-sm-6">
                                    <label for="FirstName" class="col-sm-3 form-control-label">Town:</label><div class="col-sm-8">
                                        <input type="text" class="form-control" id="Text3" placeholder="Flat Number" ng-model="CustomerModel.Town" required maxlength="30">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <label for="Address1" class="col-sm-3 form-control-label">Address1: <b class="text-danger">&nbsp;*</b></label><div class="col-sm-8">
                                        <input type="text" class="form-control" id="Address1" placeholder="Address 1" ng-model="CustomerModel.Address1" required maxlength="30">
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-sm-6">
                                    <label for="Address2" class="col-sm-3 form-control-label">Address2: <b class="text-danger">&nbsp;*</b></label><div class="col-sm-8">
                                        <input type="text" class="form-control" id="Text4" placeholder="Address 2" ng-model="CustomerModel.Address2" required maxlength="30">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <label for="City" class="col-sm-3 form-control-label">City: <b class="text-danger">&nbsp;*</b></label><div class="col-sm-8">
                                        <input type="text" class="form-control" id="Text6" placeholder="City" ng-model="CustomerModel.City" required maxlength="30">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6">
                                    <label for="State" class="col-sm-3 form-control-label">State: <b class="text-danger">&nbsp;*</b></label><div class="col-sm-8">
                                        <input type="text" class="form-control" id="Text7" placeholder="State" ng-model="CustomerModel.State" required maxlength="30">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <label for="ZipCode" class="col-sm-3 form-control-label">Zip Code: <b class="text-danger">&nbsp;*</b></label><div class="col-sm-8">
                                        <input type="text" class="form-control" id="Text8" placeholder="Zip Code" ng-model="CustomerModel.ZipCode" required maxlength="30">
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-sm-6">
                                    <label for="Country" class="col-sm-3 form-control-label">Country : </label>
                                    <div class="col-sm-8">
                                        <select name="Country" id="ddlCountry" ng-model="CustomerModel.CountryId" class="form-control" required>
                                            <option value="0">-- Select Country --</option>
                                            <option ng-repeat="Country in Countries" value="{{Country.CountryId}}">{{Country.CountryName}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>


                        </div>


                        <hr />
                        <legend>Documents Details:</legend>

                        <div class="form-group row">
                            <hr />
                            <div class="form-group row">
                                <div class="col-sm-6">
                                    <label for="ProfileImage" class="col-sm-3 form-control-label">Profile Image: </label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="ProfileImage" placeholder="Profile" ng-model="CustomerModel.ProfileImage">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <label for="AccountNumber" class="col-sm-3 form-control-label">Account Number: <b class="text-danger">&nbsp;*</b></label><div class="col-sm-8">
                                        <input type="text" class="form-control" id="Text1" placeholder="Account Number" ng-model="CustomerModel.AccountNumber" required maxlength="30">
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-sm-6">
                                    <label for="FileName" class="col-sm-3 form-control-label">File Name: <b class="text-danger">&nbsp;*</b></label><div class="col-sm-8">
                                        <input type="text" class="form-control" id="Text10" placeholder="File Name" ng-model="CustomerModel.FileName" required>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <label for="Name" class="col-sm-3 form-control-label">File Type: <b class="text-danger">&nbsp;*</b></label><div class="col-sm-8">
                                        <input type="text" class="form-control" id="Text9" placeholder="File Type" ng-model="CustomerModel.FileType" required maxlength="30">
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-sm-6">
                                    <label for="LastName" class="col-sm-3 form-control-label">Side: </label>
                                    <div class="col-sm-8">
                                        <select name="Gender" id="Select2" ng-model="CustomerModel.Side" class="form-control" required ng-init="CustomerModel.Side='0'">
                                            <option value="0" disabled="disabled">-- Select Side --</option>
                                            <option value="1">Front</option>
                                            <option value="2">Back</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                         <div class="form-group row m-t-md">
                            <div class="col-sm-7 pull-right">
                                <button type="submit" class="btn btn-primary " ng-click="tblCustomerregister.$valid && update()">
                                    Update</button>
                                <button type="submit" class="btn btn-primary" ng-click="cancel()">Cancel</button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    //$(document).on("mouseover", '.datetimepicker', function () {
    //    $(this).datepicker({
    //        format: 'mm/dd/yyyy',
    //        startDate: 'd'
    //    });
    //})

    $(document).ready(function () {
        $('.datetimepicker').datepicker({
            format: 'yyyy/mm/dd'
        });
    })
</script>
