<!--<div class="" data-ng-controller="LoginCtrl">
    <div class="session-content">
        <div class="card card-block form-layout">
            <form role="form" ui-jq="validate" name="tblCustomerlogin">
                <div class="text-xs-center m-b-3">
                    <img src="images/logo-icon.png" alt="" class="m-b-1" />
                    <h5>Welcome back Customer!
                    </h5>
                    <p class="text-muted">
                        Sign in with your app id to continue.
         
                    </p>
                </div>
                <fieldset class="form-group">
                    <label for="username">
                        Enter your username
         
                    </label>
                    <input type="text" class="form-control form-control-lg" ng-model="CustomerModel.Email" id="username" placeholder="username" required />
                </fieldset>
                <fieldset class="form-group">
                    <label for="password">
                        Enter your password
         
                    </label>
                    <input type="password" class="form-control form-control-lg" id="password" ng-model="CustomerModel.Password" placeholder="********" required />
                </fieldset>
                <label class="custom-control custom-checkbox m-b-1">
                    <input type="checkbox" class="custom-control-input">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">Stay logged in</span>
                </label>
                <button type="submit" class="btn btn-primary btn-block btn-lg" ng-click="tblCustomerlogin.$valid && customerlogin()">Login</button>
                <div class="divider">
                    <span>OR
                    </span>
                </div>
                <div class="text-xs-center">
                    <p>
                        <a ui-sref="app.register">Create an account</a>
                    </p>
                </div>
            </form>
        </div>
    </div>
</div>-->



<!--Login Form-->

<div class="login-form-groupper" data-ng-controller="LoginCtrl">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12 col-md-offset-3">
                <div class="form-container">
                    <form ui-jq="validate" name="tblCustomerlogin">
                        <h4 class="login-form-title">Login</h4>
                        <div class="form-group">
                            <input type="text" placeholder="Email" ng-model="CustomerModel.Email" name="Email" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="password" placeholder="Password" name="password" ng-model="CustomerModel.Password" class="form-control">
                        </div>
                        <div class="form-group">
                            <button type="submit" value="" class="btn btn-success custom-form-btn"  ng-click="tblCustomerlogin.$valid && customerlogin()">LOG IN</button>
                        </div>
                        <div class="form-group cm-text-center">
                            <a  ui-sref="app.register" class="btn btn-info custom-form-signup">Don't have account? Sign up for free!</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
