<div class="navbar-collapse">
    <a class="navbar-heading hidden-md-down" href="javascript:;">
        <span>{{ $state.current.title }}</span>
    </a>
    <ul class="nav navbar-nav pull-xs-right">
        <li class="nav-item active">
            <a class="nav-link" ui-sref="app.Transaction">DASHBOARD</a>

        </li>
        <li class="nav-item">
            <a class="nav-link" ui-sref="app.PaymentDetails">SEND MONEY</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" ui-sref="app.profile">PROFILE</a>
        </li>
       <!-- <li class="nav-item">
            <a class="nav-link">TRANSACTION INFORMATION</a>

        </li>
        <li class="nav-item">
            <a class="nav-link" ui-sref="app.Beneficiary">BENEFICIARY DETAILS</a>

        </li>

        <li class="nav-item">
            <a class="nav-link" ui-sref="app.PaymentDetalis">MAKE PAYMENT</a>

        </li>-->
    </ul>
</div>



