<div class="navbar-collapse">
    <a class="navbar-heading hidden-md-down" href="javascript:;">
        <span>{{ $state.current.title }}</span>
    </a>
    <ul class="nav navbar-nav pull-xs-right">
        <li class="nav-item active">
            <a class="nav-link" href="#/">Home</a>

        </li>

        <li class="nav-item">
            <a class="nav-link" href="#">CRM</a>

        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Reports</a>

        </li>

        <li class="nav-item">
            <a class="nav-link" href="#">Compliance</a>

        </li>


        <!--<li class="nav-item">
      <a class="nav-link" href="#">Management</a>
    </li>-->
        <li class="nav-item dropdown"uib-dropdown>
           <a href="javascript:;" class="uib-dropdown-toggle nav-link" uib-dropdown-toggle>
              Management
          </a>
          <div class="dropdown-menu dropdown-menu-right" uib-dropdown-menu role="menu">
            <a class="dropdown-item" ui-sref="app.Manage_User">
              Manage User
            </a>
            <a class="dropdown-item" ui-sref="app.Manage_Company">
               Manage Company
            </a>
          </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" ui-sref="app.Fees">Fees</a>

        </li>

        <li class="nav-item">
            <a class="nav-link" href="#">Accounting</a>

        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Settings</a>

        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">General</a>

        </li>

        <div class="dropdown-menu" uib-dropdown-menu>
            <div class="row">
                <div class="col-sm-3">
                    <h6 class="dropdown-header">Elements</h6>
                    <a class="dropdown-item" ui-sref="app.ui.buttons">Buttons</a>
                    <a class="dropdown-item" ui-sref="app.ui.social-buttons">Social buttons</a>
                    <a class="dropdown-item" ui-sref="app.ui.directives">General</a>
                    <a class="dropdown-item" ui-sref="app.ui.navs">Navs</a>
                    <a class="dropdown-item" ui-sref="app.ui.progressbars">Progress bars</a>
                    <a class="dropdown-item" ui-sref="app.ui.pagination">Pagination</a>
                    <a class="dropdown-item" ui-sref="app.ui.sliders">Sliders</a>
                    <a class="dropdown-item" ui-sref="app.ui.notifications">Notifications</a>
                    <a class="dropdown-item" ui-sref="app.ui.spinners">Spinners</a>
                </div>
                <div class="col-sm-3">
                    <h6 class="dropdown-header">Cards</h6>
                    <a class="dropdown-item" ui-sref="app.ui.cards.basic">Basic</a>
                    <a class="dropdown-item" ui-sref="app.ui.cards.portlets">Portlets</a>
                    <a class="dropdown-item" ui-sref="app.ui.cards.draggable">Draggable</a>
                </div>
                <div class="col-sm-3">
                    <h6 class="dropdown-header">Forms</h6>
                    <a class="dropdown-item" ui-sref="app.ui.forms.native">Basic</a>
                    <a class="dropdown-item" ui-sref="app.ui.forms.plugins">Plugins</a>
                    <a class="dropdown-item" ui-sref="app.ui.forms.editors">Editors</a>
                    <a class="dropdown-item" ui-sref="app.ui.forms.validation">Validation</a>
                    <a class="dropdown-item" ui-sref="app.ui.forms.masks">Masks</a>
                    <a class="dropdown-item" ui-sref="app.ui.forms.upload">Upload</a>
                </div>
                <div class="col-sm-3">
                    <h6 class="dropdown-header">Tables</h6>
                    <a class="dropdown-item" ui-sref="app.ui.tables.basic">Basic</a>
                    <a class="dropdown-item" ui-sref="app.ui.tables.responsive">Responsive</a>
                    <a class="dropdown-item" ui-sref="app.ui.tables.datatable">Datatables</a>
                    <a class="dropdown-item" ui-sref="app.ui.tables.xeditable">xeditable</a>
                    <a class="dropdown-item" ui-sref="app.ui.tables.ngtable">ngTable</a>
                </div>
            </div>
        </div>
</div>



<div class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
    <a class="dropdown-item" href="javascript:;">Frontend
        </a>
    <a class="dropdown-item" href="javascript:;">Documentation
        </a>
    <a class="dropdown-item" href="javascript:;">Jquery version
        </a>
</div>
</div>
  </ul>
</div>