<!-- content panel -->
<div class="main-panel">
    <!-- top header -->


    <nav class="header navbar" data-ng-if="authorisedUser.UserId">
        <div ng-include="'views/common/horizontal/header.html'"></div>
    </nav>
    <nav class="header navbar" data-ng-if="authorisedCustomer.CustomerId">
        <div ng-include="'views/common/horizontal/Customer_header.html'"></div>
    </nav>

    <div data-ng-if="$state.current.title =='customerPortal'" ng-include="'views/common/horizontal/header_customerPortal.html'"></div>

    <div data-ng-if="$state.current.title =='sendMoney'" ng-include="'views/common/horizontal/header_sendMoney.html'"></div>
    <!-- /top header -->

    <!-- horizontal menu header -->
    <div class="header-secondary navbar bg-faded shadow" ng-show="authorisedUser.UserId" ng-include="'views/common/horizontal/headernav.html'" menu-panel show="main.menu"></div>
    <div class="header-secondary navbar bg-faded shadow" ng-show="authorisedCustomer.CustomerId" ng-include="'views/common/horizontal/Customerheadernav.html'" menu-panel show="main.menu"></div>
    <!-- /horizontal menu header -->

    <!-- main area -->
    <div class="main-content">
        <div class="content-view" ui-view id="view"></div>
        <!-- bottom footer -->
        <div data-ng-if="$state.current.title !='customerPortal' && $state.current.title !='sendMoney'" class="content-footer" ng-include="'views/common/footer.html'"></div>
        <!-- /bottom footer -->
        <div data-ng-if="$state.current.title =='customerPortal'" class="content-footer" ng-include="'views/common/horizontal/footer_customerPortal.html'"></div>

        <div data-ng-if="$state.current.title =='sendMoney'" class="content-footer" ng-include="'views/common/horizontal/footer_sendMoney.html'"></div>
    </div>
    <!-- /main area -->
</div>

