<nav class="footer-left">
    <section class="payment-section pt-5 pb-5">
        <div class="container">
            <div class="row section-01">
                <div class="col-md d-flex mb-4 mb-md-0">
                    <div class="">
                        <div class="reason-image mb-4">
                            <img src="assets/image/gift.jpg" alt="easy and fast">
                        </div>
                        <h4>Give the gift of talk and connect</h4>
                        <p>Surprise your Family and Friends with airtime anytime, for any occasion. Giving is easy. All you need is their phone number.</p>
                    </div>
                </div>
                <div class="col-md d-flex mb-4 mb-md-0">
                    <div class="">
                        <div class="reason-image mb-4">
                            <img src="assets/image/send.jpg" alt="Low cost">
                        </div>
                        <h4>Get on-the-go convenience</h4>
                        <p>Reload at home or on-the-go. We'll send it instantly and your Family or Friends will get a text message the moment it arrives.</p>
                    </div>
                </div>
                <div class="col-md d-flex">
                    <div class="">
                        <div class="reason-image mb-4">
                            <img src="assets/image/sync.jpg" alt="120+ countries supported">
                        </div>
                        <h4>Do more than just reload</h4>
                        <p>Whether you want to recharge a prepaid phone, send money, you can do it all with SendingLoop.</p>
                    </div>
                </div>
            </div>
           <!-- <div class="row section-02">
                <div class="phoneReload"></div>
                <div class="col-md d-flex mb-12 mb-md-0">
                    <div class="flowimg">
                        <img src="assets/image/flow.jpg" alt="easy and fast" width="85%">
                    </div>
                </div>
            </div>
-->
            <div ng-hide="$state.current.url=='/makePayment'">
                <div class="container my-4">
                    <div class="row">
                        <div class="col-sm-6 text-center">
                            <span class="lock-icon"></span>
                            <h4 class="mt-1">We've got your back</h4>
                            <p>We are committed to securing your financial information and employ proven technology to protect and secure your personal information.</p>
                        </div>
                        <div class="col-sm-6 text-center">
                            <span class="security-icon"></span>
                            <h4 class="mt-1">Money-back guarantee</h4>

                            <p>We stand behind the Sendingloop. If your money doesn't get there, we'll refund it in full. Call us anytime if you need help.</p>
                        </div>
                    </div>
                </div>


               <!--   <hr />
             <section class="page">
                    <section class="page-top-content ">
                        <div class="best-picks-container">
                            <div class="page-content space-b40">
                                <img src="assets/image/banner.jpg" width="100%" />
                            </div>
                        </div>
                    </section>

                </section>-->

            </div>

            <hr />
            <!--End Slider-->


            <div class="row footercol">
                <div class="col-md-3 ftr-bdr">
                    <div class="ftr-img">
                        <img src="assets/image/footer-icon01.png" class="" />
                    </div>
                    <div>
                        <h5>24/7 HELP</h5>
                        <p>Call us 1-800-298-3996</p>
                    </div>
                </div>
                <div class="col-md-3 ftr-bdr">
                    <div class="ftr-img">
                        <img src="assets/image/footer-icon02.png" class="" />
                    </div>
                    <div>
                        <h5>Trusted Pay</h5>
                        <p>100% Payment Protection &amp; Easy Return</p>
                    </div>
                </div>
                <div class="col-md-3 ftr-bdr">
                    <div class="ftr-img">
                        <img src="assets/image/footer-icon03.png" class="" />
                    </div>
                    <div>
                        <h5>Secured Payment</h5>
                        <p>All Major Credit &amp; Debit Cards Accepted</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="ftr-img">
                        <img src="assets/image/footer-icon04.png" class="" />
                    </div>
                    <div>
                        <h5>REGHARGE on app</h5>
                        <p>Just Download our App to get Best Offers</p>
                    </div>
                </div>
            </div>
            <!--<div class="row">
                <div class="newsletter-bg"></div>
                <div class="newsletter">
                    <img src="assets/image/signup-newsletter.png" width="85%" />
                </div>
            </div>-->
            <style>
                button.newsletter-btn {
                    border-radius: 0;
                    background: #ffd200;
                }

                ul.newsletter-social-container > li {
                    display: inline-block;
                    padding: 5px;
                }


                .newsletter-email-input {
                    border-radius: 0;
                    width: 80%;
                }

                p.signup-newsletter {
                    color: #fff;
                    font-size: 14px;
                    line-height: 1.1;
                    font-weight: 500;
                }

                span.rocket-icon {
                    background: url("./assets/image/rocket-icon.PNG") no-repeat;
                }

                span.signup-newsletter {
                    display: inline-block;
                    width: 80%;
                    font-size: 14px;
                    font-weight: 500;
                    color: #fff;
                    line-height: 1;
                }

                i.fa.fa-rocket {
                    vertical-align: top;
                }

                .newsletter-social-container > span:first-child {
                    color: #fff;
                    font-size: 14px;
                }

                .newsletter-social-container ul > li {
                    display: inline-block;
                    padding: 5px;
                }

                .newsletter-footer-container {
                    height: 78px;
                }
            </style>
           <div class="col-sm-12" id="viewContact"></div>
            <div class="row align-items-center newsletter-footer-container">
                <div class="newsletter-bg"></div>
                <div class="col-sm-2">
                     <span class="rocket-icon"></span>
                    <p class="signup-newsletter mb-0">SIGNUP TO NEWSLETTER AND ALERTS!</p>
                </div>
                <div class="col-sm-5" style="" data-ng-controller="footerController">
                    <div class="form-group w-100 pull-left mb-0">
                        <form class="" name="tblFooter">
                            <div class="input-number-wrap position-relative" style="">
                                <input type="email" class="form-control newsletter-email-input pull-left" data-ng-model="footerModalEmail" placeholder="Enter Your Email Address" required />
                                <button type="submit" id="newsletter-submit pull-left" class="btn newsletter-btn" ng-click="tblFooter.$valid &&Create()">SUBMIT</button>
                            </div>
                        </form>

                    </div>
                </div>
                <div class="col-sm-4">
                    <span class="text-right">KEEP IN TOUCH</span>
                    <ul class="newsletter-social-container pull-right">
                        <li><i class="fa fa-twitter"></i></li>
                        <li><i class="fa fa-facebook"></i></li>
                        <li><i class="fa fa-instagram"></i></li>
                        <li><i class="fa fa-pinterest"></i></li>
                        <li><i class="fa fa-vimeo"></i></li>
                    </ul>
                </div>
            </div>





            <div class="row footercol last">
                <div class="col-md-3 ftr-txt">
                    <div>
                        <p>
                            <img src="assets/image/ftr-logo.png" width="45%" />
                        </p>
                        <p>Your Money | Your Best Option | Your Best Solution!</p>
                        <p>
                            Address: FalconLoop Inc. 
                <br>
                            905 West Russell Road Unit 240<br>
                            Las Vegas, NV 89148<br>
                            United States of America<br>
                            1-800-298-3996
                        </p>
                    </div>
                </div>
                <div class="col-md-3 ftr-txt">
                    <h5>ABOUT US</h5>
                    <p>FalconLoop's Vision is to virtually create a service that delivers greater benefits by being simple, secure, fast, compatible, and reliable. Our mission is to give customers the benefits they expect, where they expect and how they expect to be provided.</p>
                </div>
                <div class="col-md-3 ftr-txt">
                    <h5>HELP &amp; SUPPORT</h5>
                    <ul>
                        <li><a target="_blank" ui-sref='app.Contact_us'>Contact</a></li>
                        <li><a target="_blank" ui-sref='app.Supported_Currencies'>Supported Currencies</a></li>
                        <!--        <li><a target="_blank" ui-sref='app.Swift_BIC_Codes'>Swift/BIC Codes</a></li>-->
                        <li><a target="_blank" ui-sref='app.Track_Transfers'>Track Transfers</a></li>
                        <!-- <li><a target="_blank" ui-sref='app.Rate_Alerts'>Rate Alerts</a></li>-->
                    </ul>
                </div>
                <div class="col-md-3 ftr-txt">
                    <h5>SECURITY &amp; PRIVACY</h5>
                    <ul>
                        <li><a target="_self" ui-sref='app.Security_Center'>Security Center</a></li>
                        <li><a target="_self" ui-sref='app.privacy_policy'>Privacy Policy</a></li>
                        <li><a target="_self" ui-sref='app.User_agreement'>User Agreement</a></li>
                        <li><a target="_self" ui-sref='app.return_policy'>Refunds and Returns Policy</a></li>
                    </ul>
                    <p style="margin-top: 12px; margin-left: -3px;">
                        <img src="assets/image/credit-card-logo-2.jpg" width="100%" />
                    </p>
                </div>

            </div>
        </div>
    </section>
    <footer class="footer-container-wrapper pt-4 pb-2">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <p>Copyright 2017 Falconloop. All Rights Reserved.</p>
                </div>
            </div>
        </div>
    </footer>
</nav>
