<!--<div class="header-inner" ng-class="{'search-focus': main.searchFocus, 'search-focus-active': !main.app.search}">-->
<header class="navbar navbar-expand-md flex-column flex-sm-row header-container-wrapper pt-0 pb-0 pl-md-0 pr-md-0">
    <div class="container flex-column flex-sm-row" data-ng-controller="manageCustomerLoginController">
        <a class="navbar-brand" ng-click="logoutGustCustomer()">
            <img src="images/sending-loop-logo.png" alt="Recharge Mobile Phones">
        </a> 
        <ul class="navbar-nav navbar-user-panel d-flex flex-row justify-content-sm-end order-md-2" ng-if="IsLogin">
            <li class="nav-item" ng-click="logoutGustCustomer()"><a class="nav-link"><i class="" aria-hidden="true" ng-click="logoutGustCustomer()"></i>&nbsp;Log out</a></li>
            <li class="nav-item d-sm-block d-md-none"><a class="nav-link" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars" aria-hidden="true"></i></a></li>
        </ul>
        <div class="collapse navbar-collapse justify-content-start justify-content-md-end order-md-1" id="navbarResponsive">
        
            <ul class="navbar-nav ">
            <li class="nav-item" ng-if="!IsLogin"><a class="nav-link" href="" ui-sref='app.Login'>Log In</a></li>
            <li class="nav-item" ng-if="!IsLogin"><a class="nav-link" href="" ui-sref='app.userRegister'>Sign Up</a></li>
            <li class="nav-item" ng-if="IsLogin"><a class="nav-link" ui-sref='app.transactionDetails'>Transactions</a></li>
            <li class="nav-item" ng-if="IsLogin"><a class="nav-link" ui-sref='app.addKyc'>Profile</a></li>
        </ul>
        </div>
    </div>
</header>
<!--</div>-->
