<div class="row">
    <form role="form" class="ng-pristine ng-valid" name="tblPayBillReview" ui-jq="validate">
        <table class="table">
            <tbody class="additional-info ng-binding">
                <tr>
                    <td>Mobile Number</td>
                    <td>+{{FlagModel.PhoneCode }} &nbsp;{{FlagModel.MobileNumber}}</td>
                </tr>
                <tr>
                    <td>Country</td>
                    <td>
                        <span class="flag-icon">
                            <img src="images/Flag/{{FlagModel.countryCode}}.png" alt="">
                        </span>
                        <span class="flag-code">{{FlagModel.currencyCode}}</span>
                    </td>
                </tr>
                <tr>
                    <td>Amount</td>
                    <td>{{PaybillModel.Amount | number:2}} USD</td>
                </tr>
               
                <tr>
                    <td>Fees</td>
                    <td>{{FlagModel.Fee | number:2}} USD</td>
                </tr>

                <tr>
                    <td>Total Amount</td>
                    <td>{{(PaybillModel.Amount-0)+(FlagModel.Fee-0) | number:2}} USD</td>
                </tr>
            </tbody>

        </table>
        <div class="form-group row m-t-md">
            <div class="col-sm-7 pull-right">
                <button type="submit" class="btn btn-primary "
                      onclick="$('#Pay a').trigger('click'); $('#Pay').addClass('active');">
                    Continue
                </button>
                <button type="submit" class="btn btn-primary" ng-click="cancel()">Cancel</button>
            </div>
        </div>
    </form>
</div>