<header class="navbar navbar-expand-md flex-column flex-sm-row header-container-wrapper pt-0 pb-0 pl-md-0 pr-md-0">
    <div class="container flex-column flex-sm-row" ng-controller="manageCustomerLoginController">
        <a class="navbar-brand" ui-sref='app.customerPortal'>
            <img src="images/sending-loop-logo.png" alt="Recharge Mobile Phones">
        </a>
    </div>
</header>
<style>
    body {
        font-family: 'Montserrat', sans-serif;
        max-width: 1170px;
        width: 100%;
        margin: 0 auto;
        box-sizing: border-box;
        padding: 20px;
    }

    .cm-ul {
        list-style: none;
        padding-left: 0;
    }

        .cm-ul > li > ul > li {
            padding: 10px;
            list-style: initial;
        }
</style>


<!--<h1>Privacy Policy</h1>-->
<div class="body-container-wrapper" style="margin-top: 100px;">
    <div class="text-center">
        <h1>FalconLoop Privacy Policy</h1>
    </div>




    <p>This privacy policy of FalconLoop Inc. (“FalconLoop”, “We”, “Us”, “Our”), a Delaware Corporation, and its subsidiaries doing business as FalconLoop, effective on March 29/2016 has been compiled to better serve those who are concerned with how their ‘Personally Identifiable Information’ (PII) is being used online (online includes also our mobile applications). PII, as used in US privacy law and information security, is information that can be used on its own or with other information to identify, contact, or locate a single person, or to identify an individual in context. Please read our privacy policy carefully to get a clear understanding of how we collect, use, protect or otherwise handle your Personally Identifiable Information in accordance with our website.</p>
    <p>What personal information do we collect from the people that visit our website or app?</p>

    <ul class="cm-ul">
        <li>We may collect the following information about you, which may include non-public information:</li>
        <li>
            <ul>
                <li>When ordering or registering on our site, as appropriate, you may be asked to enter your full name, gender, age, e-mail address, mailing address, phone number, date of birth, social security number, bank account number, and credit or debit card information. This is required information to process your transaction and to help you with your experience;</li>
                <li>To facilitate our Service, we request certain third party personal information from you or your mobile devices address book, such as your recipient’s full name, physical address, email address, and telephone number. We may also collect from you the recipient’s sensitive financial information including bank account and routing numbers;</li>
                <li>Information about your usage of the Service, including your transaction history, how you use the Service to send or receive money, and to whom you send money;</li>
                <li>Information that we lawfully obtain from third parties, such as identity verification services, electronic database services, and credit reporting agencies; and</li>
                <li>Information that we indirectly obtain from you, such as information about the device, hardware and software you use when accessing the Service, your IP address, the pages you access on this website, and other websites that you visit prior to accessing the Service.</li>
                <li>Recordings of your communications with our Customer Service department, including telephone calls and electronic communications.</li>
                <li>Any additional personal information you provide to FalconLoop online, by e-mail or telephone.</li>
            </ul>
        </li>
    </ul>

    <p>You may provide us with personal information about others, such as Recipients’ name and identifiers, address, phone number, bank account details or email address. If so, you confirm that you have appropriate authority to do so and to allow us to use that information and we will only use it for the specific reason for which it was provided to us.</p>

    <h2>When do we collect information?</h2>
    <p>When do we collect information?</p>

    <p>We collect information from you when you register on our site, place an order, or enter information on our online site or through customer service.</p>
    <h2>How do we share and use your information?</h2>

    <p>We will share your personal information with third parties only in the ways that are described in this privacy policy.</p>

    <p>We may provide your personal information to companies that provide services to help us with our business activities such as settlement of funds. These companies are authorized to use your personal information only as necessary to provide these services to us.</p>

    <ul class="cm-ul">
        <li>We may use the information we collect from you when you register, make a purchase, sign up for our newsletter, respond to a survey or marketing communication, surf the website, or use certain other site features in the following ways:</li>
        <li>
            <ul>
                <li>To provide you with the FalconLoop Service you have requested, enquired, ordered through our website www.FalconLoop.com (including money transfers, airtime reload “Top-Up”, bill payment and other products and services);</li>
                <li>To fulfill your order, send your order confirmation and to manage our customer service communications with you;</li>
                <li>To contact you by telephone using auto-dialed or pre-recorded message calls or text (SMS) messages (if applicable) as authorized for the purposes described in this Privacy Policy;</li>
                <li>To quickly process your transactions;</li>
                <li>To verify your identity;</li>
                <li>To collect payment for your use of the Service;</li>
                <li>To allow our partners to fulfill their obligations to you;</li>
                <li>To troubleshoot problems with the Service;</li>
                <li>To comply with applicable laws, regulations, and rules, such as those relating to “know-your-customer”, and anti-money laundering requirements;</li>
                <li>To detect and prevent fraud and other illegal uses of the Service;</li>
                <li>To help us further improve and develop our products and services;</li>
                <li>To determine whether you came to our site from a banner ad or an affiliate website;</li>
                <li>To ascertain and establish effective promotional, marketing campaigns;</li>
                <li>To provide you with information about FalconLoop products and services that are most relevant for you; and</li>
                <li>To continuously improve our website and the customer experience at www.FalconLoop.com.</li>
            </ul>
        </li>
    </ul>
    <p>You may choose to stop receiving our newsletter or marketing emails by following the unsubscribe instructions included in these emails, accessing the email preferences in your account settings page, or you can contact us at Support@FalconLoop.com.</p>
    <p>We may also disclose your personal information as required by law, such as to comply with a subpoena, bankruptcy proceedings, or similar legal process when we believe in good faith that disclosure is necessary to protect our rights, protect your safety or the safety of others, investigate fraud, or respond to a government request.</p>

    <p>If FalconLoop is involved in a merger, acquisition, or sale of all or a portion of its assets, you will be notified via email and/or a prominent notice on our website, of any change in ownership, uses of your personal information, and choices you may have regarding your personal information. We may also disclose your personal information to any other third party with your prior consent.</p>

    <h2>How can customers access their account?</h2>

    <p>If you wish to request access of your personal information, please contact us at Support@FalconLoop.com. We will respond to your request within a reasonable timeframe.</p>

    <p>We will retain your information for as long as your account is active or as needed to provide you services. We will retain and use your information as necessary to comply with our legal obligations, resolve disputes, and enforce our agreements.</p>

    <h2>How do we protect visitor information?</h2>

    <p>Our website is scanned on a regular basis for security holes and known vulnerabilities in order to make your visit to our site as safe as possible.</p>

    <p>We implement a variety of reasonable security measures when a user places an order enters, submits, or accesses their information.</p>

    <p>No method of transmission over the Internet, or method of electronic storage, is 100% secure, however. Therefore, we cannot guarantee its absolute security.</p>

    <h2>Do we use ‘cookies’ and other tracking technologies?</h2>

    <p>We, affiliates, or analytics or service providers, use technologies such as cookies, beacons, tags, and scripts, to analyze trends, administer the website, tracking users’ movements around the website, and to gather demographic information about our user base as a whole.</p>

    <ul class="cm-ul">
        <li>We use cookies to:</li>
        <li>
            <ul>
                <li>Help remember and process your transactions;</li>
                <li>Understand and save user’s preferences for future visits;</li>
                <li>Compile aggregate data about site traffic and site interactions in order to offer better site experiences and tools in the future. We may also use trusted third party services that track this information on our behalf.</li>
            </ul>
        </li>
    </ul>
    <p>You can choose to have your computer warn you each time a cookie is being sent, or you can choose to turn off all cookies. You do this through your browser (like Internet Explorer) settings. Each browser is a little different, so look at your browser’s Help menu to learn the correct way to modify your cookies.</p>

    <p>If you disable cookies, you will not be able to conduct a transaction.</p>

    <p>As is true of most web sites, we gather certain information automatically and store it in log files. This information may include internet protocol (IP) addresses, browser type, internet service provider (ISP), referring/exit pages, operating system, date/time stamp, and/or clickstream data.</p>

    <p>We do link this automatically collected data to other information we collect about you.</p>

    <p>We partner with a third party to either display advertising on our website or to manage our advertising on other sites. Our third party partner may use technologies such as cookies to gather information about your activities on this website and other sites in order to provide you advertising based upon your browsing activities and interests.</p>

    <p>We use Local Shared Objects, such as HTML5, to store preferences. Third parties with whom we partner to provide certain features on our website or to display advertising based upon your web browsing activity also use HTML5 to collect and store information. Various browsers may offer their own management tools for removing HTML5.</p>

    <h2>Third party links</h2>

    <p>Occasionally, at our discretion, we may include or offer third party products or services on our website. These third party sites have separate and independent privacy policies. We therefore have no responsibility or liability for the content and activities of these linked sites.</p>

    <p>Nonetheless, we seek to protect the integrity of our site and welcome any feedback about these sites.</p>

    <p>Third party data technologies are used within the FalconLoop app by FalconLoop Ltd and our marketing partners. These technologies are used to monitor app usage and track in-app events, and information from these technologies may be reported on both an individual and aggregate basis.</p>

    <h2>California Online Privacy Protection Act</h2>

    <p>CalOPPA is the first state law in the nation to require commercial websites and online services to post a privacy policy.</p>

    <p>According to CalOPPA we agree to the following:</p>

    <p>Users can visit our site anonymously.</p>

    <p>Once this privacy policy is created, we will add a link to it on our home page, or as a minimum on the first significant page after entering our website.</p>

    <p>Our Privacy Policy link includes the word ‘Privacy’, and can be easily be found on the page specified above.</p>

    <p>We use Local Shared Objects, such as HTML5, to store preferences. Third parties with whom we partner to provide certain features on our website or to display advertising based upon your web browsing activity also use HTML5 to collect and store information. Various browsers may offer their own management tools for removing HTML5.</p>

    <h2>Third party links</h2>

    <ul class="cm-ul">
        <li>Users will be notified of any privacy policy changes:</li>
        <li>
            <ul>
                <li>On our Privacy Policy Page.</li>
            </ul>
        </li>
    </ul>

    <ul class="cm-ul">
        <li>Users are able to change their personal information:</li>
        <li>
            <ul>
                <li>By calling us.</li>
            </ul>
        </li>
    </ul>

    <h2>How does our site handle do-not-track signals?</h2>

    <p>We currently do not recognize “do-not-track” signals from your browser. We engage third parties, such as marketing or analytics partners, who may collect information about your online activities over time and across different websites when you use our websites.</p>

    <h2>Does our site allow third party behavioral tracking?</h2>

    <p>It’s also important to note that we do not allow third party behavioral tracking.</p>

    <p>COPPA (Children Online Privacy Protection Act)</p>

    <p>When it comes to the collection of personal information from children under 13, the Children’s Online Privacy Protection Act (COPPA) puts parents in control. The Federal Trade Commission, the nation’s consumer protection agency, enforces the COPPA Rule, which spells out what operators of websites and online services must do to protect children’s privacy and safety online.</p>

    <p>We do not specifically market to children under 13.</p>

    <h2>Social Media Widgets</h2>
    <p>Our website includes Social Media Features, such as the Facebook Like button, and Widgets, such as the Share This button or interactive mini-programs that run on our website. These Features may collect your Internet protocol address, which page you are visiting on our website, and may set a cookie to enable the Feature to function properly. Social Media Features and Widgets are either hosted by a third party or hosted directly on our website. Your interactions with these Features are governed by the privacy statement of the company providing it.</p>

    <h2>Changes to this Policy</h2>

    <p>We may amend this policy at any time, and shall notify you by posting a revised version on our website. Should we make a material change to the manner in which we collect, use or store your personal information, we shall provide prior notice on our website, or by email.</p>

    <h2>Texas Residents:</h2>

    <p>If you have a complaint, first contact the consumer assistance division of FalconLoop Inc. at 1-800-887-1635, if you still have an unresolved complaint regarding the company’s money transmission or currency exchange activity, please direct your complaint to: Texas Department of Banking, 2601 North Lamar Boulevard, Austin, Texas 78705, 1-877-276-5554 (toll free), www.dob.texas.gov.</p>

    <h2>Colorado Residents:</h2>

    <p>If you have a complaint regarding the company’s money transmission or currency exchange activity, please direct your complaint to: State of Colorado, Department of Regulatory Agencies, Division of Banking, 1560 Broadway, Suite 975, Denver, Colorado, 80202; 303-894-7575; </p>

    <p>Email: DORA_BankingWebsite@state.co.us . Information on how to file a complaint, the complaint process, and complaint form, are available on the DORA/Division of Banking website: www.dora.colorado.gov.</p>

    <h2>Arkansas Residents:</h2>
    <p>If you have a complaint, first contact the consumer assistance division of FalconLoop Inc. at 800-970-9618. If you still have an unresolved complaint regarding the company’s money transmission activity, please direct your complaint to the Arkansas Securities Department, 201 East Markham Street, Little Rock, Arkansas, 72201-1692. The telephone number is 501-324-9260 and the website is:www.securities.arkansas.gov.</p>

    <h2>Contacting Us</h2>

    <p>If there are any questions regarding this privacy policy you may contact us using the information below.</p>

    <p>
        905 West Russell Road Unit 240
        <br>
        Las Vegas, NV 89148
        <br>
        United States of America
        <br>
        <a href="Privacy@FalconLoop.com">Privacy@FalconLoop.com</a>
        <br>
        +1-800-970-9618 
        <br>
        FALCONLOOP, Your Money |Your Best Option | Your Best Solution!
    </p>


    <section class="payment-section pt-5 pb-5">
        <div class="container">
            <div class="row section-01">
                <div class="col-md d-flex mb-4 mb-md-0">
                    <div class="">
                        <div class="reason-image mb-4">
                            <img src="assets/image/gift.jpg" alt="easy and fast">
                        </div>
                        <h4>Give the gift of talk and connect</h4>
                        <p>Surprise your Family and Friends with airtime anytime, for any occasion. Giving is easy. All you need is their phone number.</p>
                    </div>
                </div>
                <div class="col-md d-flex mb-4 mb-md-0">
                    <div class="">
                        <div class="reason-image mb-4">
                            <img src="assets/image/send.jpg" alt="Low cost">
                        </div>
                        <h4>Get on-the-go convenience</h4>
                        <p>Reload at home or on-the-go. We’ll send it instantly and your Family or Friends will get a text message the moment it arrives.</p>
                    </div>
                </div>
                <div class="col-md d-flex">
                    <div class="">
                        <div class="reason-image mb-4">
                            <img src="assets/image/sync.jpg" alt="120+ countries supported">
                        </div>
                        <h4>Do more than just reload</h4>
                        <p>Whether you want to recharge a prepaid phone, send money or pay a bill, you can do it all with SendingLoop.</p>
                    </div>
                </div>
            </div>
            <div class="row section-02">
                <div class="phoneReload"></div>
                <div class="col-md d-flex mb-12 mb-md-0">
                    <div class="flowimg">
                        <img src="assets/image/flow.jpg" alt="easy and fast" width="85%">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="moneyReload"></div>
                <div class="col-md topnotch d-flex mb-6 mb-md-0">
                    <div class="">
                        <div class="mb-6">
                            <img src="assets/image/money-bck.png" width="12%" alt="easy and fast">
                        </div>
                        <h4>Money-back guarantee</h4>
                        <p>We stand behind the reliability of our service. If your reload doesn't get there, we'll refund it in full. Call us anytime if you need help.</p>
                    </div>
                </div>
                <div class="col-md topnotch d-flex mb-6 mb-md-0">
                    <div class="">
                        <div class="mb-6">
                            <img src="assets/image/security.png" width="9%" alt="Low cost">
                        </div>
                        <h4>Top-notch security</h4>
                        <p>We employ top-tier technology to keep your information safe at all times.</p>
                    </div>
                </div>
            </div>
            <div class="row footercol">
                <div class="col-md-3 ftr-bdr">
                    <div class="ftr-img">
                        <img src="assets/image/footer-icon01.png" class="" />
                    </div>
                    <div>
                        <h5>24/7 HELP</h5>
                        <p>Call us 1-800-970-9618</p>
                    </div>
                </div>
                <div class="col-md-3 ftr-bdr">
                    <div class="ftr-img">
                        <img src="assets/image/footer-icon02.png" class="" />
                    </div>
                    <div>
                        <h5>Trusted Pay</h5>
                        <p>100% Payment Protection &amp; Easy Return</p>
                    </div>
                </div>
                <div class="col-md-3 ftr-bdr">
                    <div class="ftr-img">
                        <img src="assets/image/footer-icon03.png" class="" />
                    </div>
                    <div>
                        <h5>Secured Payment</h5>
                        <p>All Major Credit &amp; Debit Cards Accepted</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="ftr-img">
                        <img src="assets/image/footer-icon04.png" class="" />
                    </div>
                    <div>
                        <h5>REGHARGE on app</h5>
                        <p>Just Download our App to get Best Offers</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="newsletter-bg"></div>
                <div class="newsletter">
                    <img src="assets/image/signup-newsletter.png" width="85%" />
                </div>
            </div>
            <div class="row footercol last">
                <div class="col-md-3 ftr-txt">
                    <div>
                        <p>
                            <img src="assets/image/ftr-logo.png" width="45%" />
                        </p>
                        <p>Your Money | Your Best Option | Your Best Solution!</p>
                        <p>
                            Address: FalconLoop Inc.
                <br>
                            506 Second Ave. Suite 1400<br>
                            Seattle WA, 98104<br>
                            United States of America<br>
                            1-800-970-9618
                        </p>
                    </div>
                </div>
                <div class="col-md-3 ftr-txt">
                    <h5>ABOUT US</h5>
                    <p>FalconLoop’s Vision is to virtually create a service that delivers greater benefits by being simple, secure, fast, compatible, and reliable. Our mission is to give customers the benefits they expect, where they expect and how they expect to be provided.</p>
                </div>
                <div class="col-md-3 ftr-txt">
                    <h5>HELP &amp; SUPPORT</h5>
                    <ul>
                        <li><a target="_blank" ui-sref='app.Contact_us'>Contact</a></li>
                        <li><a target="_blank" ui-sref='app.Supported_Currencies'>Supported Currencies</a></li>
                        <li><a target="_blank" ui-sref='app.Swift_BIC_Codes'>Swift/BIC Codes</a></li>
                        <li><a target="_blank" ui-sref='app.Track_Transfers'>Track Transfers</a></li>
                        <li><a target="_blank" ui-sref='app.Rate_Alerts'>Rate Alerts</a></li>
                    </ul>
                </div>
                <div class="col-md-3 ftr-txt">
                    <h5>SECURITY &amp; PRIVACY</h5>
                    <ul>
                        <li><a target="_blank" ui-sref='app.US_state_lcensing'>U.S. State Licensing</a></li>
                        <li><a target="_blank" ui-sref='app.International_Licensing'>International Licensing</a></li>
                        <li><a target="_blank" ui-sref='app.Security_Center'>Security Center</a></li>
                        <li><a target="_blank" ui-sref='app.privacy_policy'>Privacy Policy</a></li>
                        <li><a target="_blank" ui-sref='app.User_agreement'>User Agreement</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</div>
