<header class="navbar navbar-expand-md flex-column flex-sm-row header-container-wrapper pt-0 pb-0 pl-md-0 pr-md-0">
    <div class="container flex-column flex-sm-row">
        <a class="navbar-brand" ui-sref='app.customerPortal'>
            <img src="images/sending-loop-logo.png" alt="Recharge Mobile Phones">
        </a>
    </div>
</header>
<style>
    body {
        font-family: 'Montserrat', sans-serif;
        max-width: 1170px;
        width: 100%;
        margin: 0 auto;
        box-sizing: border-box;
        padding: 20px;
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    td {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(odd) {
        background-color: #f4f4f4;
    }

    .cm-ul {
        list-style: none;
        padding-left: 0;
    }

        .cm-ul > li > ul > li {
            padding: 10px;
            list-style: initial;
        }
</style>

<div class="body-container-wrapper" style="margin-top: 100px;">
    <div class="text-center">
        <h1>Contact Us</h1>

    </div>

    <h3>Errors and Problems</h3>
    <ul class="cm-ul">
        <li>You have a right to dispute errors in your Transaction. If you think there is an error, contact us within 180 days of the Transaction at 1-800-970-9618 (outside the United States, call +1 (408) 752-2910) or online. You can also contact us for a written explanation of your rights.</li>
        <li>
            <ul>
                <li>You can cancel for a full refund within 30 minutes of authorizing your Transaction, unless the funds or mobile reload have already been picked up, deposited, delivered, or paid to the Recipient or Service Company.</li>
                <li>For questions or complaints about the Service, contact us online; by telephone at 1-800-970-9618 (outside the United States, call +1 (408) 752-2910); or by mail at FalconLoop Customer Service, 506 Second Ave. Suite 1400, Seattle WA, 98104, USA</li>
            </ul>
        </li>
    </ul>
    <h3>Email Us</h3>
    <div ng-controller="manageContectUsController">
        <div class="m-t">
            <form role="form" ui-jq="validate" name="tblContactUs">
                <div class="form-group row">
                    <label class="col-sm-3" for="email"><b>Email Address</b></label>
                    <div class="col-sm-8">
                        <input type="email" class="form-control cm-input " ng-model="ContactUsModal.Email" name="email" required>
                        <p>(Use your FalconLoop account if applicable)</p>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3" for="Username"><b>Name</b></label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control cm-input " ng-model="ContactUsModal.Name" name="first-name" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3" for="sel1"><b>Receiving Country</b></label>
                    <div class="col-sm-8">
                        <select name="CustomerRegister" id="Select1" ng-model="ContactUsModal.ReceivingCountry" class="form-control cm-input" required>
                            <option value="0">-- Select Country --</option>
                            <option ng-repeat="Country in Countries" value="{{Country.CountryName}}">{{Country.CountryName}}</option>
                        </select>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-3" for="phone"><b>FalconLoop Transaction Number</b> </label>
                    <div class="col-sm-8">
                        <input type="text" ng-model="ContactUsModal.FalconLoopTransactionNumber" name="phone" class="form-control cm-input" required>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-3" for="Subject"><b>Subject</b> </label>
                    <div class="col-sm-8">
                        <input type="text" ng-model="ContactUsModal.Subject" class="form-control cm-input" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3" for="Question"><b>Question</b> </label>
                    <div class="col-sm-8">
                        <textarea name="password" ng-model="ContactUsModal.Question" class="form-control cm-input" required></textarea>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-8" id="viewAlert"></div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-6 text-right">
                        <button type="submit" class="btn btn-success custom-form-btn" ng-click="tblContactUs.$valid && Create(1)">Submit</button>
                    </div>
                    <div class="col-sm-5">
                        <button type="button" class="btn btn-default custom-form-btn" ng-click="CancelEmail()">Cancel</button>
                    </div>
                </div>
            </form>
        </div>


        <!-- <p>Email Address (Use your FalconLoop account if applicable)</p>

    <p>Name</p>
    <p>Receiving Country</p>
    <p>--Select a Country--</p>
    <p>FalconLoop Transaction Number</p>
    <p>Subject</p>
    <p>Question</p>-->


        <h3 class="m-t">Request Refund Online:</h3>
        <div class="m-t">
            <form role="form" ui-jq="validate" name="tblRequestRefund">
                <div class="form-group row">
                    <label class="col-sm-3" for="email"><b>Email Address</b></label>
                    <div class="col-sm-8">
                        <input type="email" class="form-control cm-input " ng-model="RequestRefundModal.Email" name="email" required>
                        <p>(Use your FalconLoop account if applicable)</p>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3" for="Username"><b>Name</b></label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control cm-input " ng-model="RequestRefundModal.Name" name="first-name" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3" for="sel1"><b>Receiving Country</b></label>
                    <div class="col-sm-8">
                        <select name="CustomerRegister" id="Select2" ng-model="RequestRefundModal.ReceivingCountry" class="form-control cm-input" required>
                            <option value="0">-- Select Country --</option>
                            <option ng-repeat="Country in Countries" value="{{Country.CountryName}}">{{Country.CountryName}}</option>
                        </select>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-3" for="phone"><b>FalconLoop Transaction Number</b> </label>
                    <div class="col-sm-8">
                        <input type="text" ng-model="RequestRefundModal.FalconLoopTransactionNumber" name="phone" class="form-control cm-input" required>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-3" for="Subject"><b>Subject</b> </label>
                    <div class="col-sm-8">
                        <input type="text" ng-model="RequestRefundModal.Subject" class="form-control cm-input" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3" for="Question"><b>Error and Problem Details</b> </label>
                    <div class="col-sm-8">
                        <textarea name="password" ng-model="RequestRefundModal.Question" class="form-control cm-input" required></textarea>
                    </div>
                </div>
                 <div class="form-group row">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-8" id="viewContact"></div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-6 text-right">
                        <button type="submit" class="btn btn-success custom-form-btn" ng-click="tblRequestRefund.$valid && Create(2)">Submit</button>
                    </div>
                    <div class="col-sm-5">
                        <button type="button" class="btn btn-default custom-form-btn" ng-click="CancelRequest()">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </div>



    <!--    <p>Name</p>
    <p>Receiving Country</p>
    <p>--Select a Country--</p>
    <p>FalconLoop Transaction Number</p>
    <p>Subject: Refund</p>
    <p>Error and Problem Details </p>-->


    <ul>
        <li><b>Request Refund By:</b></li>
        <li>
            <ul>
                <li>Call Customer Service 1-800-970-9618  (within the U.S.) +1 (408) 752-2910)  (outside the U.S.)</li>
            </ul>
        </li>


    </ul>

    <!--<h3>U.S. State Licensing</h3>-->

</div>
