<header class="navbar navbar-expand-md flex-column flex-sm-row header-container-wrapper pt-0 pb-0 pl-md-0 pr-md-0">
    <div class="container flex-column flex-sm-row">
        <a class="navbar-brand" ui-sref='app.customerPortal'>
            <img src="images/sending-loop-logo.png" alt="Recharge Mobile Phones">
        </a>
    </div>
</header>



<style>
    body {
        font-family: 'Montserrat', sans-serif;
        max-width: 1170px;
        width: 100%;
        margin: 0 auto;
        box-sizing: border-box;
        padding: 20px;
    }

    .cm-ul {
        list-style: none;
        padding-left: 0;
    }

        .cm-ul > li > ul > li {
            padding: 10px;
            list-style: initial;
        }
</style>

<div class="body-container-wrapper" style="margin-top: 100px;">
    <div class="text-center">
        <h1>Return Policy</h1>
    </div>

    <p><b>Cancellation and Refunds.</b> You can cancel your Transaction for a full refund within 30 minutes of authorizing your Transaction, unless the funds or mobile reload have already been paid out to the Recipient or Service Company. After 30 minutes, we generally do not provide refunds unless we did not process your Transaction according to your instructions or we are unable to pay out the Transaction. To request a refund, please contact Customer Service (See Help and Support Section, click on Contact, read Errors and Problems or Click on the Refunds option).</p>

    <ol>
        <li>
            <p><b>i.  California.</b> The following applies only to Transactions that are submitted by Senders in California.</p>


            <p><b>RIGHT TO REFUND: You, the customer, are entitled to a refund of the money to be transmitted as the result of this agreement if FalconLoop does not forward the funds received from you within 10 days of the date of its receipt, or does not give instructions committing an equivalent amount of funds to the person designated by you within 10 days of the date of the receipt of the funds from you unless otherwise instructed by you.</b></p>
            <p><b>If your instructions as to when the funds shall be forwarded or transmitted are not complied with and the funds have not yet been forwarded or transmitted you have a right to a refund.</b></p>
            <p><b>If you want a refund, you must mail or deliver your written request to FalconLoop Customer Service, at 905 West Russell Road Unit 240 Las Vegas, NV 89148 USA. If you do not receive your refund, you may be entitled to your money back plus a penalty of up to $1,000 and attorney's fees pursuant to Section 2102 of the California Financial Code.</b></p>
        </li>
        <li>
            <p><b>ii.  New Hampshire.</b> The following applies only to Transactions that are submitted by Senders in New Hampshire: Senders are entitled to a refund of the Transaction Amount and Transaction Fee if their Transaction is not paid out according to the information they provide about their Recipient, unless the Transaction is in violation of applicable law or this User Agreement. In the case of any such refund, the Transaction will also be cancelled.</p>
        </li>
        <li>
            <p><b>iii.  Washington.</b> The following applies only to Transactions that are submitted by Senders in New Hampshire: Senders are entitled to a refund of the Transaction Amount and Transaction Fee if their Transaction is not paid out according to the information they provide about their Recipient, unless the Transaction is in violation of applicable law or this User Agreement. In the case of any such refund, the Transaction will also be cancelled.</p>
            <ol>
                <li>
                    <p>1. The monies have been transmitted and delivered to the recipient prior to receipt of the written request for a refund; </p>
                </li>
                <li>
                    <p>2. Instructions have been given committing an equivalent amount of money to the person designated by the customer prior to receipt of a written request for a refund;</p>
                </li>
                <li>
                    <p>3. FalconLoop or its authorized delegate has reason to believe that a crime has occurred, is occurring, or may potentially occur as a result of transmitting the money as requested by the customer or refunding the money as requested by the customer; or</p>
                </li>
                <li>
                    <p>4. FalconLoop is otherwise barred by law from making a refund.</p>
                </li>
                <li>
                    <p>5. of the policy: Unfortunately, we cannot issue refunds for any cell phone / wireless refill cards, unless PIN is verified to be defective.</p>
                </li>

                <li>
                    <p>6. Furthermore, if we are unable to remedy a problem with your card, we are happy to contact the carrier in question on your behalf to resolve the issue.</p>
                    <p>
                        For any questions, please contact Customer Service at Support@sendingloop.com
                    </p>
                </li>

            </ol>

        </li>
    </ol>



</div>
